
<ion-item class="gradient-bg diagonal-sides">
  <img class="iconaFood" src="assets/Img/food.png" />
  <ion-card-title class="titleView">{{ 'PromoFood' | translate }}</ion-card-title>
  <ion-icon (click)="RicercaAttivitaEvent()" slot="end" name="chevron-forward-outline"></ion-icon>
</ion-item>

<div class="card-containerHomePage" #widgetsContent *ngIf="!isLoading">
  <div class="card-wrapperHomePage">

    <div *ngFor="let attivita of elencoAttivita" (click)="VisualizzaAttivita(attivita)">
      <div *ngFor="let promo of attivita.promo?.slice(0, 1)">
          
      <ion-card class="card-consigli" (click)="VisualizzaAttivita(attivita)">
      <!-- Immagine -->
      <img class="card-img" [src]="attivita.uploadImgPrincipale" alt="{{'ACTIVITYPHOTO|translate'}}"/>
          
      <!-- Badge PROMO in alto -->
      <div class="promo-badge">
        <img src="assets/Img/Icon_.png" style="width: 50px; height: 50px;">
      </div>
    
      <!-- Overlay rating -->
      <div class="rating-overlayPromo">
        <ion-icon name="star" class="star"></ion-icon>
        <span class="lblStar">{{attivita.rating}}</span>
      </div>

      <div class="divider-overlayPromo">
       <span class="meta-divider"></span>
      </div>
    
      <!-- Overlay distanza -->
      <div class="distance-overlayPromo">
        <ion-icon name="location" class="distance"></ion-icon>
        <span class="lblDistance">{{attivita.distanza}}</span>
      </div>
    
      <!-- Spicchio bianco in basso -->
      <div class="card-bottom">
        <div class="titlePromo" title="{{ promo.titoloPromo }}">
          {{ promo.titoloPromo }}
        </div>
        <div class="activityName" title="{{ attivita.nome }}">
          {{ attivita.nome }}
        </div>
      </div>
      </ion-card>
      </div>
    </div>
  </div>
</div>

<div class="card-containerHomePage" #widgetsContent *ngIf="isLoading">
  <div class="card-wrapperHomePage">
         <ion-card class="skeleton">
      <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
    <ion-card class="skeleton">
      <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
    </div>
</div>