  .card-consigli {
    flex: 0 0 auto;
    width: 95%;
    width: 310px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    min-height: 175px;
  }

  .divContainerCard{
    flex: 0 0 auto;
    width: 95%;
    width: 330px;
    border-radius: 16px;
    overflow: hidden;
    min-height: 220px;
  }

  .divPromoContainer {
    flex: 0 0 auto;
    width: 95%;
    width: 320px;
    border-radius: 16px;
    min-height: 180px;
  }
  
  .typePromo-overlayHomePage {
    position: relative;
    left: 15px;
    top:29px;
    z-index: 99;
    display: flex;
    align-items: center;
  }

  .rating{
    margin-left: 18px;
    margin-top: 9px;
  }

  .imgIcon {
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 100;
    width: 90px;
    height: 50px;
  }
  
  
  .icona-promo {
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-right: 3px;
  }
  

  .icona-promo-container {
    width: 35px;
    height: 35px;
    margin-left: 3px;
    margin-right: 3px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.05); /* Ombra solo sopra */
    transition: transform 0.2s ease;
  }

  .dueperuno{
    margin-top: 3px;
    margin-right: 2px;
  }

  .gift{
    margin-top: 2px;
    margin-right: 3px;
  }
  
  .bundle{
    margin-top: 5px;
    margin-right: 1px;
  }
  
  .percent{
    margin-top: 2px;
    margin-right: 2px;
  }
  
  .child{
    margin-top: 2px;
    margin-right: 1px;
  }
  
  .family{
    margin-top: 2px;
    margin-right: 1px;
  }
  
  .love{
    margin-top: 3px;
    margin-right: 2px;
  }
  
  .vegan{
    margin-top: 3px;
    margin-right: 2px;
  }
  
  .vegetarian{
    margin-top: 3px;
    margin-right: 3px;
  }

  .avatar{
    margin-left:-15px;
    width: 50px;
    height: 50px;
  }
  
  .distancePromo-overlay {
    position: absolute;
    top: 52px;
    right: 10px;
    color: #333;
    padding: 3px 8px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    z-index: 100;
    white-space: nowrap;
  }

  .titlePromoHomePage{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 5px;
    font-style: italic;
  }
  

  .skeleton {
    flex: 0 0 auto;
    width: 260px;
    height: 210px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }

  .imgSkeleton{
    width: 100%;
    margin-top: -10px;
    height: 130px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }

  .item-promo {
    --height: 70px;
    margin-left:10px;
    padding: 6px 0;
    width: 250px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .textPromo{
    max-width: 200px;
    font-size: 16px;
    font-weight: 600;
  }

  .chipPeriodPromo {
  font-size: 10px !important;
  height: 20px !important;
  padding: 0 6px !important;
  --padding-start: 6px;
  --padding-end: 6px;
  --border-radius: 8px;
  --min-height: 20px;
}

  .card-consigli:hover {
    transform: scale(1.02);
  }
  
  .card-consigli .imgAtt{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  