<form [formGroup]="exampleForm">
  <ion-item>
    <ion-textarea
      label="Descrizione dell'offerta*" 
      labelPlacement="stacked"
      type="text"
      formControlName="descFormControl"
      value={{descrizione}}
      [counter]="true"
      maxlength="200"
      [autoGrow]="true">
    </ion-textarea>
  </ion-item>
  <ion-note style="margin-left: 5%;" *ngIf="hasError('required')" color="danger">
    {{ 'ENTER_DESCRIPTION' | translate }}
  </ion-note>
  <ion-note style="margin-left: 5%;" *ngIf="hasError('minlength')" color="danger">
    {{ 'MIN_LENGTH_5' | translate }}
  </ion-note>
  <ion-note style="margin-left: 5%;" *ngIf="hasError('maxlength')" color="danger">
    {{ 'MAX_LENGTH_200' | translate }}
  </ion-note>
</form>