.title{
    --font-family: 'Inter', sans-serif !important;
    font-size: 1.1rem;
}

.subTitle{
    --font-family: 'Inter', sans-serif !important;
    font-size: 1rem;
}

.text{
    --font-family: 'Inter', sans-serif !important;
    font-size: 0.90rem;
}