<ion-grid class="horizontal-scroll">
  <ion-row>
    <ion-col (click)="Ricerca(5)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/badge.png"/>
      </div>
      <label class="icon-caption">Sconti</label>
    </ion-col>

    <ion-col (click)="Ricerca(7)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/ticket famiglia.png"/>
      </div>
      <div class="icon-caption">Per Famiglie</div>
    </ion-col>

    <ion-col (click)="Ricerca(8)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/picci picci .png"/>
      </div>
      <div class="icon-caption">Per Coppie</div>
    </ion-col>
    
    <ion-col (click)="Ricerca(4)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/scatola.png"/>
      </div>
      <div class="icon-caption">Pacchetti</div>
    </ion-col>

    <ion-col (click)="Ricerca(1)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/2x1.png"/>
      </div>
      <div class="icon-caption">2 al prezzo di 1</div>
    </ion-col>

    <ion-col (click)="Ricerca(9)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/vegan.png"/>
      </div>
      <div class="icon-caption">Vegani</div>
    </ion-col>

    <ion-col (click)="Ricerca(6)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/icons8-child-60.png"/>
      </div>
      <div class="icon-caption">Per bambini</div>
    </ion-col>

    <ion-col (click)="Ricerca(10)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/leaf.png"/>
      </div>
      <div class="icon-caption">Vegetariani</div>
    </ion-col>

    <ion-col (click)="Ricerca(3)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/gift 2.png"/>
      </div>
      <div class="icon-caption">Omaggi</div>
    </ion-col>
  </ion-row>
</ion-grid>
