<ion-grid class="horizontal-scroll">
  <ion-row>
    <ion-col (click)="Ricerca(5)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/percentuale.png"/>
      </div>
      <label class="icon-caption">{{ 'Discounts' | translate }}</label>
    </ion-col>

    <ion-col (click)="Ricerca(7)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/ticket famiglia.png"/>
      </div>
      <div class="icon-caption">{{ 'Families' | translate }}</div>
    </ion-col>

    <ion-col (click)="Ricerca(8)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/love.png"/>
      </div>
      <div class="icon-caption">{{ 'Couples' | translate }}</div>
    </ion-col>
    
    <ion-col (click)="Ricerca(4)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/scatola.png"/>
      </div>
      <div class="icon-caption">{{ 'Bundle' | translate }}</div>
    </ion-col>

    <ion-col (click)="Ricerca(1)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/2x1.png"/>
      </div>
      <div class="icon-caption">2 X 1</div>
    </ion-col>

    <ion-col (click)="Ricerca(9)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/vegano.png"/>
      </div>
      <div class="icon-caption">{{ 'Vegan' | translate }}</div>
    </ion-col>

    <ion-col (click)="Ricerca(6)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/bambini.png"/>
      </div>
      <div class="icon-caption">{{ 'Bundle' | translate }}</div>
    </ion-col>

    <ion-col (click)="Ricerca(10)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/vegetariano.png"/>
      </div>
      <div class="icon-caption">{{ 'Vegetarian' | translate }}</div>
    </ion-col>

    <ion-col (click)="Ricerca(3)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/gift 2.png"/>
      </div>
      <div class="icon-caption">{{ 'Gift' | translate }}</div>
    </ion-col>
  </ion-row>
</ion-grid>
