<form class="form">
  <ion-grid style="margin-left: 5%;">
      <ion-row>
        <ion-col>
          <ion-label>{{'SELECT_OFFER_TYPES'|translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox labelPlacement="end" [formControl]="is2X1FormControl" [checked]=is2X1>2X1</ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox labelPlacement="end" [formControl]="is3X2FormControl" [checked]=is3x2>3X2</ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox labelPlacement="end" [formControl]="isOmaggioFormControl" [checked]=isOmaggio>{{'SingleGift'|translate}}</ion-checkbox>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-checkbox labelPlacement="end" [formControl]="isPacchettoFormControl" [checked]=isPacchetto>{{'Bundle'|translate}}</ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-checkbox labelPlacement="end" [formControl]="isScontoFormControl" [checked]=isSconto>{{'Discount'|translate}}</ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-checkbox labelPlacement="end" [formControl]="isBambiniFormControl" [checked]=isBambini>{{'Child'|translate}}</ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-checkbox labelPlacement="end" [formControl]="isFamiglieFormControl" [checked]=isFamiglie>{{'Families'|translate}}</ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-checkbox labelPlacement="end" [formControl]="isCoppieFormControl" [checked]=isCoppie>{{'Couples'|translate}}</ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-checkbox labelPlacement="end" [formControl]="isVeganiFormControl" [checked]=isVegani>{{'ForVegans'|translate}}</ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-checkbox labelPlacement="end" [formControl]="isVegetarianiFormControl" [checked]=isVegetariani>{{'ForVegetarians'|translate}}</ion-checkbox>
          </ion-col>
        </ion-row>
    </ion-grid>
</form>
