ion-input{
    min-width: 300px;
    margin-right: 5%;
}

ion-card{
    margin-top: 10%;
    min-width: 320px;
}


  ion-searchbar {
    --border-radius: 40px;
  }

  .ticket {
    justify-content: center; 
    align-items: center; 
    height: 35px; 
    width: 35px; 
    background-color: rgb(65, 217, 65); 
    border-radius: 50%;
  }

  .iconTicket{
    height: 30px; 
    width: 30px; 
    margin-top: 3%; 
    margin-left: 2%;
  }

  .label-overlay {
    z-index: 100;
    background-color: rgb(30, 192, 39); /* Aggiungi uno sfondo semi-trasparente se lo desideri */
    color: white; /* Colore del testo */
    padding: 5px 10px;
    border-radius: 4px;
  }

  .suggestion-list {
  position: absolute;
  width: 90%;
  margin-left: 5%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.search-wrapper {
  position: relative;
  margin-bottom: 40px; // spazio per la lista sovrapposta
}