<ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>

<form style="margin-top: 30px; margin-bottom: 80px;">

  <div class="search-wrapper">
  <ion-searchbar search-icon="location-outline" class="search"
    placeholder="Posizione attuale"
    [formControl]="citySearchControl"
    (ionInput)="onCitySearchInput($event)"
    (ionFocus)="showCitySuggestions = true"
    (ionClear)="onClearCitySearch()">
  </ion-searchbar>

  <ion-list *ngIf="showCitySuggestions && filteredCityOptions.length > 0" class="suggestion-list">
    <ion-item *ngFor="let option of filteredCityOptions" (click)="selectCityOption(option)">
      <ion-label>
        <label *ngIf="option.type === 'citta'"><ion-icon name="location-outline"></ion-icon> {{ option.descComune }}</label>
      </ion-label>
    </ion-item>
  </ion-list>
  </div>

  <div class="search-wrapper">
    <ion-searchbar  class="search"
    placeholder="Cerca per nome o tipo di locale"
    [formControl]="globalSearchControl"
    (ionInput)="onGlobalSearchInput($event)"
    (ionFocus)="showUnifiedSuggestions = true"
    (ionClear)="onClearGlobalSearch()">
    </ion-searchbar>
    <ion-list *ngIf="showUnifiedSuggestions && searchItemList.length > 0" class="suggestion-list">
    <ion-item *ngFor="let option of searchItemList" (click)="selectUnifiedOption(option)">
      <ion-label>
        <label *ngIf="option.type === 1"><ion-icon name="storefront-outline"></ion-icon> {{ option.descrizione }}</label>
        <div *ngIf="option.type === 2"> <strong><ion-icon name="pin-outline"></ion-icon>  {{ option.descrizione }}</strong></div>         
      </ion-label>
    </ion-item>
    </ion-list>
  </div>

<div class="filterContainer" *ngIf="isModalOpen">
<ion-grid class="gridContainer">
  <ion-row style="margin-top: 10px;">
    <ion-col size="12" class="ion-text-center">
        <ion-card-title class="titleView"><ion-icon name="filter-outline"></ion-icon>
          {{ 'FilterPromo' | translate }}
        </ion-card-title>
        <ion-item-divider style="margin-top: -15px;" ></ion-item-divider>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-accordion-group expand="inset" toggleIcon="none" multiple="true" style="width: 100%;">
    <ion-accordion value="first" toggleIcon="none">
      <ion-item slot="header" class="headeritem">
        <ion-toggle slot="start" (click)="isFirstOpen = !isFirstOpen"></ion-toggle>
        <ion-label style="margin-left: 10px;" class="labelView">{{ 'ConsumptionType' | translate }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" *ngIf="isFirstOpen">
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="ion-text-center" style="z-index: 2;">
              <div
                class="icon-container shiny-box"
                [ngClass]="{ 'active': selectedTipo === 1 }"
                (click)="selectedTipo = 1">
                <ion-icon name="pizza-outline"></ion-icon>
                <div class="label">Cibo</div>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center" style="z-index: 2;">
              <div
                class="icon-container"
                [ngClass]="{ 'active': selectedTipo === 2 }"
                (click)="selectedTipo = 2">
                <ion-icon name="wine-outline"></ion-icon>
                <div class="label">Bevande</div>
              </div>
            </ion-col>
            <ion-col size="4" class="ion-text-center" style="z-index: 2;">
              <div
                class="icon-container"
                [ngClass]="{ 'active': selectedTipo === 3 }"
                (click)="selectedTipo = 3">
                <ion-icon name="fast-food-outline"></ion-icon>
                <div class="label">Entrambi</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="second" toggleIcon="none">
      <ion-item slot="header" class="headeritem">
        <ion-toggle slot="start" (click)="isSecondOpen = !isSecondOpen"></ion-toggle>
        <ion-label style="margin-left: 10px;" class="labelView"> {{ 'TIME_OF_DAY_SEARCH' | translate }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" *ngIf="isSecondOpen">
      <ion-radio-group value="sempre" class="custom-radio-group">
        <div *ngFor="let item of tipoPeriodoList">
          <ion-radio value={{item.id}} label-placement="end" (click)="SetPeriodo(item.id)">{{item.descrizione}}</ion-radio>
        </div>
        </ion-radio-group>
      </div>
    </ion-accordion>
    <ion-accordion value="third" toggleIcon="none">
      <ion-item slot="header" class="headeritem">
        <ion-toggle slot="start" (click)="isThirdOpen = !isThirdOpen"></ion-toggle>
        <ion-label style="margin-left: 10px;" class="labelView"> {{ 'TYPEPROMO' | translate }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" *ngIf="isThirdOpen">
        <ion-grid>
            <ion-row style="margin-top: 10px;">
              <ion-col size="4" class="ion-text-center">
                <div class="type">
                  <div class="icon-container-type" [ngClass]="{ 'active': selectedTypePromo.includes(1) }" (click)="togglePromoSelection(1)">
                    <img *ngIf="!selectedTypePromo.includes(1)" class="icona-promo dueperuno" src="assets/Img/2x1_Ar.png" />
                    <img *ngIf="selectedTypePromo.includes(1)" class="icona-promo dueperuno" src="assets/Img/2x1.png" />
                  </div>
                  <div class="label">2X1</div>
                </div>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <div class="type">
                  <div class="icon-container-type" [ngClass]="{ 'active': selectedTypePromo.includes(3) }" (click)="togglePromoSelection(3)">
                    <img *ngIf="!selectedTypePromo.includes(3)" class="icona-promo gift" src="assets/Img/gift 2_Ar.png" />
                    <img *ngIf="selectedTypePromo.includes(3)" class="icona-promo gift" src="assets/Img/gift 2.png" />
                  </div>
                  <div class="label">Omaggi</div>
                </div>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <div class="type">
                  <div class="icon-container-type" [ngClass]="{ 'active': selectedTypePromo.includes(4) }" (click)="togglePromoSelection(4)">
                    <img *ngIf="!selectedTypePromo.includes(4)" class="icona-promo bundle" src="assets/Img/scatola_Ar.png" />
                    <img *ngIf="selectedTypePromo.includes(4)" class="icona-promo bundle" src="assets/Img/scatola.png" />
                  </div>
                  <div class="label">Pacchetti</div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-center">
                <div class="type">
                  <div class="icon-container-type" [ngClass]="{ 'active': selectedTypePromo.includes(5) }" (click)="togglePromoSelection(5)">
                    <img *ngIf="!selectedTypePromo.includes(5)" class="icona-promo percent" src="assets/Img/percentuale_Ar.png" />
                    <img *ngIf="selectedTypePromo.includes(5)" class="icona-promo percent" src="assets/Img/percentuale.png" />
                  </div>
                  <div class="label">Sconti</div>
                </div>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <div class="type">
                  <div class="icon-container-type" [ngClass]="{ 'active': selectedTypePromo.includes(6) }" (click)="togglePromoSelection(6)">
                    <img *ngIf="!selectedTypePromo.includes(6)" class="icona-promo child" src="assets/Img/bambini_Ar.png" />
                    <img *ngIf="selectedTypePromo.includes(6)" class="icona-promo child" src="assets/Img/bambini.png" />
                  </div>
                  <div class="label">Per Bambini</div>
                </div>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <div class="type">
                  <div class="icon-container-type" [ngClass]="{ 'active': selectedTypePromo.includes(7) }" (click)="togglePromoSelection(7)">
                    <img *ngIf="!selectedTypePromo.includes(7)" class="icona-promo family" src="assets/Img/ticket famiglia_Ar.png" />
                    <img *ngIf="selectedTypePromo.includes(7)" class="icona-promo family" src="assets/Img/ticket famiglia.png" />
                  </div>
                  <div class="label">Per Famiglie</div>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" class="ion-text-center">
                <div class="type">
                  <div class="icon-container-type" [ngClass]="{ 'active': selectedTypePromo.includes(8) }" (click)="togglePromoSelection(8)">
                    <img *ngIf="!selectedTypePromo.includes(8)" class="icona-promo love" src="assets/Img/love_Ar.png" />
                    <img *ngIf="selectedTypePromo.includes(8)" class="icona-promo love" src="assets/Img/love.png" />
                  </div>
                  <div class="label">Per Coppie</div>
                </div>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <div class="type">
                  <div class="icon-container-type" [ngClass]="{ 'active': selectedTypePromo.includes(9) }" (click)="togglePromoSelection(9)">
                    <img *ngIf="!selectedTypePromo.includes(9)" class="icona-promo vegan" src="assets/Img/vegano_Ar.png" />
                    <img *ngIf="selectedTypePromo.includes(9)" class="icona-promo vegan" src="assets/Img/vegano.png" />
                  </div>
                  <div class="label">Per Vegani</div>
                </div>
              </ion-col>
              <ion-col size="4" class="ion-text-center">
                <div class="type">
                  <div class="icon-container-type" [ngClass]="{ 'active': selectedTypePromo.includes(10) }" (click)="togglePromoSelection(10)">
                    <img *ngIf="!selectedTypePromo.includes(10)" class="icona-promo vegan" src="assets/Img/vegetariano_Ar.png" />
                    <img *ngIf="selectedTypePromo.includes(10)" class="icona-promo vegan" src="assets/Img/vegetariano.png" />
                  </div>
                  <div class="label">Per Vegetariani</div>
                </div>
              </ion-col>
            </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <ion-accordion value="fourth" toggleIcon="none">
      <ion-item slot="header" class="headeritem">
        <ion-toggle slot="start" (click)="isFourthOpen = !isFourthOpen"></ion-toggle>
        <ion-label style="margin-left: 10px;" class="labelView"> {{ 'WEEK_DAYS' | translate }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content" *ngIf="isFourthOpen">
        <app-giorni-validita [isTitleVisible]="false"
                             (isAllSettimanaChange)="handleAllSettimanaChange($event)"
                             (isLunediChange)="handleLunediChange($event)"
                             (isMartediChange)="handleMartediChange($event)"
                             (isMercolediChange)="handleMercolediChange($event)"
                             (isGiovediChange)="handleGiovediChange($event)"
                             (isVenerdiChange)="handleVenerdiChange($event)"
                             (isSabatoChange)="handleSabatoChange($event)"
                             (isDomenicaChange)="handleDomenicaChange($event)">></app-giorni-validita>
      </div>
    </ion-accordion>



    </ion-accordion-group>
  </ion-row>
  
  <!-- <ion-item-divider style="margin-top: -15px; z-index: 1;" ></ion-item-divider>
  <ion-row>
    <ion-col size="12" class="ion-text-left" style="margin-top: 10px;">
      <ion-label class="labelView">
        {{ 'TIME_OF_DAY_SEARCH' | translate }}</ion-label>
    </ion-col>
  </ion-row> -->

</ion-grid>

</div>
</form>

<div class="fixed-search-button">
  <ion-button shape="round" style="width: 180px;" (click)="Ricerca()">
    <ion-label>{{ 'Search' | translate }}</ion-label>
  </ion-button>
</div>
