ion-input{
    min-width: 300px;
    margin-right: 5%;
}

ion-card{
    margin-top: 10%;
    min-width: 350px;
}

ion-spinner {
    width: 70px;
    height: 70px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ion-searchbar {
    --border-radius: 40px;
  }

  .ticket {
    justify-content: center; 
    align-items: center; 
    height: 35px; 
    width: 35px; 
    background-color: rgb(65, 217, 65); 
    border-radius: 50%;
  }

  .iconTicket{
    height: 30px; 
    width: 30px; 
    margin-top: 3%; 
    margin-left: 2%;
  }

  .colIcon{
    align-items: center; 
    justify-content: center;
  }

  .iconArrow{
    height: 35px; 
    width: 35px; 
    color: #e9540a;
  }