  ion-input{
      min-width: 300px;
      margin-right: 5%;
  }

  ion-card{
      margin-top: 10%;
      min-width: 320px;
  }

  ion-searchbar.search {
  --height: 60px;
  --border-radius: 10px;
  --background: #f5f5f5;
  --box-shadow: none;
  --padding-start: 12px;
  --padding-end: 12px;
  font-size: 16px;
}

.gridContainer{
  margin-top: 15px; 
  margin-bottom: 20px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  height: 75px;
  border-radius: 10px;
  z-index: 500; /* assicura che stia sopra agli altri elementi */
    /* ✅ Sfondo grigio chiaro effetto vetro */
  background: rgba(255, 255, 255, 0.907); /* grigio chiaro semi-trasparente */
  backdrop-filter: blur(6px); /* effetto vetro */
  -webkit-backdrop-filter: blur(6px); /* Safari */

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* ombra più soft e moderna */
  transition: 0.3s;
}

.fixed-search-button {
  position: fixed;
  bottom: 60px; /* distanza dal bordo inferiore */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* assicura che stia sopra agli altri elementi */
}

.icon-container.active {
  background-color: var(--ion-color-primary);
  color: #fff;
}

.icon-container.active ion-icon {
  --color: #fff !important; /* usa la variabile interna Ionic */
  color: #fff; /* fallback */
}


.icon-container.active .label {
  color: #fff;
}

.icon-container ion-icon {
  font-size: 24px;
  margin-bottom: 6px;
  color: #e9540a; /* colore icona non selezionata */
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin-top: 7px;
}

.bundle{
    margin-top: 5px;
  }


.icon-container-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: #fff;
  transition: 0.3s;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin-top: -10px;
}

.icon-container-type.active {
  background-color: #e9540a;
  color: #fff;
}

.icon-container-type.active .label {
  color: #fff;
}

.icona-promo{
  height: 40px;
  width: 40px;
}

  .suggestion-list {
  position: absolute;
  width: 90%;
  margin-left: 5%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.search-wrapper {
  position: relative;
}


