.map {
  position: relative;
  height: 100vh;
  margin-top: 15px;
}

:host {
  display: block;
  height: 100%;
}

ion-toolbar {
  --background: #e9540a;
  height: 45px;
}

.closewhite {
    width: 30px;
    height: 30px;;
    color:white;
    margin-bottom: 10px;
    margin-right: 10px;
  }

.horizontal-list-overlay {
  position: absolute;
  bottom: 35px;
  width: 100%;
  z-index: 10000;
  pointer-events: auto;
  margin-left: 15px;
}

.label-overlayMap {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 100;
  background-color: rgb(30, 192, 39);
  color: white;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.distance-overlayMap {
  position: absolute;
  top: 185px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  padding: 3px 8px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 12px;
  display: flex;
  align-items: center;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.loading-overlay {
  position: absolute;
  z-index: 999;
  background: rgba(255,255,255,0.6);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0,0,0,0.75);
  color: #ffd700;
  font-weight: 600;
  padding: 3px 8px;
  font-size: 0.85rem;
  border-radius: 6px;
  z-index: 10;
}

.att-title {
  --font-family: 'Helvetica', sans-serif !important;
  font-size: 1.1rem;
  font-weight: 450;
  margin-top: 15px;
  color: #1e1e1e;
}

.att-address {
  font-size: 0.95rem;
  color: #665;
}

.att-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #f0f0f0;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 12px;
  padding: 8px 12px 12px 12px; /* padding orizzontale */
}

.scroll-container {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.card-attivita {
  scroll-snap-align: center;
}

.card-attivita {
  flex: 0 0 85%;
  max-width: 300px;
  display: flex;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
  margin-bottom: 75px;
}

.card-attivita img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 12px 0 0 12px;
}

.card-content {
  padding: 9px;
  display: block;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.btnContent{
  display: flex; 
  justify-content: center; 
  margin-top: 10px;
}

.attivita-card {
  position: relative;
  margin-bottom: 16px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0.5 6px 15px rgba(0,0,0,0.05);
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
}

.rating-overlay {
  position: absolute;
    top: 185px;
    left: 10px;
    z-index: 99;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 4px 8px;
    border-radius: 12px;
}

.label-overlay {
  position: absolute;
  top: 8px; /* Modifica questa posizione in base alle tue preferenze */
  left: 10px; /* Modifica questa posizione in base alle tue preferenze */
  z-index: 100;
  background-color: rgb(30, 192, 39); /* Aggiungi uno sfondo semi-trasparente se lo desideri */
  color: white; /* Colore del testo */
  padding: 5px 10px;
  border-radius: 4px;
}

.btnAttList{
  width: 100%;
  bottom: -20px;
  height: 80px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10010;
  --background: #e9540a;
  --color: white; /* colore del testo/icona */
}

ion-searchbar {
    --border-radius: 40px;
  }

.card-content h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
  display: block;
}

.card-content p {
  margin: 2px 0;
  font-size: 13px;
  color: #666;
}

.tipoAtt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  color: #666;
  width: 170px; 
  display: block;
}


.distance {
    position: absolute;
    bottom: 5px;
    left: 103px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 12px;
    display: flex;
    align-items: center;
    z-index: 100;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
  }

.rating {
    position: absolute;
    bottom: 5px;
    right: 2px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 4px 8px;
    border-radius: 12px;
  }

.badge-promo {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #00c853;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 12px;
}

ion-popover::part(content) {
  border-radius: 20px;
  overflow: hidden;
}

.btnsearch {
  width: 160px;
  height: 40px;
  position: fixed;
  top: 140px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.full-modal{
  z-index: 10001;
}

.white-outline-btn {
  --color: white;               /* Colore del testo e delle icone */
  --border-color: white;        /* Colore del bordo */
  --ion-color-base: transparent; /* Rende il background trasparente */
  margin-left: 5px;
}

.divToolbar  {
  position: fixed;
  top: 55px;
  width: 100%;
  height: 55px;
  z-index: 10000;
  background-color: #e9540a !important;
}

.activity-popover {
  --width: 80vw;
  --max-width: 400px;
  --border-radius: 20px;
  --box-shadow: 0 10px 24px rgba(0, 0, 0, 0.2);

  .popover-wrapper {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .popover-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .popover-body {
    padding: 20px;
    text-align: center;
  }

  .popover-title {
    font-size: 1.2rem;
    font-weight: 450;
    color: #222;
    margin-bottom: 4px;
  }

  .popover-address {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 12px;
  }

  .chip-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 12px;
  }

  .custom-chip {
    font-size: 0.8rem;
    --color: #444;
    --background: #f3f3f3;
  }

  .btn-detail {
    --background: #3880ff;
    --color: white;
    font-weight: 500;
    border-radius: 20px;
  }

}


