

<div class="map">
  <ion-spinner style="background-color: white; border-radius: 25%;" *ngIf="isLoading" name="dots" color="primary"></ion-spinner>
  <ion-button class="btnsearch" color="light" shape="round" style="margin-top: 5rem; z-index: 10000;" *ngIf="this.isMooving" (click)="cerca()">{{'SEARCHHERE'|translate}}</ion-button>
  <google-map *ngIf="isPositionLoaded" [zoom]="12" id="mapElement" #googleMap height="100%" width="100%" [center]="center" 
              (centerChanged)="centerChanged()" 
              (zoomChanged)="zoomChanged()" 
              (mapClick)="move($event)">
  <map-marker *ngFor="let marker of markerPositions let i = index" 
              [position]="marker" 
              [options]="markerOptionsList[i]"
              (mapClick)="markerClicked(marker)">
  </map-marker>
</google-map>
  <ion-button class="btnListaAttivita" shape="round" expand="block" (click)="openListModal()">{{'FullList'|translate}}</ion-button>
</div>
  

<ion-popover style="width: 100%;" [trigger]="null" [isOpen]="isDetailModalOpen" side="top" alignment="center" (didDismiss)="popoverDismissed()">
  <ng-template>
        <img [src]="getImmaginePrincipale(selectedAttivita)" class="imgAttDetail" alt="{{'ACTIVITYPHOTO'|translate}}" />
        <ion-card-header>
          <ion-card-title class="title">{{ selectedAttivita?.nome }}</ion-card-title>
          <ion-card-subtitle>{{ selectedAttivita?.indirizzo }}, {{ selectedAttivita?.civico }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <div class="chip-container">
            <ion-chip style="font-size: x-small;" [outline]="true" *ngFor="let tipo of selectedAttivita?.listaTipoAttivita">{{tipo.descrizione}}</ion-chip>
          </div>
          <div class="btnContent" style="display: flex; justify-content: center; margin-top: 10px;">
            <ion-button class="btnDettaglio" shape="round" (click)="VisualizzaAttivita(selectedAttivita?.idAttivita, 1)">{{'Detail'|translate}}</ion-button>
          </div>
        </ion-card-content>
  </ng-template>
</ion-popover>


  <!-- Modal for activity list -->
  <ion-modal [isOpen]="isListModalOpen" class="full-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="dismissListModal()"><ion-icon name="close-outline" class="closeBlack"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div style="display: flex; justify-content: center; margin-top: 10px;">
          <ion-button shape="round" color="primary" (click)="dismissListModal()">

            <ion-icon name="map-outline"></ion-icon> <ion-label style="margin-left: 10px;">{{'Map'|translate}}</ion-label> 
          </ion-button>
        </div>
        <ion-card *ngFor="let attivita of attivitas" (click)="VisualizzaAttivita(attivita.idAttivita, 2)">
          <img class="imgAtt" [src]="getImmaginePrincipale(attivita)" />
          <ion-card-header>
            <ion-grid style="width: 100%;">
              <ion-row>
                <ion-col size="9">
                  <ion-card-title class="title">{{ attivita.nome }}</ion-card-title>
                  <ion-card-subtitle>{{ attivita.indirizzo }}, {{ attivita.civico }}</ion-card-subtitle>
                </ion-col>
                <ion-col size="3" class="column ion-text-center ion-align-items-center">
                  <ion-card-title class="distance">{{ attivita.distanza }}</ion-card-title>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
