<div style="--margin-bottom: 150px !important; min-height: 1450px; max-height: 1450px; ">
<ion-grid>
  <ion-row>
    <ion-col size="8">
      <ion-title class="title">
        {{ 'HAVESHOP' | translate }} <br>
        {{ 'NOTICENOW' | translate }}
      </ion-title>
    </ion-col>
    <ion-col size="4">
      <img src="assets/Img/1_more_visibility.png"/>
    </ion-col>
  </ion-row>
</ion-grid>


<div style="width: 90%; display: flex; align-items: center; justify-content: center; margin: auto;">
  <ion-label class="lblDescription">
    {{ 'DESCRIPTIONTOREGISTER' | translate }}
  </ion-label>
</div>


<ion-grid style="margin-top: 1.5rem;">
  <ion-item>
    <ion-row  style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
      <ion-col size="4">
        <img src="assets/Img/one more blu.png"/>
      </ion-col>
      <ion-col size="8">
        <ion-label class="lblSubtitle">{{ 'FASTREGISTRATION' | translate }}</ion-label>
          <br>
          <ion-label class="lblDescription">
            {{ 'VISIBLEONREADEAL' | translate}}
          </ion-label>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-row style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
      <ion-col size="8">
        <ion-label class="lblSubtitle">{{'CUSTOMPROMOTIONS'|translate}}</ion-label>
        <br>
        <ion-label class="lblDescription">
          {{'OFFERDISCOUNTS'|translate}}
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <img src="assets/Img/promozioni_personalizzabili.png" alt="Icona di promozioni personalizzate"/>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-row style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
      <ion-col size="4">
        <img src="assets/Img/target_mirato.png" alt="Icona di promozioni per target specifici"/>
      </ion-col>
      <ion-col size="8">
        <ion-label class="lblSubtitle">{{'AUDIENCE'|translate}}</ion-label>
        <br>
        <ion-label class="lblDescription">
          {{'CREATEPROMOTION'|translate}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-row style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
      <ion-col size="8">
        <ion-label class="lblSubtitle">{{'NOCOMMISSIONS'|translate}}</ion-label>
        <br>
        <ion-label class="lblDescription">
          {{'NOCOMMISSIONSDESCRIPTION'|translate}}
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <img src="assets/Img/zerocommissioni_1.png" alt="Icona senza commissioni"/>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-row style="margin-top: 1.5rem;">
      <ion-col size="12">
        <ion-label class="lblSubtitle">{{'ANSWERS'|translate}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-grid>

<ion-grid style="--margin-bottom: 150px !important;">
  <ion-row>
    <ion-col>
      <div>
        <ion-accordion-group style="--margin-bottom: 150px !important;">
          <ion-accordion value="first">
            <ion-item slot="header" class="contentFaq">
              <ion-label class="lblTitleFaq">{{'SHOPONLINE'|translate}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label class="lblDescription">{{'SHOPONLINEDESCRIPTION'|translate}}</ion-label>
            </div>
          </ion-accordion>
        
          <ion-accordion value="second">
            <ion-item slot="header" class="contentFaq">
              <ion-label class="lblTitleFaq">{{'HOWCREATEPROMOTION'|translate}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label class="lblDescription">Second Content</ion-label>
            </div>
          </ion-accordion>
        
          <ion-accordion value="third">
            <ion-item slot="header" class="contentFaq">
              <ion-label class="lblTitleFaq">{{'PROMOBOOKINGWORK'|translate}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label class="lblDescription">Second Content</ion-label>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>


