.horizontal-scroll {
    margin-top: 5%;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; // Abilita il momentum scrolling su iOS
    overflow-y: hidden;
    height: 170px;
  }
  
  ion-row {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto; /* Permette lo scrolling */
    -webkit-overflow-scrolling: touch; /* Aggiunge lo scrolling fluido per i dispositivi iOS */
    scrollbar-width: none; /* Nasconde la scrollbar su Firefox */
    -ms-overflow-style: none; /* Nasconde la scrollbar su IE e Edge */
  }
  
  ion-row::-webkit-scrollbar {
    display: none; /* Nasconde la scrollbar nei browser basati su WebKit */
  }
  
    ion-col {
      display: inline-block;
      flex: 0 0 auto;
      position: relative; // Permette il posizionamento assoluto degli elementi interni
      text-align: center; // Centra sia le immagini che le didascalie
    }
  
    .icon-container {
      position: relative; // Assicura che il contenitore dell'icona abbia una posizione relativa
      width: 130px; // Larghezza dell'icona
      height: 130px; // Altezza dell'icona
      box-sizing: border-box; // Include padding e border nella larghezza e altezza dell'elemento
    }
  
    .icon-container img {
      width: 100%; // Riempie completamente il contenitore dell'icona
      height: auto; // Altezza automatica per mantenere l'aspect ratio
    }
  
    .icon-caption {
      position: absolute; // Posizionamento assoluto rispetto al contenitore dell'icona
      left: 0; // Allinea il testo al centro
      width: 100%; // Occupa l'intera larghezza del contenitore
      font-family: Helvetica;
      font-size: 15px; // Dimensione del font per l'intestazione
      color: #000000; // Colore del testo, cambialo a tuo piacimento
      bottom:10px;
    }
