<ion-item class="gradient-bg diagonal-sides" *ngIf="elencoAttivita && elencoAttivita.length > 0">
  <img class="iconaBeverage" src="assets/Img/beverage.png" />


  <ion-card-title class="titleView" [ngSwitch]="type">
    <ng-container *ngSwitchCase="CarouselPromoType.consigli">
      {{ 'New arrivals' | translate }}
    </ng-container>

    <ng-container *ngSwitchCase="CarouselPromoType.promo">
      {{ 'Promo' | translate }}
    </ng-container>

    <ng-container *ngSwitchCase="CarouselPromoType.vicini">
      {{ 'Close to you' | translate }}
    </ng-container>

  </ion-card-title>
</ion-item>


<div class="card-containerHomePage" #widgetsContent>

  <div class="card-wrapperHomePage">
    <ion-card class="card-consigli" *ngFor="let attivita of elencoAttivita" (click)="VisualizzaAttivita(attivita)">

      <!-- Badge Promo -->
      <div class="label-overlayHomePage" *ngIf="attivita.isPromoPresente">
        <label>{{ 'Promo' | translate }}</label>
      </div>

      <!-- Stelle -->
      <div class="rating-overlayHomePage">
        <ion-icon name="star" class="starAtt"></ion-icon>
        <span class="lblStarAtt">{{attivita.rating}}</span>
        <span class="rating-countHomePage">({{ attivita.numberOfRating }})</span>
      </div>

      <!-- Distanza come overlay fissa -->
      <div class="distance-overlay">
        <ion-icon name="location-outline" style="margin-right: 2px;"></ion-icon>
        {{ attivita.distanza }}
      </div>

      <!-- Immagine -->
      <img mat-card-image [src]="getImmaginePrincipale(attivita)" alt="{{ 'ACTIVITYPHOTO' | translate }}" />

      <!-- Nome + indirizzo -->
      <ion-card-header>
        <ion-card-title class="NameAttHomePage">{{ attivita.nome }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-subtitle style="font-weight: normal;">
          {{ attivita.indirizzo }}, {{ attivita.civico }}
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
</div>