<ion-card class="card">
  <div class="divClose">
    <ion-icon name="close-outline" class="close" (click)="Annulla()"></ion-icon>
  </div>

  <ion-content scroll-y="false">
    <div class="content-wrapper">
      <h2 class="title">{{ 'Sure you want to leave' | translate }}</h2>

      <div class="contentButton">
        <ion-button shape="round" color="danger" (click)="LogOut()">
          <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
          <ion-label>{{ 'Logout' | translate }}</ion-label>
        </ion-button>

        <ion-button shape="round" color="success" (click)="Annulla()">
          <ion-label>{{ 'Cancel' | translate }}</ion-label>
        </ion-button>
      </div>
    </div>
  </ion-content>
</ion-card>
