.divClose {
    display: flex;
    justify-content: flex-end;
  }
  
  .content-wrapper {
    text-align: center;
    margin-top: 1rem;
    overflow: hidden; /* Rimuovi l'overflow in entrambe le direzioni */
  }
  
  ion-content::-webkit-scrollbar {
    display: none; /* Nascondi la scrollbar nei browser basati su WebKit */
  }
  
  .contentButton {
    margin-top: 5%;
  }
  
  .card {
    margin-top: 15%;
    width: 300px;
    height: 300px;
  }
  
  ion-button {
    width: 50%;
    height: 45px;
  }

  

  
  