
  
  ion-button {
    margin: 0 4px;
  }

  .TitleContent {
    padding: 10px 20px;
    margin-top: 50%;
  }
  
  .formContent {
    margin: 0 auto;
    padding: 10px 16px;
    max-width: 500px;
    max-height: 600px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  

  
  