
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="CloseModalDetail()"><ion-icon name="close-outline" class="closeBlack"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    <ion-card>
        <div class="column ion-text-center ion-align-items-center" style="margin-top:15px; margin-bottom:15px">
          <ion-card-title class="title">{{coupon?.nome}}</ion-card-title>
        </div>
      <img [src]="coupon?.imgPrincipale?.upload" class="imgAtt" alt="{{'ACTIVITYPHOTO'|translate}}" style="border-radius: 10px;"/>
      <ion-card-content>
        <div style="margin-bottom: 4%;">
          <ion-label>{{coupon?.indirizzo}}, {{coupon?.civico}}, {{coupon?.cap}}, {{coupon?.citta}}</ion-label>
        </div>
        <ion-label style="font-weight: bold; font-size: medium; margin-top: 4%; text-transform: uppercase;">
          {{coupon?.titoloPromo}}
      </ion-label>
      <br><br>
      <ion-chip [outline]="true" *ngFor="let tipo of coupon?.tipologieOfferta">{{tipo.descrizione}}</ion-chip>
      <ion-item-divider style="margin-bottom: 4%; margin-top: -3%;"></ion-item-divider>
      <ion-label>{{coupon?.descPromo}}</ion-label>
      </ion-card-content>
      <ion-grid>
        <ion-row style="margin-bottom: 2%;">
          <ion-col size="5" >
            <ion-label style="font-weight: bold;">{{ 'EXPIRATION' | translate }}:</ion-label>
          </ion-col>
          <ion-col size="7" >
            {{ coupon?.dataAl| date:'dd/MM/yyyy' }}
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: 2%;">
          <ion-col size="5" >
            <ion-label style="font-weight: bold;">{{ 'VALIDITY_TIME' | translate }}:</ion-label>
          </ion-col>
          <ion-col size="7">
            <ion-label *ngIf="!coupon?.isAllDayValidita">{{ 'FROM' | translate }} {{coupon?.orarioValiditaDa}}, {{ 'TO' | translate }} {{coupon?.orarioValiditaAl}}</ion-label>
            <ion-label *ngIf="coupon?.isAllDayValidita">{{ 'ALL_DAY' | translate }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: 2%;">
          <ion-col size="5" >
            <ion-label style="font-weight: bold;">{{ 'ACQUISITION' | translate }}:</ion-label>
          </ion-col>
          <ion-col size="7" >
            {{ coupon?.timestamp| date:'dd/MM/yyyy' }}
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: 2%;">
          <ion-col size="5" >
            <ion-label style="font-weight: bold;">{{ 'DAYS' | translate }}:</ion-label>
          </ion-col>
          <ion-col size="7" >
            <ion-label *ngIf="coupon?.days?.includes(0)" class="lbl">{{ 'ALL_DAYS' | translate }}</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(1)">{{ 'MONDAY' | translate }}</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(1) && coupon?.days?.includes(2)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(2)">{{ 'TUESDAY' | translate }}</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(2) && coupon?.days?.includes(3)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(3)">{{ 'WEDNESDAY' | translate }}</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(3) && coupon?.days?.includes(4)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(4)">{{ 'THURSDAY' | translate }}</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(4) && coupon?.days?.includes(5)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(5)">{{ 'FRIDAY' | translate }}</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(5) && coupon?.days?.includes(6)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(6)">{{ 'SATURDAY' | translate }}</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(6) && coupon?.days?.includes(7)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(7)">{{ 'SUNDAY' | translate }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="this.isUtilizzabile" style="margin-bottom: 5%;" class="column ion-text-center ion-align-items-center">
        <ion-button shape="round" color="success">{{ 'USE_COUPON2' | translate }}</ion-button>
      </div>
      <div *ngIf="!this.isUtilizzabile && this.coupon?.idStatus === 1" style="margin-bottom: 5%;" class="column ion-text-center ion-align-items-center">
        <ion-button disabled="true" shape="round" color="medium">{{ 'COUPON_NOT_AVAILABLE' | translate }}</ion-button>
      </div>
    </ion-card>
  

