
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="CloseModalDetail()"><ion-icon name="close-outline" class="closeBlack"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-card class="coupon-card">
    <ion-card-header class="text-center">
      <div class="column ion-text-center ion-align-items-center">
        <ion-card-title class="title">{{coupon?.nome}}</ion-card-title>
      </div>
    </ion-card-header>
  
    <img [src]="coupon?.imgPrincipale?.upload" alt="Immagine attività" class="coupon-img" />
  
    <ion-card-content>

      <p class="coupon-address">{{ coupon?.indirizzo }}, {{ coupon?.civico }}, {{ coupon?.cap }}, {{ coupon?.citta }}</p>
  
      <p class="promo-title">{{ coupon?.titoloPromo }}</p>
  
      <ion-chip [outline]="true" *ngFor="let tipo of coupon?.tipologieOfferta" class="promo-chip">
        {{ tipo.descrizione }}
      </ion-chip>
  
      <p class="coupon-desc">{{ coupon?.descPromo }}</p>
  
      <ion-list class="details-list">
        <ion-item lines="none">
          <ion-label><strong>{{ 'EXPIRATION' | translate }}:</strong></ion-label>
          <p class="coupon-desc" slot="end">{{ coupon?.dataAl | date:'dd/MM/yyyy' }}</p>
        </ion-item>
        <ion-item lines="none">
          <ion-label><strong>{{ 'VALIDITY_TIME' | translate }}:</strong></ion-label>
          <p class="coupon-desc" slot="end">
            <ng-container *ngIf="!coupon?.isAllDayValidita">
              {{ 'FROM' | translate }} {{ coupon?.orarioValiditaDa }}, {{ 'TO' | translate }} {{ coupon?.orarioValiditaAl }}
            </ng-container>
            <ng-container *ngIf="coupon?.isAllDayValidita">
              {{ 'ALL_DAY' | translate }}
            </ng-container>
          </p>
        </ion-item>
        <ion-item lines="none">
          <ion-label><strong>{{ 'ACQUISITION' | translate }}:</strong></ion-label>
          <p class="coupon-desc" slot="end">{{ coupon?.timestamp | date:'dd/MM/yyyy' }}</p>
        </ion-item>
        <ion-item lines="none">
          <ion-label><strong>{{ 'DAYS' | translate }}:</strong></ion-label>
          <p class="coupon-desc" slot="end">
            <ng-container *ngIf="coupon?.days?.includes(0)">
              {{ 'ALL_DAYS' | translate }}
            </ng-container>
            <ng-container *ngIf="!coupon?.days?.includes(0)">
              <ng-container *ngIf="coupon?.days?.includes(1)">{{ 'MONDAY' | translate }}</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(1) && coupon?.days?.includes(2)">-</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(2)">{{ 'TUESDAY' | translate }}</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(2) && coupon?.days?.includes(3)">-</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(3)">{{ 'WEDNESDAY' | translate }}</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(3) && coupon?.days?.includes(4)">-</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(4)">{{ 'THURSDAY' | translate }}</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(4) && coupon?.days?.includes(5)">-</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(5)">{{ 'FRIDAY' | translate }}</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(5) && coupon?.days?.includes(6)">-</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(6)">{{ 'SATURDAY' | translate }}</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(6) && coupon?.days?.includes(7)">-</ng-container>
              <ng-container *ngIf="coupon?.days?.includes(7)">{{ 'SUNDAY' | translate }}</ng-container>
            </ng-container>
          </p>
        </ion-item>
      </ion-list>
  
      <div class="button-container">
        <ion-button *ngIf="isUtilizzabile" shape="round" color="success" expand="block">
          {{ 'USE_COUPON2' | translate }}
        </ion-button>
        <ion-button *ngIf="!isUtilizzabile && coupon?.idStatus === 1" shape="round" color="medium" expand="block" disabled>
          {{ 'COUPON_NOT_AVAILABLE' | translate }}
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  

