<ion-grid class="horizontal-scroll">
  <ion-row>
    <ion-col (click)="Ricerca('ROMA')" size="auto">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="icon-container" src="assets/City/Roma.jpg"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label class="title2">ROMA</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col (click)="Ricerca('MILANO')" size="auto">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="icon-container" src="assets/City/Milano.jpg"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label class="title2">MILANO</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col (click)="Ricerca('FIRENZE')" size="auto">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="icon-container" src="assets/City/Firenze.jpg"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label class="title2">FIRENZE</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    
    <ion-col (click)="Ricerca('BOLOGNA')" size="auto">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="icon-container" src="assets/City/Bologna.jpg"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label class="title2">BOLOGNA</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col (click)="Ricerca('NAPOLI')" size="auto">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="icon-container" src="assets/City/Napoli.jpg"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label class="title2">NAPOLI</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <!-- <ion-col (click)="Ricerca(9)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/vegan.png"/>
      </div>
      <div class="icon-caption">Vegani</div>
    </ion-col>

    <ion-col (click)="Ricerca(6)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/icons8-child-60.png"/>
      </div>
      <div class="icon-caption">Per bambini</div>
    </ion-col>

    <ion-col (click)="Ricerca(10)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/leaf.png"/>
      </div>
      <div class="icon-caption">Vegetariani</div>
    </ion-col>

    <ion-col (click)="Ricerca(3)" size="auto">
      <div class="icon-container">
        <img src="assets/Img/icons8-gift-50.png"/>
      </div>
      <div class="icon-caption">Omaggi</div>
    </ion-col>-->
  </ion-row> 
</ion-grid>
