<form class="data-form">
  <ion-label class="form-title">{{ 'PERIOD' | translate }}*</ion-label>

  <ion-item class="custom-input-item">
    <ion-input
      class="custom-input"
      [value]="dataDalFormControl.value ? (dataDalFormControl.value | date: 'dd/MM/yyyy') : ''"
      placeholder="{{ 'STARTING_FROM' | translate }}"
      readonly>
    </ion-input>
    <ion-button fill="clear" slot="end" class="custom-button" (click)="openDataDalPicker()">
      {{ 'SELCT' | translate }}
    </ion-button>
  </ion-item>

  <ion-item class="custom-input-item">
    <ion-input
      class="custom-input"
      [value]="dataAlFormControl.value ? (dataAlFormControl.value | date: 'dd/MM/yyyy') : ''"
      placeholder="{{ 'UNTIL' | translate }}"
      readonly>
    </ion-input>
    <ion-button fill="clear" slot="end" class="custom-button" (click)="openDataAlPicker()">
      {{ 'SELCT' | translate }}
    </ion-button>
  </ion-item>

  <!-- Modal per la selezione della data iniziale -->
  <ion-modal [isOpen]="isDataDalPickerOpen" (didDismiss)="closeDataDalPicker()" class="full-modal">
    <ng-template>
      <div class="modal-content">
        <ion-datetime class="date"
          [value]="dataDalFormControl.value"
          (ionChange)="onDataDalSelected($event)"
          presentation="date"
          firstDayOfWeek="1">
        </ion-datetime>
        <ion-button (click)="closeDataDalPicker()">{{ 'Close' | translate }}</ion-button>
      </div>
    </ng-template>
  </ion-modal>

  <!-- Modal per la selezione della data finale -->
  <ion-modal [isOpen]="isDataAlPickerOpen" (didDismiss)="closeDataAlPicker()" class="full-modal">
    <ng-template>
      <div class="modal-content">
        <ion-datetime class="date"
          [value]="dataAlFormControl.value"
          (ionChange)="onDataAlSelected($event)"
          presentation="date">
        </ion-datetime>
        <ion-button (click)="closeDataAlPicker()">{{ 'Close' | translate }}</ion-button>
      </div>
    </ng-template>
  </ion-modal>
</form>
