  
  .custom-modal {
    --width: auto;
    --height: auto;
    --max-width: 90%;
    --max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .date{
    background: white;
  }

  .data-form {
    padding: 16px;
  
    .form-title {
      font-weight: bold;
      --margin-bottom: 12px !important;
      font-size: 16px;
      color: #333;
    }
  
    .custom-input-item {
      --background: #f5f5f5;
      --border-radius: 12px;
      --padding-start: 12px;
      --inner-padding-end: 8px;
      margin-bottom: 12px;
      transition: border-color 0.3s;
  
      &.item-has-focus {
        border-color: #e9540a;
      }
    }
  
    .custom-input {
      color: #333;
      font-size: 14px;
      --placeholder-color: #9c9a9a;
    }
  
    .custom-button {
      font-size: 13px;
      color: #e9540a;
      font-weight: 600;
    }
  }
  