.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Opzionale, assicura che il container occupi l'intera larghezza */
  }
  
  .content{
    margin-top: 2%;
  }

  .mappa{
    min-width: 400px;
    width: 100%;
    height: 100%;
  }

  .contentList{
    align-self: flex-start; 
    width: 100%; 
    margin-bottom: 5%;
  }

  .title{
    font-family: Helvetica;
    font-weight: 500;
    font-size: 1.1rem;
  }

  .image {
    position: relative;
    width: 90%;
    overflow: hidden;
  }

  
  .img1 {
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
  }

  .imgAtt {
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    max-height: 400px;
  }

  .image-container {
    position: relative;
    width: 90%;
  }
  
  .slogan-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%; /* Solo metà sinistra */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .slogan-text {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    word-wrap: break-word;
    font-family: sans-serif;
  }
  

  .title2{
    font-family: Helvetica;
    font-weight: 500;
    font-size: 1.3rem;
  }
  