 
    <div class="container content">

        <ion-spinner *ngIf="isLoading && (idPage === 1 || idPage === undefined)" name="crescent" color="primary"></ion-spinner>
        
    <div class="contentList" *ngIf="!isLoading && isCaricamentoOk && (idPage === 1 || idPage === undefined)">
        
        <app-icon-promo (openPageRicercaEvent)="openPageRicercaPromoEvent($event)"></app-icon-promo>

        <div style="display: flex; justify-content: center; align-items: center;">
            <div class="slider">
                <div class="slides" [ngStyle]="{'transform': 'translateX(-' + (currentSlide * 100) + '%)'}">
                  <img src="assets/Img/Slider1.avif" class="imgSlider"/>
                  <img src="assets/Img/Attivita.avif" class="imgSlider"/>
                  <!-- Aggiungi altre immagini qui -->
                </div>
              </div>
        </div>

        <app-elenco-promo [elencoPromo]="listaElencoPromo" (attivitaSelezionataEvent)="onAttivitaSelezionata($event)"></app-elenco-promo>

        <app-card-tipo-attivita (openPageRicercaTipoAttEvent)="openPageRicercaTipoAttEvent($event)" style="margin-bottom: 100px;"></app-card-tipo-attivita>

        <app-elenco-consigli [elencoConsigli]="listaElencoConsigli " (attivitaSelezionataEvent)="onAttivitaSelezionata($event)"></app-elenco-consigli>

        <ion-card>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col size="5">
                            <img src="assets/Img/guy.avif" class="imgSlider"/>
                        </ion-col>
                        <ion-col size="7" class="column ion-text-center ion-align-items-center">
                            <ion-card-title class="title">
                                Hai un'attività? registrati con noi!
                            </ion-card-title>
                            <br>
                            <ion-card-subtitle>Scopri tutti i vantaggi e vedi come fare</ion-card-subtitle>
                            <br>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <ion-button fill="outline" shape="round" (click)="openPageEvent(13)"> SCOPRI DI PIÙ</ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

    </div>

    <ion-alert
        [isOpen]="!isLoading && !isCaricamentoOk && (idPage === 1 || idPage === undefined)"
        header="Ops, qualcosa è andato storto"
        [message]="getErrorMessage()"
        [buttons]="alertButtons"
        cssClass="custom-alert"
        (didDismiss)="retry()">
    </ion-alert>

    <div *ngIf="idPage === 2">
        <app-mappa (ricercaAttiviaSelezionataEvent)="ricercaAttiviaSelezionataEvent($event)"
                   (openSearchEvent)="openPageEvent($event)"></app-mappa>
    </div>

    <div id="dettaglio" *ngIf="idPage === 3 && this.attivita">
        <app-dettaglio (isModalLoginOpenEvent)="isOpenPageLoginEvent($event)" 
                       (redirectEsitoEvent)="redirectEsitoEvent($event)"
                       [attivitaSelezionata]="this.attivita"></app-dettaglio>
    </div>

    <div id="logOut" *ngIf="idPage === 4">
        <app-logout (openPageEvent)="openPageEvent($event)"
                    (setIdFooterEvent)="setiIdSogggetto($event)"></app-logout>
    </div>

    <div id="datiStruttura" *ngIf="idPage === 5">
        <app-dati-struttura></app-dati-struttura>
    </div>

    <div id="gestionePromo" *ngIf="idPage === 6">
        <app-gestione-promo (openPageEvent)="openPageEvent($event)"></app-gestione-promo>
    </div>

    <div id="listaGestionePromo" *ngIf="idPage === 7">
        <app-riepilogo-promo-attivita (openPageEvent)="openPageEvent($event)"></app-riepilogo-promo-attivita>
    </div>

    <div id="ricerca" *ngIf="idPage === 8">
        <app-ricerca [listaTipoAttivita]="this.listaTipoAttivita"
                     (ricercaAttiviaSelezionataEvent)="ricercaAttiviaSelezionataEvent($event)"
                     (openPageEvent)="openPageEvent($event)"></app-ricerca>
    </div>

    <div id="favorite" *ngIf="idPage === 9" style="height: 100%">
        <app-favorites (ricercaAttiviaSelezionataEvent)="ricercaAttiviaSelezionataEvent($event)"
                       (redirectEsitoEvent)="redirectEsitoEvent($event)"></app-favorites>
    </div>

    <div id="coupon" *ngIf="idPage === 11" style="height: 100%">
        <app-coupon (openPageEventLogin)="openPageEventLogin()" [idSoggetto]="this.idSoggetto"></app-coupon>
    </div>

    <div id="profile" *ngIf="idPage === 12" style="height: 100%">
        <app-user (openPageEvent)="openPageEvent($event)"></app-user>
    </div>

    <div id="infoAttivita" *ngIf="idPage === 13" style="height: 100%">
        <app-info-registrazione-attivita></app-info-registrazione-attivita>
    </div>
</div>



  

