 <form [formGroup]="exampleForm">
    <ion-item>
      <ion-input
        label="Nome*" 
        labelPlacement="stacked"
        type="text"
        formControlName="nomeFormControl"
        value={{nome}}>
      </ion-input>
    </ion-item>
    <ion-note style="margin-left: 5%;" *ngIf="hasError('required')" color="danger">
      Nome attività obbligatorio
    </ion-note>
    <ion-note style="margin-left: 5%;" *ngIf="hasError('minlength')" color="danger">
      Lunghezza minima 2 caratteri
    </ion-note>
    <ion-note style="margin-left: 5%;" *ngIf="hasError('maxlength')" color="danger">
      Lunghezza massima 50 caratteri
    </ion-note>
  </form>
  