.title{
    margin-top: 4%;
    text-align: center;
  }
  
  .login-container{
    margin-top: 2%;
    align-items: center;
  }
  
  .formLogin{
    width: 70%;
  }
  
  .divClose{
    display: flex;
    justify-content: flex-end;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
  }

  .divConfirmed{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40%;
  }