.card-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    flex: 1;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
  }
  
  .card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 5px;
    width: fit-content; /* Adatta la larghezza del wrapper al contenuto */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .card-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .card-consigli {
    flex: 0 0 auto;
    width: 90%;
    max-width: 260px;
    flex-wrap: nowrap; /* Impedisce il wrapping del contenuto nella card */
  }
  
  .card-consigli img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }
  
  .mat-card-actions {
    align-items: center;
    justify-content: flex-end;
  }

  .mat-card-content {
    overflow: hidden; /* Nasconde il contenuto che supera l'altezza massima */
  }

  .ion-chip{
    max-height: 5px;
  }
  
  .title{
    font-family: Helvetica;
    font-size: 1.3rem;
  }

  .label-overlay {
    position: absolute;
    top: 10px; /* Modifica questa posizione in base alle tue preferenze */
    left: 10px; /* Modifica questa posizione in base alle tue preferenze */
    z-index: 100;
    background-color: rgb(30, 192, 39); /* Aggiungi uno sfondo semi-trasparente se lo desideri */
    color: white; /* Colore del testo */
    padding: 5px 10px;
    border-radius: 4px;
  }

  .title2{
    font-family: Helvetica;
    font-size: 1rem;
  }

  .skeleton {
    flex: 0 0 auto;
    width: 260px;
    height: 210px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }

  .imgSkeleton{
    width: 100%;
    margin-top: -10px;
    height: 130px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }




  