<div class="card-containerHomePage" #widgetsContent>
  <div class="card-wrapperHomePage">
    <ion-card class="skeleton">
      <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
    <ion-card class="skeleton">
      <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
    <ion-card class="skeleton">
      <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
    <ion-card class="skeleton">
      <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
    </div>
</div>