.skeleton {
    flex: 0 0 auto;
    width: 260px;
    height: 210px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }

  .imgSkeleton{
    width: 100%;
    margin-top: -10px;
    height: 130px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }