<form [formGroup]="exampleForm">
  <ion-item>
    <ion-input
      label="Telefono*" 
      labelPlacement="stacked"
      type="tel"
      formControlName="telefonoFormControl"
      value={{telefono}}>
    </ion-input>
  </ion-item>
  <ion-note style="margin-left: 5%;" *ngIf="hasError('required')" color="danger">
    Numero di telefono obbligatorio
  </ion-note>
  <ion-note style="margin-left: 5%;" *ngIf="hasError('pattern')" color="danger">
    inserire un numero di telefono valido
  </ion-note>
</form>
