<form class="form">
  <div class="promo-title-wrapper">
    <ion-icon name="fast-food-outline" class="promo-title-icon"></ion-icon>
    <span class="titleModalPromo">{{ 'TYPEFOODORDRINKS' | translate }}</span>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" style="text-align: left;">
        <ion-checkbox labelPlacement="end" [formControl]="foodDrinkFormControl" [checked]="isFoodDrinkFormControl === true">{{ 'FOODDRINKS' | translate }}</ion-checkbox>
      </ion-col>
      <ion-col size="6" style="text-align: left;">
        <ion-checkbox labelPlacement="end" color="primary" [formControl]="foodFormControl" [checked]="isFoodFormControl === true">{{ 'FOOD' | translate }}</ion-checkbox>
      </ion-col>
       <ion-col size="6" style="text-align: left;">
        <ion-checkbox labelPlacement="end" [formControl]="drinkFormControl" [checked]="isDrinkFormControl === true">{{ 'DRINKS' | translate }}</ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>

    <div class="promo-title-wrapper" style="margin-top: 30px;">
    <ion-icon name="time-outline" class="promo-title-icon"></ion-icon>
    <span class="titleModalPromo">{{ 'PERIODTYPE' | translate }}</span>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" style="text-align: left;">
        <ion-checkbox labelPlacement="end" [formControl]="anyTimeFormControl" [checked]="isAnyTimeFormControl === true">{{ 'ANYTIME' | translate }}</ion-checkbox>
      </ion-col>
      <ion-col size="6" style="text-align: left;">
        <ion-checkbox labelPlacement="end" color="primary" [formControl]="afternoonTeaFormControl" [checked]="isAfternoonTeaFormControl === true">{{ 'AFTERNOONTEA' | translate }}</ion-checkbox>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" style="text-align: left;">
        <ion-checkbox labelPlacement="end" [formControl]="breakfastFormControl" [checked]="isBreakfastFormControl === true">{{ 'BREAKFAST' | translate }}</ion-checkbox>
      </ion-col>
      <ion-col size="6" style="text-align: left;">
        <ion-checkbox labelPlacement="end" color="primary" [formControl]="happyHourFormControl" [checked]="isHappyHourFormControl === true">{{ 'HAPPYHOUR' | translate }}</ion-checkbox>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" style="text-align: left;">
        <ion-checkbox labelPlacement="end" color="primary" [formControl]="brunchFormControl" [checked]="isBrunchFormControl === true">{{ 'BRUNCH' | translate }}</ion-checkbox>
      </ion-col>
      <ion-col size="6" style="text-align: left;">
        <ion-checkbox labelPlacement="end" color="primary" [formControl]="dinnerFormControl" [checked]="isDinnerFormControl === true">{{ 'DINNER' | translate }}</ion-checkbox>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" style="text-align: left;">
        <ion-checkbox labelPlacement="end" color="primary" [formControl]="lunchFormControl" [checked]="isLunchFormControl === true">{{ 'LUNCH' | translate }}</ion-checkbox>
      </ion-col>
      <ion-col size="6" style="text-align: left;">
        <ion-checkbox labelPlacement="end" color="primary" [formControl]="lateNightFormControl" [checked]="isLateNightFormControl === true">{{ 'LATENIGHT' | translate }}</ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
