
.item-recentView {
  flex: 0 0 auto;
  width: 300px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  margin-left: 15px;
}

.item-recentViewSkeleton {
  flex: 0 0 auto;
  width: 300px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  margin-left: 15px;
  margin-top: 10px;
}

.item-recentView:hover {
  transform: scale(1.02);
}

.title-recentView{
  font-family: 'Helvetica', sans-serif;
  font-size: 1.1rem; 
  font-weight: 450;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  padding: 0;
}

.img-recentView {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-left: -16px;
}

.img-recentViewSkeleton {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin-left: -16px;
  --margin-top:-5px !important
}

.skeletonRecentView{
  width: 300px;
  height: 100px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}



