.form {
    height: 100vh; /* Occupa tutta l'altezza della pagina */
    display: flex;
    justify-content: center; /* Centra verticalmente */
    align-items: center;     /* Centra orizzontalmente */
    text-align: center;
  }

  .formContent {
    margin-top: 50%;
    margin-left: 10%;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .listContent {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .subtitle {
    font-family: Helvetica;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    color: gray;
  }

  .iconAtt{
    height: 25px;
    width: 25px;
  }

  .title {
    font-family: Helvetica;
    font-size: 1.3rem;
    text-align: left;
    margin: 0;
  }