.TitleContent {
  --font-family: 'Inter', sans-serif !important;
  padding: 10px 20px;
}

.formContent {
  margin: 0 auto;
  padding: 10px 16px;
  max-width: 500px;
  max-height: 600px;
  z-index: 10000;
}

.contentx{
  --max-height: 500px !important;
}

  .subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    color: gray;
  }

  .iconAtt{
    height: 25px;
    width: 25px;
  }

  .title {
    --font-family: 'Inter', sans-serif !important;
    font-size: 1.3rem;
    text-align: left;
    margin: 0;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* opzionale, per distanziare */
  }

  