  .TitleContent {
    margin-top: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formContent {
    margin-left: 10%;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

  .subtitle {
    font-family: Helvetica;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    color: gray;
  }

  .iconAtt{
    height: 25px;
    width: 25px;
  }

  .title {
    font-family: Helvetica;
    font-size: 1.3rem;
    text-align: left;
    margin: 0;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* opzionale, per distanziare */
  }

  