<div>
  <img class="uniform-image" mat-card-image [src]="immaginePrincipale ? immaginePrincipale : null" alt="Immagine dell'attività">
</div>

<div class="container">
 <h3 class="nome"><strong>{{data.nome}}</strong></h3>
 <label class="indirizzo">{{data.indirizzo}}, {{data.civico}}, {{data.cap}}, {{data.citta}}, {{data.provincia}}</label>

 <mat-chip-listbox class="tipo">
     <mat-chip *ngFor="let tipo of data.listaTipoAttivita" class="tipo-chip">
       {{tipo.descrizione}}
     </mat-chip>
 </mat-chip-listbox>
</div>

<div>
<button class="btn btn-primary" (click)="visualizzaDettaglio()">Visualizza</button>
</div>


