<div>
  <ion-list style="margin-top: 2%;" >
    <ion-item>
      <ion-icon slot="start" class="iconAtt" name="business-outline"></ion-icon>
      <ion-label>
        <h2 class="title">{{ this.attivita.nome }}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
    <ion-icon slot="start" class="iconAtt" name="call-outline"></ion-icon>
    <ion-label>
      <h2 class="subtitle">{{ this.attivita.telefono }}</h2>
    </ion-label>
    </ion-item>
    <ion-item>
    <ion-icon slot="start" class="iconAtt" name="mail-outline"></ion-icon>
    <ion-label>
      <h2 class="subtitle">{{ this.attivita.email }}</h2>
    </ion-label>
    </ion-item>
    <ion-item>
    <ion-icon slot="start" class="iconAtt" name="location-outline"></ion-icon>
    <ion-label>
      <h2 class="subtitle">{{this.attivita.indirizzo}}, {{this.attivita.civico}}, {{this.attivita.cap}}, {{this.attivita.citta}}</h2>
    </ion-label>
    </ion-item>
    <ion-item>
    <ion-icon slot="start" class="iconAtt" name="reader-outline"></ion-icon>
    <ion-label>
      <h2 class="subtitle"> {{ this.attivita.description }} </h2>
    </ion-label>
    </ion-item>
    <ion-item style="min-width: 100%; margin-bottom: 2%; margin-top: 2%;">
      <app-offerte-struttura style="min-width: 100%;"
        [isVegano]="attivita.isOffertaVegana" 
        [isVegetariano]="attivita.isOffertaVegetariana" 
        [isNoGlutine]="attivita.isOffertaNoGlutine"
        [isRiepilogo]="true">
      </app-offerte-struttura>
    </ion-item>
    <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="column ion-text-center ion-align-items-center">
          <h2>Tipi di attività</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="column ion-text-center ion-align-items-center">
          <div class="chip-container">
            <ion-chip *ngFor="let tipo of attivita.listaTipoAttivita" outline="true">
              <ion-label>{{ tipo.descrizione }}</ion-label>
            </ion-chip>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid style="margin-top: 10px;"  >
        <ion-row>
          <ion-col size="2" class="column ion-text-center ion-align-items-center">
            <ion-label class="subTitle">{{ 'HOURS' | translate }}:</ion-label>
          </ion-col>
          <ion-col size="5" class="column ion-text-center ion-align-items-center">
            <ion-label>{{ 'MORNING' | translate }}</ion-label>
          </ion-col>
          <ion-col size="5" class="column ion-text-center ion-align-items-center">
            <ion-label>{{ 'EVENING' | translate }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="2" class="column ion-text-center ion-align-items-center">
          <ion-label>{{ 'MON' | translate }}.</ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari?.lunediMatDa && this.attivita.orari?.lunediMatAl">
          {{this.attivita.orari.lunediMatDa}} - {{this.attivita.orari.lunediMatAl}}</ion-label>
          <ion-label *ngIf="!this.attivita.orari?.lunediMatDa && !this.attivita.orari.lunediMatAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari?.lunediPomDa && this.attivita.orari?.lunediPomAl">
            {{this.attivita.orari.lunediPomDa}} - {{this.attivita.orari.lunediPomAl}}
          </ion-label>
          <ion-label *ngIf="!this.attivita.orari?.lunediPomDa && !this.attivita.orari?.lunediPomAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="2" class="column ion-text-center ion-align-items-center">
          <ion-label>{{ 'TUE' | translate }}.</ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.martediMatDa && this.attivita.orari.martediMatAl">
          {{this.attivita.orari.martediMatDa}} - {{this.attivita.orari.martediMatAl}}</ion-label>
          <ion-label *ngIf="!this.attivita.orari.martediMatDa && !this.attivita.orari.martediMatAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.martediPomDa && this.attivita.orari.martediPomAl">
            {{this.attivita.orari.martediPomDa}} - {{this.attivita.orari.martediPomAl}}
          </ion-label>
          <ion-label *ngIf="!this.attivita.orari.martediPomDa && !this.attivita.orari.martediPomAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="2" class="column ion-text-center ion-align-items-center">
          <ion-label>{{ 'WED' | translate }}.</ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.mercolediMatDa && this.attivita.orari.mercolediMatAl">
          {{this.attivita.orari.mercolediMatDa}} - {{this.attivita.orari.mercolediMatAl}}</ion-label>
          <ion-label *ngIf="!this.attivita.orari.mercolediMatDa && !this.attivita.orari.mercolediMatAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.mercolediPomDa && this.attivita.orari.mercolediPomAl">
            {{this.attivita.orari.mercolediPomDa}} - {{this.attivita.orari.mercolediPomAl}}
          </ion-label>
          <ion-label *ngIf="!this.attivita.orari.mercolediPomDa && !this.attivita.orari.mercolediPomAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="2" class="column ion-text-center ion-align-items-center">
          <ion-label>{{ 'THU' | translate }}.</ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.giovediMatDa && this.attivita.orari.giovediMatAl">
          {{this.attivita.orari.giovediMatDa}} - {{this.attivita.orari.giovediMatAl}}</ion-label>
          <ion-label *ngIf="!this.attivita.orari.giovediMatDa && !this.attivita.orari.giovediMatAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.giovediPomDa && this.attivita.orari.giovediPomAl">
            {{this.attivita.orari.giovediPomDa}} - {{this.attivita.orari.giovediPomAl}}
          </ion-label>
          <ion-label *ngIf="!this.attivita.orari.giovediPomDa && !this.attivita.orari.giovediPomAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="2" class="column ion-text-center ion-align-items-center">
          <ion-label>{{ 'FRI' | translate }}.</ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.venerdiMatDa && this.attivita.orari.venerdiMatAl">
          {{this.attivita.orari.venerdiMatDa}} - {{this.attivita.orari.venerdiMatAl}}</ion-label>
          <ion-label *ngIf="!this.attivita.orari.venerdiMatDa && !this.attivita.orari.venerdiMatAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.venerdiPomDa && this.attivita.orari.venerdiPomAl">
            {{this.attivita.orari.venerdiPomDa}} - {{this.attivita.orari.venerdiPomAl}}
          </ion-label>
          <ion-label *ngIf="!this.attivita.orari.venerdiPomDa && !this.attivita.orari.venerdiPomAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="2" class="column ion-text-center ion-align-items-center">
          <ion-label>{{ 'SAT' | translate }}.</ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.sabatoMatDa && this.attivita.orari.sabatoMatAl">
          {{this.attivita.orari.sabatoMatDa}} - {{this.attivita.orari.sabatoMatAl}}</ion-label>
          <ion-label *ngIf="!this.attivita.orari.sabatoMatDa && !this.attivita.orari.sabatoMatAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.sabatoPomDa && this.attivita.orari.sabatoPomAl">
            {{this.attivita.orari.sabatoPomDa}} - {{this.attivita.orari.sabatoPomAl}}
          </ion-label>
          <ion-label *ngIf="!this.attivita.orari.sabatoPomDa && !this.attivita.orari.sabatoPomAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col size="2" class="column ion-text-center ion-align-items-center">
          <ion-label>{{ 'SUN' | translate }}.</ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.domenicaMatDa && this.attivita.orari.domenicaMatAl">
          {{this.attivita.orari.domenicaMatDa}} - {{this.attivita.orari.domenicaMatAl}}</ion-label>
          <ion-label *ngIf="!this.attivita.orari.domenicaMatDa && !this.attivita.orari.domenicaMatAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        <ion-col size="5" class="column ion-text-center ion-align-items-center">
          <ion-label *ngIf="this.attivita.orari.domenicaPomDa && this.attivita.orari.domenicaPomAl">
            {{this.attivita.orari.domenicaPomDa}} - {{this.attivita.orari.domenicaPomAl}}
          </ion-label>
          <ion-label *ngIf="!this.attivita.orari.domenicaPomDa && !this.attivita.orari.domenicaPomAl"> {{ 'CLOSED' | translate }} </ion-label>
        </ion-col>
        </ion-row>
        <ion-item style="margin-bottom: 20px;"></ion-item>
        <ion-row>
          <ion-col>
            <ion-label class="subTitle">{{ 'PROFILE_IMAGE' | translate }}:</ion-label> <br>
            <ion-img [src]="getImmaginePrincipale()" class="photo"></ion-img>
          </ion-col>
        </ion-row>
        <ion-item style="margin-bottom: 20px;"></ion-item>
        <ion-row>
          <ion-col>
            <ion-label class="subTitle">{{ 'GALLERY' | translate }}:</ion-label> <br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" *ngFor="let img of getGallery()">
            <ion-img [src]="img.upload" class="photo"></ion-img>
        </ion-col>
        </ion-row>
        <ion-row style="flex-wrap: wrap;" *ngIf="!this.attivita.idAttivita">
          <ion-card>
            <ion-card-header>
              <ion-label>{{ 'DECLARATION_VERIFICATION' | translate }}</ion-label>
            </ion-card-header>
            <ion-card-content>
              <div style="display: flex; align-items: center; gap: 8px; flex-wrap: wrap; margin-top: 10px;">
                <ion-checkbox slot="start" (ionChange)="onCheckboxChange($event)"></ion-checkbox>
                <ion-label style="margin: 0;">
                  {{ 'ACCEPT' | translate }}
                  <span style="color: #007bff; cursor: pointer;">{{ 'TERMS_CONDITIONS' | translate }}</span>
                </ion-label>
              </div>
              
              <ion-button (click)="Salva(true)" style="margin-top: 20px;">Salva</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-row>
        <ion-row style="flex-wrap: wrap;" *ngIf="this.attivita.idAttivita">
          <ion-col class="column ion-text-center ion-align-items-center">
            <ion-button class="prosegui" shape="round" *ngIf="this.attivita.idAttivita || (this.attivita.idAttivita !== undefined && this.attivita.idAttivita > 0)" (click)="Salva(false)">{{ 'EDIT' | translate }}</ion-button>

            <ion-button class="elimina" fill="clear" color="danger" *ngIf="this.attivita.idAttivita || (this.attivita.idAttivita !== undefined && this.attivita.idAttivita > 0)" (click)="Elimina()">{{ 'DELETE_ACTIVITY' | translate }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</div>

