.icon{
    width: 25px;
    height: 25px;
}

ion-spinner {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .full-modal::part(content) {
    height: 100%;
    width: 100%;
  }

  .title{
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 1.4rem;
  }

  .title2{
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  ion-radio::part(container) {
    width: 25px;
    height: 25px;
  
    border-radius: 10px;
    border: 2px solid #ddd;
  }
  
  ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
  }
  
  ion-radio.radio-checked::part(container) {
    background: #6815ec;
    border-color: transparent;
  }
  
  ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;
  
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;
  
    transform: rotate(45deg);
  }