.icon{
    width: 25px;
    height: 25px;
}



  .title{
    margin-left: 5%;
    font-family: Helvetica;
    font-weight: 500;
    font-size: 1rem;
  }

  .title2{
    font-family: Helvetica;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  ion-radio::part(container) {
    width: 25px;
    height: 25px;
  
    border-radius: 10px;
    border: 2px solid #ddd;
  }
  
  ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
  }
  
  ion-radio.radio-checked::part(container) {
    background: #6815ec;
    border-color: transparent;
  }
  
  ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
  }

  .divCenter{
    display: flex; 
    justify-content: center; 
    align-items: center;
  }