<ion-grid style="margin-top: 0.5rem; width: 350px;">
  <ion-row>
    <ion-col size="12" class="column ion-text-center ion-align-items-center">
      <ion-item class="column ion-text-center ion-align-items-center">
        <ion-label class="title">Il mio profilo</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 2rem;">
    <ion-col size="4" >
      <ion-icon name="person-outline" class="icon"></ion-icon>
    </ion-col>
    <ion-col size="8">
      <ion-label style="font-size: medium;">{{this.user?.displayName}}</ion-label>
      <br>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="this.user?.typeLog === 1" style="margin-top: 10%;">
    <ion-col size="4">
      <ion-label style="font-size: large;">Email</ion-label>
    </ion-col>
    <ion-col size="8">
      <ion-label style="font-size: medium;">{{this.user?.email}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-item></ion-item>
  <ion-row style="margin-top: 5%;">
    <ion-col size="12" style="margin-left: -5%;">
      <ion-button fill="clear" (click)="OpenModalModificaPassword()">Modifica Password</ion-button>
      <br>
      <br>
      <ion-button fill="clear" color="danger" (click)="OpenModalEliminaAccount()">Elimina Account</ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 5%;" *ngIf="!isVerificato">
    <ion-col size="12" style="margin-left: -5%;">
      <div class="divCenter">
        <ion-label>Completa la verifica del tuo account aprendo il link che ti abbiamo inviato via mail</ion-label>
      </div>
      <br>
      <br>
      <div class="divCenter">
        <ion-label>Non ti è arrivata nessuna mail?</ion-label>
      </div>
      <div class="divCenter">
        <ion-label color="primary" (click)="resendVerificationEmail()">Clicca qui per richiederla di nuovo</ion-label>
      </div>
      <br>
      <div class="divCenter">
        <ion-label *ngIf="esitoResendVerification" style="font-weight: bold;">{{esitoResendVerification}}</ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-modal [isOpen]="isModificaPassword" class="full-modal">
  <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-card-title class="title">Modifica Password</ion-card-title>
          <ion-buttons slot="end">
            <ion-button (click)="DimsissModalModificaPassword()"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
     <ion-content>
      <ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>
      <ion-card *ngIf="!isLoading">
        <ion-card-header>
          <ion-card-subtitle>Per cambiare la password, inserire la vecchia ed impostare la propria, oppure richiederne una nuova</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-label style="font-size: large;" *ngIf="this.errore && (!this.notificaInvio || this.notificaInvio === '')" color="danger">{{this.errore}}</ion-label>
          <ion-label style="font-size: large;" *ngIf="(!this.errore || this.errore === '') && this.notificaInvio" color="success">{{this.notificaInvio}}</ion-label>

          <br>
          <form style="margin-top: 5%;" [formGroup]="formRegistrazione" (ngSubmit)="onSubmit()" style="text-align: center;">
            <ion-item style="margin-bottom: 5%;">
              <ion-input labelPlacement="floating" formControlName="vecchiaPassword" type="text">
                <div slot="label">Vecchia Password</div>
              </ion-input>
            </ion-item>
            <ion-item style="margin-bottom: 5%;">
              <ion-input labelPlacement="floating" formControlName="newPasswordRegistrazione" type="text">
                <div slot="label">Nuova Password</div>
              </ion-input>
            </ion-item>
            <ion-item style="margin-bottom: 5%;">
              <ion-input labelPlacement="floating" formControlName="ConfermaNewPasswordRegistrazione" type="text">
                <div slot="label">Conferma nuova Password</div>
              </ion-input>
            </ion-item>
            <br>
            <ion-button shape="round" type="input" [disabled]="!formRegistrazione.valid">Modifica Password</ion-button>
          </form>
          <br>
          <div style="display: flex; justify-content: center; align-items: center;">
            <ion-button fill="clear" (click)="resetPassword()">Password dimenticata?</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
     </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isEliminaAccount" class="full-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-card-title class="title">Elimina Account</ion-card-title>
        <ion-buttons slot="end">
          <ion-button *ngIf="this.isDeleted" (click)="openPage(1)"><ion-icon name="close-outline"></ion-icon></ion-button>
          <ion-button *ngIf="!this.isDeleted" (click)="DimsissModalEliminaAccount()"><ion-icon name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
   <ion-content>
    <ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>
    <ion-card *ngIf="!isLoading">
      <ion-card-header>
        <ion-card-title class="title" *ngIf="!this.isDeleted">Sicuro di voler eliminare il tuo account?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="!this.isDeleted">
          <ion-label style="margin-top: 1rem; margin-bottom: 1rem; font-weight: bold;">Puoi dirci perchè al fine di poter migliorare il nostro servizio? </ion-label> <br>
          <ion-radio-group [(ngModel)]="selectedReason" value="custom-checked"> <br>
            <ion-radio value="L'app non ha soddisfatto le mie aspettative" labelPlacement="end" style="font-size: smaller;">L'app non ha soddisfatto le mie aspettative</ion-radio> <br>
            <ion-radio value="Le promozioni non erano coerenti" labelPlacement="end" style="font-size: smaller;">Le promozioni non erano coerenti</ion-radio> <br>
            <ion-radio value="Le attività non hanno fornito il servizio offerto" labelPlacement="end" style="font-size: smaller;">Le attività non hanno fornito il servizio</ion-radio> <br>
            <ion-radio value="no-answer" labelPlacement="end" style="font-size: smaller;">Preferisco non rispondere</ion-radio> <br>
          </ion-radio-group>

          <div>
            <ion-card-title class="title2">Inserire la password per l'eliminazione</ion-card-title>
            <form [formGroup]="passwordForm">
              <ion-item>
                <ion-input
                  label="Password*" 
                  labelPlacement="stacked"
                  type="password"
                  formControlName="passwordFormControl">
                </ion-input>
              </ion-item>
              <ion-note style="margin-left: 5%;" *ngIf="hasError('required')" color="danger">
                Inserire la password per l'eliminazione
              </ion-note>
              <ion-note style="margin-left: 5%;" *ngIf="passwordError" color="danger">
                La password non è valida o non è stata inserita correttamente.
              </ion-note>
            </form>
          </div>
          
          <div style="display: flex; justify-content: center; align-items: center; margin-top: 5%;">
            <ion-button shape="round" color="success" (click)="DimsissModalEliminaAccount()">Annulla</ion-button>
            <ion-button fill="clear" color="danger" (click)="eliminaAccount()" [disabled]="!selectedReason && !this.passwordEliminazione">Elimina Account</ion-button>
          </div>
          <div style="display: flex; justify-content: center; align-items: center;">
            <ion-button fill="clear" (click)="resetPassword()">Password dimenticata?</ion-button>
          </div>
        </div>
        <div *ngIf="this.isDeleted">
          <div style="display: flex; justify-content: center; align-items: center; margin-top: 5%; margin-bottom: 3%;">
            <ion-label style="font-weight: bold;">Eliminazione eseguita correttamente</ion-label>
         </div>
          <div style="display: flex; justify-content: center; align-items: center; margin-top: 10%;">
            <ion-button shape="round" color="success" (click)="openPage(1)">Chiudi</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
   </ion-content>
</ng-template>
</ion-modal>
