<ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>
<!-- <img *ngIf="isLoading" src="assets/gif/loader.gif" alt="loading" class="custom-spinner" /> -->
<!-- SELEZIONE ATTIVITÀ -->
<div class="contentListAtt" *ngIf="!isLoading && listaAttivita && !attivita">
  <ion-toolbar class="ModalToolbarAddAtt">
    <ion-title>{{ 'SELECT_ACTIVITY' | translate }}</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let attivita of listaAttivita">
      <ion-thumbnail slot="start">
        <img [src]="attivita.uploadImgPrincipale" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ attivita.nome }}</h2>
        <p>{{ attivita.citta }}, {{ attivita.indirizzo }}, {{ attivita.civico }}, {{ attivita.cap }}</p>
      </ion-label>
        <ion-icon name="create-outline" color="primary" slot="end" (click)="addPromo(attivita)"></ion-icon>
    </ion-item>
  </ion-list>
</div>

<!-- FORM CON STEP -->
<ion-modal [isOpen]="isAddPromo" 
           [swipeToClose]="false" 
           (didDismiss)="onModalDismiss()"
           class="full-modal">
  <ng-template>
    <app-form-promo [idAttivita]="this.idAttivita"
                    (closeModal)="onModalDismiss()"
                    (closeModalAndGoToPage)="onModalDismissAndGoToPage($event)">
    </app-form-promo>
  </ng-template>
</ion-modal>


