<ion-grid class="horizontal-scroll">
  <ion-row>
    <ion-col (click)="Ricerca('ROMA')" size="auto">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="icon-container" src="assets/City/Roma.jpg"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label class="title2">{{ 'ROME' | translate }}</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col (click)="Ricerca('MILANO')" size="auto">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="icon-container" src="assets/City/Milano.jpg"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label class="title2">{{ 'MILAN' | translate }}</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col (click)="Ricerca('FIRENZE')" size="auto">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="icon-container" src="assets/City/Firenze.jpg"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label class="title2">{{ 'FLORENCE' | translate }}</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    
    <ion-col (click)="Ricerca('BOLOGNA')" size="auto">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="icon-container" src="assets/City/Bologna.jpg"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label class="title2">{{'BOLOGNA'|translate}}</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col (click)="Ricerca('NAPOLI')" size="auto">
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="icon-container" src="assets/City/Napoli.jpg"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label class="title2">{{ 'NAPLES' | translate }}</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row> 
</ion-grid>
