.divModal {
  font-family: 'Inter', sans-serif !important;
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 3%;
}

ion-button.btnEdit {
  min-width: unset;
  min-height: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button.btnConfirm::part(native) {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.iconBtn {
  font-size: 26px;
}
