
<ion-header style="position: fixed; top:0; z-index: 2000;">
  <ion-toolbar>
    
    <img slot="start" style=" margin-left:20px; width: 35px; height: 35px;" src="/assets/Img/Icon_.png"/>
    <ion-label style="margin-left:6px; font-family: Berlin Sans FB; font-size: larger;">ReaDeal</ion-label>
    <!-- <img slot="start" style=" margin-left:20px; width: 90px; height: 35px; margin-top: -15px; margin-bottom: -15px;" src="assets/Img/logo scritta.png"/> -->
    <ion-select slot="end"
                interface="popover"
                [(ngModel)]="lblFlag"
                (ionChange)="onLanguageChange($event.detail.value)"
                class="language-select"
                style="margin-right: 20px; font-weight: bold;">
      <ion-select-option value="it">IT  </ion-select-option>
      <ion-select-option value="en">EN  </ion-select-option>
    </ion-select>
    <ion-icon slot="end" padding size="large" (click)="openModal()" *ngIf="!mostraLoginButton" expand="block" name="menu-outline"></ion-icon>
    <ion-icon slot="end" padding size="large" (click)="ShowLogin()" *ngIf="mostraLoginButton" name="person-circle"></ion-icon>
  </ion-toolbar>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" class="full-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()"><ion-icon class="closeWhite"  name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item *ngIf="!idAttivitaIsValorizzato()">
          <ion-icon name="reader-outline" (click)="goToPage(5)"></ion-icon>
          <ion-label (click)="goToPage(5)">{{ 'Sign up your business' | translate }}</ion-label>
        </ion-item>
        <ion-item *ngIf="idAttivitaIsValorizzato()">
          <ion-icon name="reader-outline" (click)="goToPage(5)"></ion-icon>
          <ion-label (click)="goToPage(5)">{{ 'Manage your business' | translate }}</ion-label>
        </ion-item>
        <ion-item *ngIf="idAttivitaIsValorizzato()">
          <ion-icon name="add-outline" (click)="goToPage(6)"></ion-icon>
          <ion-label (click)="goToPage(6)">{{ 'Add Promo' | translate }}</ion-label>
        </ion-item>
        <ion-item *ngIf="idAttivitaIsValorizzato()">
          <ion-icon name="cog-outline" (click)="goToPage(7)"></ion-icon>
          <ion-label (click)="goToPage(7)">{{ 'Manage Promo' | translate }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="ticket-outline" (click)="goToPage(11)"></ion-icon>
          <ion-label (click)="goToPage(11)">{{ 'My coupon' | translate }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="heart-outline" (click)="goToPage(9)"></ion-icon>
          <ion-label (click)="goToPage(9)">{{ 'Favorites' | translate }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="person-outline" (click)="goToPage(12)"></ion-icon>
          <ion-label (click)="goToPage(12)">{{ 'My profile' | translate }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="log-out-outline" (click)="goToPage(4)"></ion-icon>
          <ion-label (click)="goToPage(4)">Logout</ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
    
</ion-header>

<ion-content fullscreen="true" [scrollY]="true">
  <div class="nav-body">
    <app-home *ngIf="isHomeOpen"
              [idPage]="this.idPage"
              [listaTipoAttivita]="this.listaTipoAttivita"
              [listaCitta]="this.listaCitta"
              (openPageEventNav)="openPageEventNav($event)"
              (updateIdFooter)="updateIdFooter($event)"
              (isModalLoginOpenEvent)="isOpenPageLoginEvent($event)"
              (openPageEventNavUpdPromo)="goToPage(7)"></app-home>
  </div>

  <app-login *ngIf="isModalLoginOpen" class="scroll" (closeLoginEvent)="closeLogin()" (openRegisterEvent)="ShowRegister()"></app-login>
  <app-registrazione *ngIf="isModalRegisterOpen" class="scroll" (closeRegisterEvent)="closeRegister()"></app-registrazione>
</ion-content>

