

<ion-grid class="horizontal-scroll">
  <ion-row>
    <ion-col (click)="Ricerca('0018')" size="auto">
      <ion-card class="icon-container">
        <img src="assets/Img/stanislav-ivanitskiy-j5SwUbcgeyA-unsplash.jpg"/>
        <ion-label class="icon-caption">{{'PUB'|translate}}</ion-label>
      </ion-card>
    </ion-col>

    <ion-col (click)="Ricerca('0012')" size="auto">
      <ion-card class="icon-container">
        <img src="assets/Img/chuttersnap-DOBIZ_sqgXM-unsplash.jpg"/>
        <ion-label class="icon-caption">{{ 'Wine Bar' | translate }}</ion-label>
      </ion-card>
    </ion-col>

    <ion-col (click)="Ricerca('0001')" size="auto">
      <ion-card class="icon-container">
        <img src="assets/Img/photo-1608270586620-248524c67de9.avif"/>
        <ion-label class="icon-caption">{{ 'Restaurants' | translate }}</ion-label>
      </ion-card>
    </ion-col>
    
    <ion-col (click)="Ricerca('0022')" size="auto">
      <ion-card class="icon-container">
        <img src="assets/Img/photo-1517248135467-4c7edcad34c4.avif"/>
        <ion-label class="icon-caption">{{ 'Breweries' | translate }}</ion-label>
      </ion-card>
    </ion-col>

    <ion-col (click)="Ricerca('0003')" size="auto">
      <ion-card class="icon-container">
        <img src="assets/Img/photo-1534308983496-4fabb1a015ee.avif"/>
        <ion-label class="icon-caption">{{ 'Pizza' | translate }}</ion-label>
      </ion-card>
    </ion-col>

    <ion-col (click)="Ricerca('0020')" size="auto">
      <ion-card class="icon-container">
        <img src="/assets/Img/loija-nguyen-NYBnDWeOX2c-unsplash_1.jpg"/>
        <ion-label class="icon-caption">Steak house</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
