<ion-toolbar>
  <ion-title Class="titleModal">
    {{ 'ENTER_PROMOTION' | translate }}
  </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="this.onModalDismiss()"><ion-icon class="closeBlack" name="close-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-toolbar class="sticky-header" *ngIf="!isLoading && !this.isConfirmOpen">
    <ion-segment [(ngModel)]="segmentValue" scrollable class="my-segment">
      <ion-segment-button value="one" class="my-button-left">
        <ion-icon class="iconAtt" name="information-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="two" class="my-button">
        <ion-icon class="iconAtt" name="calendar-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="three" class="my-button">
        <ion-icon class="iconAtt" name="checkmark-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="four" class="my-button">
        <ion-icon class="iconAtt" name="ticket-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="five" class="my-button-right">
        <ion-icon class="iconAtt" name="reorder-four-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col size="2">
        <ion-button shape="round" class="btnNav" (click)="indietro()">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8" class="col-center" [ngSwitch]="segmentValue">
        <h2 *ngSwitchCase="'one'" class="titleTypeCase">{{ 'InfoPromo' | translate }}</h2>
        <h2 *ngSwitchCase="'two'" class="titleTypeCase">{{ 'PERIOD' | translate }}</h2>
        <h2 *ngSwitchCase="'three'" class="titleTypeCase">{{ 'TYPEPROMO' | translate }}</h2>
        <h2 *ngSwitchCase="'four'" class="titleTypeCase">{{ 'COUPON_SETTING' | translate }}</h2>
        <h2 *ngSwitchCase="'five'" class="titleTypeCase">{{ 'SUMMARY' | translate }}</h2>
      </ion-col>
      <ion-col size="2" class="ion-text-end">
        <ion-button shape="round" class="btnNav" (click)="avanti()">
          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

</ion-toolbar>

<ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>

<ion-content class="sfondo" *ngIf="!isLoading && !this.isConfirmOpen" [fullscreen]="true">
  <ng-container [ngSwitch]="segmentValue">
    <div *ngSwitchCase="'one'" class="switch-segment-content">
      <ion-grid style="margin-top: 5%; --min-width: 90%;">
        <ion-row>
          <ion-col size ="12" class="column ion-text-center ion-align-items-center">
            <app-titolo [titolo]="this.requestPromo && this.requestPromo.titoloPromo ? this.requestPromo.titoloPromo : ''" 
                        (titoloChange)="handleTitoloChange($event)"></app-titolo>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size ="12" class="column ion-text-center ion-align-items-center">
            <app-descrizione [descrizione]="this.requestPromo && this.requestPromo.descPromo ? this.requestPromo.descPromo : ''" 
                             (descrizioneChange)="handleDescChange($event)">
            </app-descrizione>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size ="12" class="column ion-text-center ion-align-items-center">
            <app-area-promo [promo]="this.requestPromo"
                            (isFoodDrinkChange)="handleFoodDrinkChange($event)"
                            (isFoodChange)="handleFoodChange($event)"
                            (isDrinkChange)="handleDrinkChange($event)"
                            (isAnyTimeChange)="handleAnyTimeChange($event)"
                            (isBreakfastChange)="handleBreakfastChange($event)"
                            (isBrunchChange)="handleBrunchChange($event)"
                            (isLunchChange)="handleLunchChange($event)"
                            (isAfternoonTeaChange)="handleAfternoonTeaChange($event)"
                            (isHappyHourChange)="handleHappyHourChange($event)"
                            (isDinnerChange)="handleDinnerChange($event)"
                            (isLateNightChange)="handleLateNightChange($event)"
                            >
            </app-area-promo>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'two'" class="switch-segment-content">
      <ion-grid style="margin-top: 5%; --min-width: 90%;">
        <ion-row>
          <ion-col size ="12" class="column ion-text-center ion-align-items-center">
            <app-periodo-validita [dataDalValue]="this.requestPromo && this.requestPromo.dataDal ? this.requestPromo.dataDal : undefined"
                                  [dataAlValue]="this.requestPromo && this.requestPromo.dataAl ? this.requestPromo.dataAl : undefined"
                                  (dataDalChange)="handleDataDalChange($event)" 
                                  (dataAlChange)="handleDataAlChange($event)">
              </app-periodo-validita>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size ="12" class="column ion-text-center ion-align-items-center">
            <app-giorni-validita [giorni]="this.requestPromo.days ? this.requestPromo.days : undefined" 
                                 (isAllSettimanaChange)="handleAllSettimanaChange($event)"
                                 (isLunediChange)="handleLunediChange($event)"
                                 (isMartediChange)="handleMartediChange($event)"
                                 (isMercolediChange)="handleMercolediChange($event)"
                                 (isGiovediChange)="handleGiovediChange($event)"
                                 (isVenerdiChange)="handleVenerdiChange($event)"
                                 (isSabatoChange)="handleSabatoChange($event)"
                                 (isDomenicaChange)="handleDomenicaChange($event)">
            </app-giorni-validita>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size ="12" class="column ion-text-center ion-align-items-center">
            <app-orario-validita [isAllDayValidita]="this.requestPromo && this.requestPromo.isAllDayValidita ? this.requestPromo.isAllDayValidita : undefined"
                         [orarioValiditaDa]="this.requestPromo && this.requestPromo.orarioValiditaDa ? this.requestPromo.orarioValiditaDa : undefined"
                         [orarioValiditaAl]="this.requestPromo && this.requestPromo.orarioValiditaAl ? this.requestPromo.orarioValiditaAl : undefined"
                         (isAllDayValiditaChange)="handleIsAllDayValiditaChange($event)"
                         (orarioValiditaDaChange)="handleOrarioValiditaDaChange($event)"
                         (orarioValiditaAlChange)="handleorarioValiditaAlChange($event)">
            </app-orario-validita>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'three'" class="switch-segment-content">
      <ion-grid style="margin-top: 5%; --min-width: 90%;">
        <ion-row>
          <ion-col size ="12" class="column ion-text-center ion-align-items-center">
            <app-tipologia-offerta [listaTipologieSelezionate]="this.listaTipologie ? this.listaTipologie : undefined"
                                   (listaTipologieChanged)="handleListaTipologieChange($event)">
            </app-tipologia-offerta>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'four'" class="switch-segment-content">
      <ion-grid style="margin-top: 5%; --min-width: 90%;">
        <ion-row>
          <ion-col size ="2" class="column ion-text-center ion-align-items-center" style="margin-top: 2%;">
              <ion-icon name="bag-outline" class="promo-title-icon"></ion-icon>
          </ion-col>
          <ion-col size ="8" style="text-align: left;" >
            <div class="promo-title-wrapper">
              <span class="titleModalPromo">{{ 'SET_LIMIT' | translate }}</span>
            </div>
          </ion-col>
          <ion-col size ="2" class="column ion-text-center ion-align-items-center" style="margin-top: 3%;">
            <ion-toggle style="margin-left: 5%;" [(ngModel)]="isLimitEnabled" [ngModelOptions]="{standalone: true}" ></ion-toggle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size ="12" class="column ion-text-center ion-align-items-center">
              <div class="formInput divNumMaxCoupon" *ngIf="isLimitEnabled" >
                <div>
                  <app-num-max-coupon [numMax]="this.requestPromo && this.requestPromo.numCouponMax ? this.requestPromo.numCouponMax : undefined" (numMaxChange)="handleNumMaxChange($event)"></app-num-max-coupon>
                </div>
              </div>
          </ion-col>
        </ion-row>
        <ion-row  *ngIf="isLimitEnabled">
          <ion-col size ="2" class="column ion-text-center ion-align-items-center" style="margin-top: 2%;">
            <ion-icon name="person-outline" class="promo-title-icon"></ion-icon>
        </ion-col>
        <ion-col size ="8" style="text-align: left;" >
          <div class="promo-title-wrapper">
            <span class="titleModalPromo">{{ 'SET_USAGE_LIMIT' | translate }}</span>
          </div>
        </ion-col>
        <ion-col size ="2" class="column ion-text-center ion-align-items-center" style="margin-top: 3%;">
          <ion-toggle style="margin-left: 5%;" [(ngModel)]="isLimitEnabledPerson" [ngModelOptions]="{standalone: true}" ></ion-toggle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size ="12" class="column ion-text-center ion-align-items-center">
            <div class="formInput divNumMaxCoupon" *ngIf="isLimitEnabledPerson" >
              <div>
                <app-coupon-per-persona [numMaxPerPersona]="this.requestPromo && this.requestPromo.numUtilizziPerPersonaMax ? this.requestPromo.numUtilizziPerPersonaMax : undefined" 
                                        (numMaxPerPersonaChange)="handleNumMaxPerPersonaChange($event)">
                </app-coupon-per-persona>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'five'" class="switch-segment-content">
      <div>
        <ion-list style="margin-top: 2%;" >

          <ion-item class="promo-header">
            <ion-icon name="bulb-outline" class="promo-icon"></ion-icon>
            <div class="promo-text">
              <p class="promo-title">{{ 'TITLE' | translate }}</p>
              <h2 class="promo-subtitle">{{ requestPromo.titoloPromo }}</h2>
            </div>
          </ion-item>

          <ion-item class="promo-header">
            <ion-icon name="reader-outline" class="promo-icon"></ion-icon>
            <div class="promo-text">
              <p class="promo-title">{{ 'DESCRIPTION' | translate }}</p>
              <h2 class="promo-subtitle">{{ this.requestPromo.descPromo }}</h2>
            </div>
          </ion-item>

          <ion-item class="promo-header">
            <ion-icon name="calendar-outline" class="promo-icon"></ion-icon>
            <div class="promo-text">
              <p class="promo-title">{{ 'Period' | translate }}</p>
              <h2 class="promo-subtitle" *ngIf="this.requestPromo.dataDal && this.requestPromo.dataAl">{{ 'FROM_2' | translate }} {{ datePipe.transform(this.requestPromo.dataDal, 'dd/MM/yyyy') }} 
                - {{ 'TO_2' | translate }} {{ datePipe.transform(this.requestPromo.dataAl, 'dd/MM/yyyy') }}</h2>
            </div>
          </ion-item>

          <ion-item class="promo-header">
            <ion-icon name="today-outline" class="promo-icon"></ion-icon>
            <div class="promo-text">
              <p class="promo-title">{{ 'VALID_DAYS' | translate }}</p>

              <ion-row *ngIf="requestPromo.days?.includes(0)">
                <ion-col size="10">
                  <h2 class="promo-subtitle">{{ 'ALL_DAYS' | translate }}</h2>
                </ion-col>
              </ion-row>
              
              <ion-row  *ngIf="requestPromo.days?.includes(1) || requestPromo.days?.includes(2) || requestPromo.days?.includes(3) || requestPromo.days?.includes(4) || requestPromo.days?.includes(5) || requestPromo.days?.includes(6)  || requestPromo.days?.includes(7)">
                <ion-col *ngIf="requestPromo.days?.includes(1)">
                  <h2 class="promo-subtitle">{{ 'MONDAY' | translate }}</h2>
                </ion-col>
                <ion-col *ngIf="requestPromo.days?.includes(2)">
                  <h2 class="promo-subtitle">{{ 'TUESDAY' | translate }}</h2>
                </ion-col>
                <ion-col *ngIf="requestPromo.days?.includes(3)">
                  <h2 class="promo-subtitle">{{ 'WEDNESDAY' | translate }}</h2>
                </ion-col>
                <ion-col *ngIf="requestPromo.days?.includes(4)">
                  <h2 class="promo-subtitle">{{ 'THURSDAY' | translate }}</h2>
                </ion-col>
                <ion-col *ngIf="requestPromo.days?.includes(5)">
                  <h2 class="promo-subtitle">{{ 'FRIDAY' | translate }}</h2>
                </ion-col>
                <ion-col *ngIf="requestPromo.days?.includes(6)">
                  <h2 class="promo-subtitle">{{ 'SATURDAY' | translate }}</h2>
                </ion-col>
                <ion-col *ngIf="requestPromo.days?.includes(7)">
                  <h2 class="promo-subtitle">{{ 'SUNDAY' | translate }}</h2>
                </ion-col>
              </ion-row>
            </div>
          </ion-item>

          <ion-item class="promo-header">
            <ion-icon name="time-outline" class="promo-icon"></ion-icon>
            <div class="promo-text">
              <p class="promo-title">{{ 'VALID_TIME' | translate }}</p>
              <h2 class="promo-subtitle" *ngIf="this.requestPromo.isAllDayValidita">{{ 'ALL_DAY' | translate }}</h2>
              <h2 class="promo-subtitle" *ngIf="this.requestPromo.orarioValiditaDa && this.requestPromo.orarioValiditaAl">
                {{ 'FROM' | translate }} {{this.requestPromo.orarioValiditaDa}} - {{ 'TO' | translate }} {{this.requestPromo.orarioValiditaAl}}
              </h2>
            </div>
          </ion-item>

          <ion-item class="promo-header">
            <ion-icon name="checkmark-outline" class="promo-icon"></ion-icon>
            <div class="promo-text">
              <p class="promo-title">{{ 'OFFER_TYPES' | translate }}</p>
              <ion-row *ngIf="this.requestPromo.listaTipologie">
                <ion-col size="4" *ngFor="let item of this.requestPromo.listaTipologie">
                  <h2 class="promo-subtitle">{{item.descrizione}}</h2>
                </ion-col>
              </ion-row>
            </div>
          </ion-item>

          <ion-item class="promo-header">
            <ion-icon name="bag-outline" class="promo-icon"></ion-icon>
            <div class="promo-text">
              <p class="promo-title">{{ 'MAX_COUPONS_AVAILABLE' | translate }}</p>
              <h2 *ngIf="!this.requestPromo.numCouponMax || this.requestPromo.numCouponMax === 0" class="promo-subtitle">{{ 'NO_LIMIT' | translate }}</h2>
              <h2 *ngIf="this.requestPromo.numCouponMax" class="promo-subtitle">{{this.requestPromo.numCouponMax}}</h2>
            </div>
          </ion-item>

          <ion-item class="promo-header">
            <ion-icon name="person-outline" class="promo-icon"></ion-icon>
            <div class="promo-text">
              <p class="promo-title">{{ 'MAX_COUPONS_PER_PERSON' | translate }}</p>
              <h2 *ngIf="!this.requestPromo.numUtilizziPerPersonaMax || this.requestPromo.numUtilizziPerPersonaMax === 0" class="promo-subtitle">{{ 'NO_LIMIT' | translate }}</h2>
              <h2 *ngIf="this.requestPromo.numUtilizziPerPersonaMax" class="promo-subtitle">{{this.requestPromo.numUtilizziPerPersonaMax}}</h2>
            </div>
          </ion-item>
          

          <ion-item>
            <ion-grid style="margin-top: 10px;"  >
              <ion-row style="flex-wrap: wrap;" *ngIf="!this.requestPromo.idPromo">
                <ion-card>
                  <ion-card-header>
                    <ion-label>{{ 'DECLARATION_VERIFICATION' | translate }}</ion-label>
                  </ion-card-header>
                  <ion-card-content>
                    <div style="display: flex; align-items: center; gap: 8px; flex-wrap: wrap; margin-top: 10px;">
                      <ion-checkbox slot="start" (ionChange)="onCheckboxChange($event)"></ion-checkbox>
                      <ion-label style="margin: 0;">
                        {{ 'ACCEPT' | translate }}
                        <span style="color: #007bff; cursor: pointer;">{{ 'TERMS_CONDITIONS' | translate }}</span>
                      </ion-label>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ion-row>
              <ion-row style="flex-wrap: wrap;">
                <ion-col class="column ion-text-center ion-align-items-center">
                  <ion-button *ngIf="!this.requestPromo || !this.requestPromo.idPromo" (click)="prosegui(true)">{{ 'SAVE' | translate }}</ion-button>
                  <ion-button *ngIf="this.requestPromo && requestPromo.idPromo" (click)="prosegui(false)">{{ 'EDIT' | translate }}</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ng-container>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="!isLoading && this.isConfirmOpen">
  <ion-item class="TitleContent" *ngIf="!isLoadingSalvataggio && !isEsito">
    <ion-grid>
      <ion-row>
        <ion-col class="column ion-text-center ion-align-items-center">
          <img *ngIf="this.isSaved" class="imgConfirm" src="assets/Img/spunta_vicino.png"/>
          <img *ngIf="!this.isSaved" class="imgConfirm" src="assets/Img/zerocommissioni_1.png"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="this.isSaved" size="12" class="column ion-text-center ion-align-items-center">
          <div  class="divModal">
            {{ 'AlmostThere' | translate }}
          </div>
          <div class="divModal">
            {{ 'ProceedSave' | translate }} 
          </div>
        </ion-col>
        <ion-col *ngIf="!this.isSaved" size="12" class="column ion-text-center ion-align-items-center">
          <div  class="divModal">
            {{ 'AlmostThere' | translate }}
          </div>
          <div class="divModal">
            {{ 'ProceedChange' | translate }} 
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  
  <div class="btnContainer" *ngIf="!isLoadingSalvataggio && !isEsito">
    <ion-button color="danger" (click)="this.isConfirmOpen = false" class="btnConfirm">
      <ion-icon class="iconBtn" name="close-outline"></ion-icon>
    </ion-button>
    <ion-button color="success" (click)="salva()" class="btnConfirm">
      <ion-icon class="iconBtn" name="checkmark-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-item class="TitleContent" *ngIf="!isLoadingSalvataggio && isEsito">
    <ion-grid>
      <ion-row>
        <ion-col class="column ion-text-center ion-align-items-center">
          <img *ngIf="this.isEsitoOk" class="imgConfirm" src="assets/Img/spunta_okay.png"/>
          <img *ngIf="!this.isEsitoOk" class="imgConfirm" src="assets/Img/not_okay.png"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="this.isEsitoOk" size="12" class="column ion-text-center ion-align-items-center">
          <div  class="divModal">
            {{ 'SAVE_SUCCESS' | translate }}
          </div>
        </ion-col>
        <ion-col *ngIf="!this.isEsitoOk" size="12" class="column ion-text-center ion-align-items-center">
          <div  class="divModal">
            {{ 'SAVE_ERROR' | translate }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  
  <div class="btnContainer" *ngIf="!isLoadingSalvataggio && isEsito">
    <ion-button color="light" (click)="this.isConfirmOpen = false && this.isEsito = false" class="btnDone" shape="round">
      <ion-label>{{ 'GO_BACK' | translate }}</ion-label>
    </ion-button>
    <ion-button color="primary" (click)="this.onModalDismissWithRefresh()" class="btnDone" shape="round">
      <ion-label>{{ 'NEXT' | translate }}</ion-label>
    </ion-button>
  </div>
</ion-content>