.time{
    --padding-bottom: 5px;
    --padding-top: 5px;
    align-content: center;
    background-color: rgb(221, 216, 216);
  }

 .lbl-col {
   display: flex;
   justify-content: center;
   align-items: center;
 }
  
  .centered-label {
    text-align: center;
  }