<div class="segment">
  <ion-segment [(ngModel)]="segmentValue" (ionChange)="onSegmentChange($event)" class="my-segment">
    <ion-segment-button value="default" class="my-button-left">
      <ion-label>{{ 'ACTIVE_COUPONS' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" class="my-button-right">
      <ion-label>{{ 'INACTIVE_COUPONS' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

<ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>

<!--ATTIVE -->
<div *ngIf="!isLoading">
  <div *ngIf="segmentValue === 'default' && !isLoading && couponAttivi">
    <ion-card *ngFor="let coupon of couponAttivi" style="--min-height: 130px; --min-width: 400px;" class="shiny-orange-background">
      <ion-card-header>
        <div class="divCardHeaderCnt">
          <span class="lblScadenza">
            {{ 'SCADENZA' | translate }} {{ coupon.dataAl | date:'dd/MM/yyyy' }}
          </span>
          <ion-icon name="close-outline" (click)="openConfirmModal(false, coupon)" class="deleteIcon"></ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content>
        <div class="divCardContentCnt" style="margin-top: -5px;">
          <img [src]="coupon.imgPrincipale.upload" class="imgCoupon"/>
          <div class="btnContainer">
            <span class="title">{{ coupon.titoloPromo }}</span>
            <span class="subtitle" style="margin-bottom: 20px;">{{ coupon.nome }}</span>
          </div>
        </div>
        <div class="divCardHeaderCnt">
          <ion-button class="btn"  shape="round" fill="outline" (click)="openDetailModal(coupon)">{{ 'DETAIL' | translate }}</ion-button>
          <ion-button class="btn" shape="round" fill="outline" (click)="openConfirmModal(true, coupon)">{{ 'USE' | translate }}</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="column ion-text-center ion-align-items-center">
      <ion-label class="labelTitle" *ngIf="!isLoading && couponAttivi && couponAttivi.length === 0" >{{ 'NO_ACTIVE_COUPONS' | translate }}</ion-label>
    </div>
  </div>

<!-- NON ATTIVE -->
<div *ngIf="!isLoading">
  <div *ngIf="segmentValue === 'segment'">
    <div>
      <ion-segment class="segment" [(ngModel)]="subSegmentValue" (ionChange)="onSubSegmentChange($event)" class="my-segment">
        <ion-segment-button value="utilizzati" class="my-button-left">
          <ion-label>{{ 'USED' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="scaduti" class="my-button">
          <ion-label>{{ 'EXPIRED' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="annullati" class="my-button-right">
          <ion-label>{{ 'CANCELED' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <!-- UTILIZZATI -->
    <div *ngIf="subSegmentValue === 'utilizzati'">
      <ion-list>
        <ion-item *ngFor="let coupon of couponUtilizzati" class="coupon-item">
          <ion-thumbnail slot="start">
            <img src="assets/Img/spunta_vicino.png" />
          </ion-thumbnail>
          <ion-label class="coupon-label">
            <div class="card-title">{{ coupon.titoloPromo }}</div>
            <div class="card-subtitle">{{ 'USED_ON' | translate }} {{ coupon.timestamp | date:'dd/MM/yyyy' }}</div>
          </ion-label>
          <ion-icon slot="end" color="primary" name="information-circle-outline" class="info-icon" (click)="openDetailNonAttModal(coupon)"></ion-icon>
        </ion-item>
      </ion-list>
      <div class="column ion-text-center ion-align-items-center">
        <ion-label class="labelTitle" *ngIf="!isLoading && (!couponUtilizzati || couponUtilizzati.length === 0)" >{{ 'NO_USED_COUPONS' | translate }}</ion-label>
      </div>
    </div>

    <!-- SCADUTI -->
    <div *ngIf="subSegmentValue === 'scaduti'">
      <ion-list>
        <ion-item *ngFor="let coupon of couponScaduti" class="coupon-item">
          <ion-thumbnail slot="start">
            <img src="assets/Img/triste.png" />
          </ion-thumbnail>
          <ion-label class="coupon-label">
            <div class="card-title">{{ coupon.titoloPromo }}</div>
            <div class="card-subtitle">{{ 'EXPIRED_ON' | translate }} {{ coupon.timestamp | date:'dd/MM/yyyy' }}</div>
          </ion-label>
          <ion-icon slot="end" color="primary" name="information-circle-outline" class="info-icon" (click)="openDetailNonAttModal(coupon)"></ion-icon>
        </ion-item>
      </ion-list>
      <div class="column ion-text-center ion-align-items-center">
        <ion-label class="labelTitle" *ngIf="!isLoading && couponScaduti && couponScaduti.length === 0" >{{ 'NO_EXPIRED_COUPONS' | translate }}</ion-label>
      </div>
    </div>
    
    <!-- ANNULLATI -->
    <div *ngIf="subSegmentValue === 'annullati'">
      <ion-list>
        <ion-item *ngFor="let coupon of couponAnnullati" class="coupon-item">
          <ion-thumbnail slot="start">
            <img src="assets/Img/not_okay.png" />
          </ion-thumbnail>
          <ion-label class="coupon-label">
            <div class="card-title">{{ coupon.titoloPromo }}</div>
            <div class="card-subtitle">{{ 'CANCELED_ON' | translate }} {{ coupon.timestamp | date:'dd/MM/yyyy' }}</div>
          </ion-label>
          <ion-icon slot="end" color="primary" name="information-circle-outline" class="info-icon" (click)="openDetailNonAttModal(coupon)"></ion-icon>
        </ion-item>
      </ion-list>
      <div class="column ion-text-center ion-align-items-center">
        <ion-label class="labelTitle" *ngIf="!isLoading && couponAnnullati && couponAnnullati.length === 0" >{{ 'NO_CANCELED_COUPONS' | translate }}</ion-label>
    </div>
  </div>
</div>

<ion-modal [isOpen]="isModalDetailOpen" class="full-modal">
  <ng-template>
    <app-dettaglio-coupon style="height: 100%; overflow-y: auto;" (CloseModalDetailEvent)="dismissDetailModal()"  
    [coupon]="this.couponSelezionato"
    [isUtilizzabile]="this.isUtilizzabile">
  </app-dettaglio-coupon>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isModalDetailNonAttOpen" class="full-modal">
  <ng-template>
    <app-dettaglio-coupon-non-att style="height: 100%; overflow-y: auto;" (CloseModalNonDetailEvent)="dismissDetailNonAttModal()"  
    [coupon]="this.couponSelezionato"
    [isUtilizzabile]="this.isUtilizzabile">
  </app-dettaglio-coupon-non-att>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isModalConfirmOpen" class="full-modal">
  <ng-template>
    <app-confirm-modal (CloseModalConfirmEvent)="dismissConfirmlModal()" 
    (CloseModalConfirmWithEsitoEvent)="dismissConfirmlModalWithEsito()"  
    [coupon]="this.couponSelezionato"
    [isUtilizzabile]="this.isUtilizzabile"
    [idSoggetto]="this.idSoggetto"
    [isAdd]="this.isAdd">
  </app-confirm-modal>
  </ng-template>
</ion-modal>


