.divCardHeaderCnt{
  display: flex; 
  justify-content: space-between; 
  align-items: center; width: 100%;
}

.divCardContentCnt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 8px; /* regola la distanza tra immagine e testo */
}

.deleteIcon{
  color:white; 
  width: 25px; 
  height: 25px;
}

.infoIcon{
  color:white; 
  width: 20px; 
  height: 20px;
}

.imgCoupon {
  width: 120px !important;
  height: 80px;
  border-radius: 10px;
}

.title{
  font-family: Helvetica;
  font-weight: 500;
  font-size: 1.3rem;
}

.subtitle{
  font-family: Helvetica;
  font-weight: 450;
  font-size: 1rem;
}

.titleNonAtt{
  font-family: Helvetica;
  font-weight: 450;
  font-size: 1.1rem;
}

.subtitleNonAtt{
  font-family: Helvetica;
  font-weight: 400;
  font-size: 0.9rem;
}

.segment{
    margin-top: 5%;
}

.labelTitle{
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 1.2rem;
}

.shiny-orange-background {
    background: linear-gradient(
    135deg,
    #0a3d91 0%,
    #3b8edc 40%,
    #a0c8ff 60%,
    #0a3d91 100%
  );
  // background: linear-gradient(
  //   135deg,
  //   #e9540a 0%,
  //   #fa7330 40%,
  //   #fd9c5f 60%,
  //   #e9540a 100%
  // );

  background-size: 400% 400%;
  animation: shimmer 6s ease infinite;

  color: #ffffff;
  border-radius: 10px;

  /* Per effetto luccicante */
  box-shadow: 0 0 10px rgba(112, 219, 255, 0.5);
  position: relative;
  overflow: hidden;
}

@keyframes shimmer {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.btn {
  --color: #ffffff;
  --border-color: #ffffff;
}

.btnContainer {
  display: flex; 
  flex-direction: column; 
  gap: 2px;
}

.icon{
  margin-top:5px; 
  width: 30px;
  height: 30px; 
  object-fit: cover;
}


