.divCardHeaderCnt{
  display: flex; 
  justify-content: space-between; 
  align-items: center; width: 100%;
}

.divCardContentCnt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 8px; /* regola la distanza tra immagine e testo */
}

.deleteIcon{
  color:white; 
  width: 25px; 
  height: 25px;
}

.infoIcon{
  color:white; 
  width: 20px; 
  height: 20px;
}

.imgCoupon {
  width: 70px !important;
  height: 70px;
  border-radius: 50px;
  margin-top: -10px;
}

.lblScadenza {
  color: #ffffff;
  font-weight: 500;
  font-size: 0.9rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.title{
  font-weight: 600;
  font-size: 1.4rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.subtitle{
  --font-family: 'Helvetica', sans-serif !important;
  font-weight: 450;
  font-size: 1rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.titleNonAtt{
  --font-family: 'Helvetica', sans-serif !important;
  font-weight: 450;
  font-size: 1.1rem;
}

.subtitleNonAtt{
  --font-family: 'Helvetica', sans-serif !important;
  font-weight: 400;
  font-size: 0.9rem;
}

.segment{
    margin-top: 5%;
}

.labelTitle{
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-family: 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.shiny-orange-background {
    background: linear-gradient(
    135deg,
    #e9540a 0%,
    #fa7330 40%,
    #fd9c5f 60%,
    #e9540a 100%
  );
  // background: linear-gradient(
  //   135deg,
  //   #e9540a 0%,
  //   #fa7330 40%,
  //   #fd9c5f 60%,
  //   #e9540a 100%
  // );

  background-size: 400% 400%;
  animation: shimmer 6s ease infinite;

  color: #ffffff;
  border-radius: 10px;

  /* Per effetto luccicante */
  box-shadow: 0 0 10px rgba(112, 219, 255, 0.5);
  position: relative;
  overflow: hidden;
}

@keyframes shimmer {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.btn {
  --color: #ffffff;
  --border-color: #ffffff;
}

.btnContainer {
  display: flex; 
  flex-direction: column; 
  gap: 2px;
}

.icon{
  margin-top:5px; 
  width: 30px;
  height: 30px; 
  object-fit: cover;
}

.coupon-card {
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: 1 2px 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease;
  --padding-start: 0;
  --padding-end: 0;

  &:hover {
    transform: scale(1.01);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 450;
    color: #666;
  }

  .info-icon {
    font-size: 20px;
    color: #3880ff;
  }

  .card-body {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: -5px;
  }

  .status-icon {
    font-size: 30px;
    flex-shrink: 0;
  }

  .text-group {
    display: flex;
    flex-direction: column;
  }

  .card-title {
    --font-family: 'Helvetica', sans-serif !important;
    font-weight: 450;
    font-size: 1.05rem;
    color: #222;
  }

  .card-subtitle {
    --font-family: 'Helvetica', sans-serif !important;
    font-weight: 400;
    font-size: 0.95rem;
    color: #666;
  }
}

.coupon-item {
  --inner-padding-top: 10px;
  --inner-padding-bottom: 10px;
  margin-bottom: 6px; // spazio tra i coupon

  .check-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 100%;
  }

  ion-icon {
    font-size: 24px;
  }

  .coupon-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-icon {
    font-size: 22px;
    align-self: center;
  }

  .card-subtitle {
    font-size: 12px;
    color: var(--ion-color-medium);
    margin-top: 2px;
  }

  .card-title {
    font-size: 16px;
    font-weight: 600;
    color: #595959;
    margin-top: 2px;
  }
}





