.segment{
    margin-top: 5%;
}

.subSegment{
    margin-top: 15%;
}

ion-spinner {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.btn{
    object-fit: cover;

    display: flex;
}

.full-modal::part(content) {
    height: 100%;
    width: 100%;
}

.title{
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 1.4rem;
  }

  .labelTitle{
    width: 310px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 1.2rem;
  }

