<ion-item>
  <ion-card-title style="margin-bottom: 3%; margin-top: 9%;" class="titleHomePage">{{ 'Close to you' | translate }}</ion-card-title>
  <ion-icon style="margin-bottom: 3%; margin-top: 9%;" (click)="RicercaAttivitaEvent()" slot="end" name="chevron-forward-outline"></ion-icon>
</ion-item>

  <div class="card-containerHomePage" #widgetsContent>
    <div class="card-wrapperHomePage" *ngIf="!isLoading">
      <ion-card class="card-consigli" *ngFor="let attivita of elencoVicini" (click)="VisualizzaAttivita(attivita)">
        <img mat-card-image [src]="getImmaginePrincipale(attivita)" class="imgAtt" alt="{{'ACTIVITYPHOTO'|translate}}"/>
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <ion-card-title class="NameAttHomePage">{{attivita.nome}}</ion-card-title>
            </ion-col>
            <ion-col size="4" style="text-align: right;">
              <ion-card-label>{{ attivita.distanza }}</ion-card-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

    <div class="card-wrapperHomePage" *ngIf="isLoading">
      <ion-card class="skeleton">
        <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
        <ion-card-header>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </ion-card-header>
      </ion-card>
      <ion-card class="skeleton">
        <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
        <ion-card-header>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
