<ion-item>
  <ion-card-title class="title">Vicino a te</ion-card-title>
  <ion-icon (click)="RicercaAttivitaEvent()" slot="end" name="chevron-forward-outline"></ion-icon>
</ion-item>

  <div class="card-container" #widgetsContent>
    <div class="card-wrapper" *ngIf="!isLoading">
      <ion-card class="card-consigli" *ngFor="let attivita of elencoVicini" (click)="VisualizzaAttivita(attivita)">
        <div class="label-overlay" *ngIf="attivita.isPromoPresente">
          <label>Promo</label>
        </div>
        <img mat-card-image [src]="getImmaginePrincipale(attivita)" class="imgAtt" alt="Immagine dell'attività"/>
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <ion-card-subtitle><ion-card-title class="title2">{{attivita.nome}}</ion-card-title></ion-card-subtitle>
            </ion-col>
            <ion-col size="4">
              <ion-card-label class="distance">{{ attivita.distanza }}</ion-card-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

    <div class="card-wrapper" *ngIf="isLoading">
      <ion-card class="skeleton">
        <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
        <ion-card-header>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </ion-card-header>
      </ion-card>
      <ion-card class="skeleton">
        <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
        <ion-card-header>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
