<ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>

<ion-grid *ngIf="!isLoading" style="margin-top: 20%;">
  <ion-row justify-content-center>
    <ion-col size="12" class="column ion-text-center ion-align-items-center">
      <ion-card class="card-login ion-padding">

        <ion-toolbar style="--background-color: white !important;">
          <ion-title class="title">{{ isRegistered ? 'Welcome' : ('Register' | translate) }}</ion-title>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="closeRegister()">
              <ion-icon name="close-outline" class="closeBlack"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-card-content class="scroll-content">

          <ion-text color="danger" *ngIf="errore">
            <p class="error">{{ errore }}</p>
          </ion-text>

          <form *ngIf="!isRegistered" [formGroup]="formRegistrazione" (ngSubmit)="onSubmit()" style="margin-top: 1rem;">

            <ion-item>
              <ion-input
                label="{{ 'Name' | translate }}"
                labelPlacement="floating"
                formControlName="nomeRegistrazione"
                type="text"
                placeholder="Mario">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                label="{{ 'Surname' | translate }}"
                labelPlacement="floating"
                formControlName="cognomeRegistrazione"
                type="text"
                placeholder="Rossi">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                label="{{ 'Email' | translate }}"
                labelPlacement="floating"
                formControlName="emailRegistrazione"
                type="email"
                placeholder="email@example.com">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                label="{{ 'Password' | translate }}"
                labelPlacement="floating"
                formControlName="passwordRegistrazione"
                type="password"
                (input)="onPasswordInput()"
                placeholder="••••••••"><ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                label="{{ 'Confirm Password' | translate }}"
                labelPlacement="floating"
                formControlName="ConfermaPasswordRegistrazione"
                type="password"
                (input)="onPasswordInput()"
                placeholder="••••••••"><ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-item>

            <ion-note *ngIf="passwordsDoNotMatch" color="danger" class="ion-padding-top">
              {{ 'Passwords dont match' | translate }}
            </ion-note>

            <ion-button expand="block" shape="round" style="margin-top: 1.5rem;" type="submit" [disabled]="!formRegistrazione.valid">
              {{ 'REGISTER' | translate }}
            </ion-button>

            <ion-label class="ion-text-center" style="margin-top: 15px;">{{ 'or sign up with' | translate }}</ion-label>

            <div class="divIcon">
              <ion-button fill="clear" (click)="signInWithGoogle()">
                <img src="assets/Img/google.png" class="card-img-google" alt="Google">
              </ion-button>
              <ion-button fill="clear" (click)="signInWithFacebook()">
                <img src="assets/Img/facebook.png" class="card-img-facebook" alt="Facebook">
              </ion-button>
            </div>

          </form>

          <!-- Dopo registrazione -->
          <div *ngIf="isRegistered" class="ion-text-center" style="margin-top: 2rem;">
            <ion-label *ngIf="!esitoResendVerification">{{ 'Didnt get the email' | translate }}</ion-label>
            <ion-label *ngIf="esitoResendVerification" style="font-weight: bold;">{{ esitoResendVerification }}</ion-label>

            <ion-button fill="clear" color="primary" (click)="resendVerificationEmail()" style="margin-top: 1rem;">
              {{ 'Resend verification email' | translate }}
            </ion-button>

            <ion-button expand="block" shape="round" color="success" (click)="closeRegister()" style="margin-top: 2rem;">
              {{ 'Close' | translate }}
            </ion-button>
          </div>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
