<ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>
<ion-grid *ngIf="!isLoading">
  <ion-row>
    <ion-col size-l="6" offset-l="3" class="ion-text-center">
      <ion-card>
        <ion-card-header>
          <ion-toolbar>
            <ion-card-title *ngIf="!isRegistered" class="title">Registrati</ion-card-title>
            <ion-card-title *ngIf="isRegistered" class="title">Benvenuto!</ion-card-title>
            <ion-icon slot="end"  name="close-outline" class="close" (click)="closeRegister()"></ion-icon>
          </ion-toolbar>
        </ion-card-header>
        <ion-card-content class="scroll-content">
          <ion-card-subtitle class="error" [style.visibility]="errore !== '' ? 'visible' : 'hidden'">{{errore}}</ion-card-subtitle>
  
          <form *ngIf="!isRegistered" class="login-container" [formGroup]="formRegistrazione" (ngSubmit)="onSubmit()" style="text-align: center;">
                <ion-item>
                  <ion-input labelPlacement="floating" formControlName="nomeRegistrazione" type="text">
                    <div slot="label">Nome</div>
                  </ion-input>
                </ion-item>
              <ion-item>
                <ion-input labelPlacement="floating" formControlName="cognomeRegistrazione" type="text">
                  <div slot="label">Cognome</div>
                </ion-input>
              </ion-item>
            <ion-item>
              <ion-input labelPlacement="floating" formControlName="emailRegistrazione" type="email">
                <div slot="label">Email</div>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input labelPlacement="floating" formControlName="passwordRegistrazione" type="password" (input)="onPasswordInput()">
                <div slot="label">Password</div>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input labelPlacement="floating" formControlName="ConfermaPasswordRegistrazione" type="password" (input)="onPasswordInput()">
                <div slot="label">Conferma Password</div>
              </ion-input>
            </ion-item>
            <ion-note style="margin-left: 5%;" *ngIf="passwordsDoNotMatch" color="danger">
              Le password non coincidono
            </ion-note>
              <br>
              <br>
              <ion-button style="--height: 40px;" shape="round" type="input" [disabled]="!formRegistrazione.valid">Registrati</ion-button>
              
              <div class="divIcon">
                <label>oppure registrati tramite</label>
                <br>
                <img class="card-img-google" (click)="signInWithGoogle()" style="cursor: pointer;" src="assets/Img/google.png">
                  <img class="card-img-facebook" (click)="signInWithFacebook()" style="cursor: pointer;" src="assets/Img/facebook.png">
              </div>
          </form>

          <div *ngIf="isRegistered" style="display: flex; justify-content: center; align-items: center; margin-top: 10%;">
            <ion-button shape="round" color="success" (click)="closeRegister()">Chiudi</ion-button>
          </div>
          <br>
          <br>
          <div *ngIf="isRegistered" style="display: flex; justify-content: center; align-items: center;">
            <ion-label *ngIf="!esitoResendVerification">(Non ti è arrivata nessuna mail?)</ion-label>
            <ion-label *ngIf="esitoResendVerification" style="font-weight: bold;">{{esitoResendVerification}}</ion-label>
          </div>
          <br>
          <br>
          <div *ngIf="isRegistered" style="display: flex; justify-content: center; align-items: center;">
            <ion-label color="primary" (click)="resendVerificationEmail()">Reinvia la mail di verifica</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
