.card-img-google{
  width: 30px;
  height: 30px;
  margin-right: 2%;
}

.card-img-facebook{
  width: 30px;
  height: 30px;
  margin-left: 2%;
}

.scroll-content {
  overflow-y: auto;
  max-height: 70vh; /* Altezza massima consentita, regola a tuo piacimento */
}

.title{
  font-family: Helvetica;
  font-weight: 500;
  font-size: 1.1rem;
}

ion-grid{
  overflow-y: hidden;
}
  
  