.scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  --background: #e9540a;
}

.keyboard-open ion-content app-footer{
  opacity: 0;
}

.keyboard-open .footer {
  --display: none !important;
}

.splash-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 9999;
}

.splash-screen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-color: black;
  pointer-events: none;
}

video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
 
.splash-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e9540a; // sfondo arancione
  z-index: 2;
}
