
ion-card {
  margin-bottom: 16px; /* Aggiungi un margine inferiore per evitare che l'ultima card si sovrapponga al footer */
}

.card-container{
  min-width: 370px; 
  height: 90vh; 
  width: 100vw; 
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.column{
  justify-content: center; 
  align-items: center;
  display: flex;
  object-fit: cover;
}

.btn{
  height: 27px; 
  width: 27px;
}

.full-modal::part(content) {
  height: 100%;
  width: 100%;
}

.title{
  font-family: Helvetica;
  font-weight: lighter;
  margin-left: 3%;
  font-size: 1.2rem;
}

.title2{
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1.1rem;
}

.labelTitle{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1.1rem;
}

.imgCoupon {
  width: 120px !important;
  height: 80px;
  border-radius: 10px;
}

.label-overlay {
  --background-color: rgb(30, 192, 39) !important; /* Aggiungi uno sfondo semi-trasparente se lo desideri */
  color: white; /* Colore del testo */
}

