.card-container {
  width: 100vw;
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.fav-card {
  box-shadow: 1 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 15px;
}

.fav-title {
  font-size: 1rem;
  font-weight: 450;
}

.close-icon {
  font-size: 22px;
  color: #e74c3c;
  cursor: pointer;
}

.fav-content {
  align-items: center;
  margin-top: -5px;
}

.fav-img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.fav-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
}

.fav-address {
  font-size: 14px;
  color: #444;
  margin-bottom: 4px;
}

.labelTitle {
  margin-top: 40px;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'Helvetica', sans-serif, sans-serif;
  color: #555;
}


/* Wrappa tutto */
::ng-deep .custom-action-sheet .action-sheet-wrapper {
  padding: 0 !important;
  background: transparent !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

/* Contenitore interno con colore */
::ng-deep .custom-action-sheet .action-sheet-group {
  background: white;
  border-radius: 0 !important;
  margin: 0;
}SZ

/* Titolo con fondo arancione pieno */
::ng-deep .custom-action-sheet .action-sheet-title {
  background-color: #e9540a;
  color: white;
  font-weight: bold;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
  padding: 0 16px;
  z-index: 1;
}