
ion-spinner {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


ion-card {
  margin-bottom: 16px; /* Aggiungi un margine inferiore per evitare che l'ultima card si sovrapponga al footer */
}

.card-container{
  min-width: 400px; 
  height: 90vh; 
  width: 100vw; 
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.column{
  justify-content: center; 
  align-items: center;
  display: flex;
  object-fit: cover;
}

.btn{
  height: 27px; 
  width: 27px;
}

