/* app-footer.component.scss */
:host { display: block; }

.footer{
  position: fixed;
  inset: auto 0 0 0;       /* bottom:0; left/right:0 */
  width: 100vw;
  z-index: 1000;
  --background: #e9540a;
  padding-bottom: env(safe-area-inset-bottom); /* iOS */
}

.footer ion-tab-bar{
  width: 100%;
  --background: #e9540a;
  --color: #fff;
}

.footer ion-tab-button{
  --background: transparent;  /* niente riquadri */
}

/* opzionale: evitare “gutter” orizzontale */
.footer, .footer * { box-sizing: border-box; }

  .footer ion-icon {
    color: white;
    background-color: #e9540a;
  }

  ion-toolbar ion-tabs ion-tab-button{
    --background: #e9540a;
    --color: #FFFFFF;
  } 

