.chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    
  }

  .prosegui{
    margin-top: 1%;
    margin-bottom: 6%;
    width: 120px;
    height: 45px;
  }


  .elimina{
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    width: 100%;
  }