
<ion-item class="gradient-bg diagonal-sides">
  <img class="iconaBeverage" src="assets/Img/beverage.png" />
  <ion-card-title class="titleView">
    {{ 'PromoDrink' | translate }}
  </ion-card-title>
  <ion-icon (click)="RicercaAttivitaEvent()" slot="end" name="chevron-forward-outline"></ion-icon>
</ion-item>

<div class="card-containerHomePage" #widgetsContent style="margin-top: -25px;">
  <div class="card-wrapperHomePage" *ngIf="!isLoading">

    <div *ngFor="let attivita of elencoAttivita" (click)="VisualizzaAttivita(attivita)">
      <div class="divContainerCard" *ngFor="let promo of attivita.promo?.slice(0, 1)">

        <!-- <div class="typePromo-overlayHomePage">
            <div class="icona-promo-container" *ngIf="has2X1Tipologia(promo)">
                <img class="icona-promo dueperuno"  src="assets/Img/2x1_Ar.png" />
            </div>
            <div class="icona-promo-container" *ngIf="hasOmaggiTipologia(promo)">
                <img class="icona-promo gift" src="assets/Img/gift 2_Ar.png" />
            </div>
            <div class="icona-promo-container" *ngIf="hasPacchettiTipologia(promo)">
                <img class="icona-promo bundle" src="assets/Img/scatola_Ar.png" />
            </div>
            <div class="icona-promo-container" *ngIf="hasScontiTipologia(promo)">
                <img class="icona-promo percent" src="assets/Img/percentuale_Ar.png" />
            </div>
            <div class="icona-promo-container" *ngIf="hasPerBambiniTipologia(promo)">
                <img class="icona-promo child" src="assets/Img/bambini_Ar.png" />
            </div>
            <div class="icona-promo-container" *ngIf="hasPerFamiglieTipologia(promo)">
                <img class="icona-promo family" src="assets/Img/ticket famiglia_Ar.png" />
            </div>
            <div class="icona-promo-container" *ngIf="hasPerCoppieTipologia(promo)">
                <img class="icona-promo love" src="assets/Img/love_Ar.png" />
            </div>
            <div class="icona-promo-container" *ngIf="hasVeganiTipologia(promo)">
                <img class="icona-promo vegan" src="assets/Img/vegano_Ar.png" />
            </div>
            <div class="icona-promo-container" *ngIf="hasVegetarianiTipologia(promo)">
                <img class="icona-promo vegan" src="assets/Img/vegetariano_Ar.png" />
            </div>
          </div> -->
          
        <ion-card class ="card-consigli">
        <ion-item style="margin-top: 22px;">
          <!-- Avatar -->
          <div slot="start" style="width: 70px; height: 70px; overflow: hidden; border-radius: 40px;">
            <img [src]="attivita.uploadImgPrincipale" alt="" style="width: 100%; height: 100%; object-fit: cover;" />
          </div>
        
          <!-- Testi + stelle + distanza -->
          <ion-label style="font-family: 'Helvetica', sans-serif;font-size: 1rem; font-weight: 450;display: flex; flex-direction: column; justify-content: flex-start; padding: 0;">
            <!-- Nome -->
            <div style="margin-bottom: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ attivita.nome }}</div>
          
            <!-- Stelle -->
            <div style="display: flex; align-items: center; flex-wrap: wrap; font-size: 14px; margin-bottom: 4px;">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <ion-icon
                  [name]="attivita.rating >= star ? 'star' : attivita.rating >= star - 0.5 ? 'star-half' : 'star-outline'"
                  class="star" style="font-size: 14px; color: #f0c330;">
                </ion-icon>
              </ng-container>
              <span class="rating-countHomePage" style="margin-left: 5px;"> ({{ attivita.numberOfRating }})</span>
            </div>
          
            <!-- Distanza -->
            <div style="display: flex; align-items: center; font-size: 13px; color: gray;">
              <ion-icon name="location-outline" style="margin-right: 4px;"></ion-icon>
              {{ attivita.distanza }}
            </div>
          </ion-label>
        </ion-item>

        <div class="divContainerTitolo">
              <ion-label class="titlePromoHomePage">
                {{promo.titoloPromo}}
              </ion-label>
        </div>

       <div class="chip-overlay" style="margin-left: 10px;">
                  <ion-chip [outline]="true" *ngIf="promo.periodo?.includes('1')" >{{ 'BREAKFAST' | translate }}</ion-chip>
                  <ion-chip [outline]="true" *ngIf="promo.periodo?.includes('2')" >{{ 'BRUNCH' | translate }}</ion-chip>
                  <ion-chip [outline]="true" *ngIf="promo.periodo?.includes('3')" >{{ 'LUNCH' | translate }}</ion-chip>
                  <ion-chip [outline]="true" *ngIf="promo.periodo?.includes('4')" >{{ 'AFTERNOONTEA' | translate }}</ion-chip>
                  <ion-chip [outline]="true" *ngIf="promo.periodo?.includes('5')" >{{ 'HAPPYHOUR' | translate }}</ion-chip>
                  <ion-chip [outline]="true" *ngIf="promo.periodo?.includes('6')" >{{ 'DINNER' | translate }}</ion-chip>
                  <ion-chip [outline]="true" *ngIf="promo.periodo?.includes('7')" >{{ 'LATENIGHT' | translate }}</ion-chip>
                  <ion-chip [outline]="true" *ngIf="promo.periodo?.includes('99')" >{{ 'ANYTIME' | translate }}</ion-chip>
            </div>
        
        </ion-card>
      </div>
    </div>
  </div>

  <div class="card-wrapperHomePage" *ngIf="isLoading">
    <ion-card class="skeleton" style="margin-top: 35px;">
      <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text [animated]="true" style="width: 80%; border-radius: 10px;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 80%; border-radius: 10px;"></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
    <ion-card class="skeleton" style="margin-top: 35px;">
      <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text [animated]="true" style="width: 80%; border-radius: 10px;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 80%; border-radius: 10px;"></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
    <ion-card class="skeleton" style="margin-top: 35px;">
      <ion-skeleton-text [animated]="true" class="imgSkeleton"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text [animated]="true" style="width: 80%; border-radius: 10px;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 80%; border-radius: 10px;"></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
  </div>
</div>