<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="container">
      <h2 *ngIf="this.isError" class="lbl-info" style="color: red;">{{descErrore}}</h2>
  </div>
  
  <div>
      <mat-card-header>
        <mat-card-title>{{ riepilogoPromo?.titoloPromo }}</mat-card-title>
        <mat-card-subtitle>{{ riepilogoPromo?.descPromo }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
  
          <mat-divider class="orizontal-divider"></mat-divider>
  
          <label class="lbl">{{'VALID_UNTIL'|translate}} {{ riepilogoPromo?.dataAl | date:'dd-MM-yyyy' }}</label>
  
          <mat-divider class="orizontal-divider"></mat-divider>
  
          <div class="row">
              <div class="col-12 col-sm-6">
                  <div class="container">
                      <p class="lbl"> {{'VALID_DAYS'|translate}} </p>
                  </div>
                <ul>
                  <li *ngIf="riepilogoPromo !== undefined && riepilogoPromo.days !== undefined && riepilogoPromo.days.includes(0)" class="lbl">{{'ALL_DAYS'|translate}}</li>
                  <li *ngIf="riepilogoPromo !== undefined && riepilogoPromo.days !== undefined && riepilogoPromo.days.includes(1)">{{'MONDAY'|translate}}</li>
                  <li *ngIf="riepilogoPromo !== undefined && riepilogoPromo.days !== undefined && riepilogoPromo.days.includes(2)">{{'TUESDAY'|translate}}</li>
                  <li *ngIf="riepilogoPromo !== undefined && riepilogoPromo.days !== undefined && riepilogoPromo.days.includes(3)">{{'WEDNESDAY'|translate}}</li>
                  <li *ngIf="riepilogoPromo !== undefined && riepilogoPromo.days !== undefined && riepilogoPromo.days.includes(4)">{{'THURSDAY'|translate}}</li>
                  <li *ngIf="riepilogoPromo !== undefined && riepilogoPromo.days !== undefined && riepilogoPromo.days.includes(5)">{{'FRIDAY'|translate}}</li>
                  <li *ngIf="riepilogoPromo !== undefined && riepilogoPromo.days !== undefined && riepilogoPromo.days.includes(6)">{{'SATURDAY'|translate}}</li>
                  <li *ngIf="riepilogoPromo !== undefined && riepilogoPromo.days !== undefined && riepilogoPromo.days.includes(7)">{{'SUNDAY'|translate}}</li>

                </ul>
              </div>
  
              <div class="col-12 col-sm-5">
                <p class="lbl"> {{'TIME'|translate}} </p>
                <label *ngIf="riepilogoPromo?.isAllDayValidita">{{'ALL_DAY'|translate}}</label>
                <label *ngIf="riepilogoPromo?.orarioValiditaDa">{{'FROM'|translate}} {{riepilogoPromo?.orarioValiditaDa}} - </label>
                <label style="margin-left: 0,5%;" *ngIf="riepilogoPromo?.orarioValiditaAl">{{'TO'|translate}} {{riepilogoPromo?.orarioValiditaAl}}</label>
              </div>
            </div>

            <mat-divider class="orizontal-divider"></mat-divider>
  
      </mat-card-content>
      <div class="container-button">
          <div class="container" >
              <mat-card-subtitle class="txt-info">{{'ReservationDetail'|translate}}</mat-card-subtitle>
          </div>
          <!-- <button type="button" class="btn container-button" (click)="Prenota(this.coupon)">CONFERMA</button> -->
      </div>
  </div>
</div>