<form [formGroup]="exampleForm">
  <ion-item>
    <ion-input
      label="Titolo*" 
      labelPlacement="stacked"
      type="text"
      formControlName="titoloFormControl"
      [value]='titolo'>
    </ion-input>
  </ion-item>
  <ion-note style="margin-left: 5%;" *ngIf="hasError('minlength')" color="danger">
    {{ 'MIN_LENGTH_5' | translate }}
  </ion-note>
  <ion-note style="margin-left: 5%;" *ngIf="hasError('maxlength')" color="danger">
    {{ 'MAX_LENGTH_50' | translate }}
  </ion-note>
  <ion-note style="margin-left: 5%;" *ngIf="hasError('required')" color="danger">
    {{ 'PROMO_TITLE_REQUIRED' | translate }}
  </ion-note>
</form>