<form [formGroup]="exampleForm" class="form">
  <div class="promo-title-wrapper">
    <ion-icon name="bulb-outline" class="promo-title-icon"></ion-icon>
    <span class="titleModalPromo">{{ 'PROMO_TITLE_INSERT' | translate }}*</span>
  </div>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      type="text"
      formControlName="titoloFormControl"
      class="promoInput"
      [value]='titolo'>
    </ion-input>
  </ion-item>
  <ion-note class="promoNote" style="margin-left: 5%;" *ngIf="hasError('minlength')" color="danger">
    {{ 'MIN_LENGTH_5' | translate }}
  </ion-note>
  <ion-note class="promoNote" style="margin-left: 5%;" *ngIf="hasError('maxlength')" color="danger">
    {{ 'MAX_LENGTH_50' | translate }}
  </ion-note>
  <ion-note class="promoNote" style="margin-left: 5%;" *ngIf="hasError('required')" color="danger">
    {{ 'PROMO_TITLE_REQUIRED' | translate }}
  </ion-note>
</form>