<div class="dropdown-wrapper">
  <ion-item>
    <ion-input
      label="{{ 'CITY' | translate }}*"
      labelPlacement="stacked"
      type="text"
      [formControl]="comuniControl"
      (ionInput)="onSearchChange($event)"
      [value]="citta"
      (ionFocus)="onFocus()"
      (ionBlur)="onBlur()"
      autocomplete="off">
    </ion-input>
  </ion-item>

  <!-- Dropdown stile tendina -->
  <ion-card *ngIf="showSuggestions" class="dropdown-card">
    <ion-list>
      <ion-item
        button
        *ngFor="let comune of comuniFiltrati"
        (click)="selectComune(comune)">
        {{ comune }}
      </ion-item>
    </ion-list>
  </ion-card>
</div>
