<form style="min-width: 100%;">
  <ion-grid style="min-width: 100%;">
    <ion-row>
      <ion-col size="12" class="column ion-text-center ion-align-items-center">
        <h2>{{'HAVE_PRODUCTS' | translate}}</h2>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!isRiepilogo">
      <ion-col size="4" class="column ion-text-center ion-align-items-center">
        <img class="imgOffer" src="assets/Img/gluten-free.png">
      </ion-col>
      <ion-col size="4" class="column ion-text-center ion-align-items-center">
        <img class="imgOffer" src="assets/Img/vegan.png">
      </ion-col>
      <ion-col size="4" class="column ion-text-center ion-align-items-center">
        <img class="imgOffer" src="assets/Img/vegetarian.png">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isRiepilogo">
      <ion-col size="4" class="column ion-text-center ion-align-items-center">
        <ion-checkbox [checked]="isNoGlutine" [formControl]="isNoGlutineFormControl" labelPlacement="stacked">{{'gluten-free'|translate}}</ion-checkbox>
      </ion-col>
      <ion-col size="4" class="column ion-text-center ion-align-items-center">
        <ion-checkbox [checked]="isVegano" [formControl]="isVeganoFormControl" labelPlacement="stacked">{{'Vegan'|translate}}</ion-checkbox>
      </ion-col>
      <ion-col size="4" class="column ion-text-center ion-align-items-center">
        <ion-checkbox [checked]="isVegetariano" [formControl]="isVegetarianoFormControl" labelPlacement="stacked">{{'Vegetarian'|translate}}</ion-checkbox>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isRiepilogo">
      <ion-col *ngIf="isNoGlutine" size="4" class="column ion-text-center ion-align-items-center">
        <img class="imgOffer" src="assets/Img/gluten-free.png">
        <ion-label *ngIf="isRiepilogo">{{'gluten-free'|translate}}</ion-label>
      </ion-col>
      <ion-col *ngIf="isVegano" size="4" class="column ion-text-center ion-align-items-center">
        <img class="imgOffer" src="assets/Img/vegan.png">
        <ion-label *ngIf="isRiepilogo">{{'Vegan'|translate}}</ion-label>
      </ion-col>
      <ion-col *ngIf="isVegetariano" size="4" class="column ion-text-center ion-align-items-center">
        <img class="imgOffer" src="assets/Img/vegetarian.png">
        <ion-label *ngIf="isRiepilogo">{{'Vegetarian'|translate}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>

