<ion-header>
  <ion-toolbar>
    <ion-card-title style="margin-left: 5%;" class="titleModal" >{{ 'Gallery' | translate }}</ion-card-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeDialog()">
        <ion-icon slot="end" name="close-outline" class="closeBlack" (click)="closeDialog()"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let immagine of immagini; let i = index" (click)="apriDialogIngrandimentoImmagine(i)">
        <ion-card style="border-radius: 10%;">
          <ion-img class="uniform-image" [src]="immagine.upload" alt="Immagine dell'attività"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>