<ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>

<!-- SELEZIONE ATTIVITÀ -->
<div class="contentListAtt" *ngIf="!isLoading && listaAttivita && !attivita">
  <ion-toolbar class="ModalToolbarAddAtt">
    <ion-title>{{ 'SELECT_ACTIVITY' | translate }}</ion-title>
  </ion-toolbar>


  <ion-card *ngFor="let att of listaAttivita" (click)="addPromo(att)" class="activity-card">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <ion-card-header>
            <ion-card-title class="att-title">{{ att.nome }}</ion-card-title>
            <ion-card-subtitle class="att-subtitle">
              {{ att.citta }}, {{ att.indirizzo }}, {{ att.civico }}, {{ att.cap }}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="att-icon-col">
          <ion-icon name="create-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>

<!-- FORM CON STEP -->
<ion-modal [isOpen]="isAddPromo" (didDismiss)="onModalDismiss()">
  <ng-template>
    <app-form-promo [idAttivita]="this.idAttivita"
                    (closeModal)="onModalDismiss()"
                    (closeModalAndGoToPage)="openPage($event)">
    </app-form-promo>
  </ng-template>
</ion-modal>


