<ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>

<div class="contentListAtt" *ngIf="!isLoading && this.listaAttivita && !this.attivita && !this.modificaPromo">
  <ion-toolbar>
    <ion-card-title class="title">{{ 'SELECT_ACTIVITY' | translate }}</ion-card-title>
  </ion-toolbar> 
      <ion-card *ngFor="let att of listaAttivita" (click)="addPromo(att)">
        <ion-card-header>
          <ion-card-title class="title">
            {{ att.nome }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>
            {{att.citta}}, {{att.indirizzo}}, {{att.civico}}, {{att.cap}}
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
  </div>

<div *ngIf="!this.isLoading && (!this.listaAttivita || this.attivita)">
  <ion-toolbar>
    <ion-card-title class="title">{{ 'ENTER_PROMOTION' | translate }}</ion-card-title>
  </ion-toolbar>
  <form style="margin-top: 15px;">
    <div class="row">
      <div class="formInput">
        <app-titolo [titolo]="this.modificaPromo && this.modificaPromo.titoloPromo ? this.modificaPromo.titoloPromo : ''" (titoloChange)="handleTitoloChange($event)"></app-titolo>
        <ion-label *ngIf="this.errTitolo" class="err">
          {{this.errTitolo}}
        </ion-label>
      </div>
      <div class="formInput" style="margin-top: 15px;">
        <app-periodo-validita [dataDalValue]="this.modificaPromo && this.modificaPromo.dataDal ? this.modificaPromo.dataDal : undefined"
                              [dataAlValue]="this.modificaPromo && this.modificaPromo.dataAl ? this.modificaPromo.dataAl : undefined"
                              (dataDalChange)="handleDataDalChange($event)" 
                              (dataAlChange)="handleDataAlChange($event)"></app-periodo-validita>
                              <mat-error *ngIf="this.errPeriodo" class="err">
                                {{this.errPeriodo}}
                              </mat-error>
      </div>
    </div>
    <div class="row">
      <div class="formInput">
        <app-descrizione [descrizione]="this.modificaPromo && this.modificaPromo.descPromo ? this.modificaPromo.descPromo : ''" 
                         (descrizioneChange)="handleDescChange($event)"></app-descrizione>
                         <mat-error *ngIf="this.errDescrizione" class="err">
                          {{this.errDescrizione}}
                        </mat-error>
      </div>
      <div class="formInput">
        <app-giorni-validita [giorni]="this.giorni ? this.giorni : undefined" 
                             (isAllSettimanaChange)="handleAllSettimanaChange($event)"
                             (isLunediChange)="handleLunediChange($event)"
                             (isMartediChange)="handleMartediChange($event)"
                             (isMercolediChange)="handleMercolediChange($event)"
                             (isGiovediChange)="handleGiovediChange($event)"
                             (isVenerdiChange)="handleVenerdiChange($event)"
                             (isSabatoChange)="handleSabatoChange($event)"
                             (isDomenicaChange)="handleDomenicaChange($event)"></app-giorni-validita>
                             <mat-error *ngIf="this.errGiorni" class="err">
                              {{this.errGiorni}}
                            </mat-error>
      </div>
      <div class="row">
      <div class="formInput">
        <app-orario-validita [isAllDayValidita]="this.modificaPromo && this.modificaPromo.isAllDayValidita ? this.modificaPromo.isAllDayValidita : undefined"
                             [orarioValiditaDa]="this.modificaPromo && this.modificaPromo.orarioValiditaDa ? this.modificaPromo.orarioValiditaDa : undefined"
                             [orarioValiditaAl]="this.modificaPromo && this.modificaPromo.orarioValiditaAl ? this.modificaPromo.orarioValiditaAl : undefined"
                             (isAllDayValiditaChange)="handleIsAllDayValiditaChange($event)"
                             (orarioValiditaDaChange)="handleOrarioValiditaDaChange($event)"
                             (orarioValiditaAlChange)="handleorarioValiditaAlChange($event)"></app-orario-validita>
                             <mat-error *ngIf="this.errOrari" class="err">
                              {{this.errOrari}}
                            </mat-error>
      </div>
      <div class="formInput">
      <app-tipologia-offerta [listaTipologieSelezionate]="this.listaTipologie ? this.listaTipologie : undefined"
                             (listaTipologieChanged)="handleListaTipologieChange($event)"></app-tipologia-offerta>
                             <mat-error *ngIf="this.errTipologia" class="err">
                              {{this.errTipologia}}
                            </mat-error>
      </div>
      </div>
    </div>
    <div class="formInput">
      <div>
        <ion-label>{{ 'SET_USAGE_LIMIT' | translate }}</ion-label>
        <ion-toggle style="margin-left: 5%;" [(ngModel)]="isLimitEnabled" [ngModelOptions]="{standalone: true}" ></ion-toggle>
      </div>
  </div>
  <div class="formInput divNumMaxCoupon" *ngIf="isLimitEnabled" >
    <div>
      <app-num-max-coupon [numMax]="this.modificaPromo && this.modificaPromo.numCouponMax ? this.modificaPromo.numCouponMax : undefined" (numMaxChange)="handleNumMaxChange($event)"></app-num-max-coupon>
      <mat-error *ngIf="this.errNumUtilizzi" class="err">
        {{this.errNumUtilizzi}}
      </mat-error>
    </div>
  </div>
  <div class="formInput divCouponPerPersona" *ngIf="isLimitEnabled">
    <div>
      <app-coupon-per-persona [numMaxPerPersona]="this.modificaPromo && this.modificaPromo.numUtilizziPerPersonaMax ? this.modificaPromo.numUtilizziPerPersonaMax : undefined" 
                              (numMaxPerPersonaChange)="handleNumMaxPerPersonaChange($event)"></app-coupon-per-persona>
                              <mat-error *ngIf="this.errNumUtilizziPersona" class="err">
                                {{this.errNumUtilizziPersona}}
                              </mat-error>
    </div>
  </div>
  </form>
  
  <div class="container" style="display: flex; justify-content: center; align-items: center; margin-bottom: 5%; margin-top: 5%;">
    <ion-button *ngIf="!this.modificaPromo || !this.modificaPromo.idPromo" shape="round" (click)="prosegui()">{{ 'SAVE' | translate }}</ion-button>
    <ion-button *ngIf="this.modificaPromo && modificaPromo.idPromo" shape="round" (click)="prosegui()">{{ 'EDIT' | translate }}</ion-button>
  </div>
</div>

<div *ngIf="isError" class="custom-error-dialog">
  <img src="/assets/Img/not_okay.png" class="imgError" alt="error img">
  <h2 class="titleError">{{ 'WARNING' | translate }}</h2>
  <h4>{{ 'FORM_ERRORS' | translate }}:</h4>
  <ul>
    <li *ngIf="errTitolo">• {{ errTitolo }}</li>
    <li *ngIf="errDescrizione">• {{ errDescrizione }}</li>
    <li *ngIf="errPeriodo">• {{ errPeriodo }}</li>
    <li *ngIf="errGiorni">• {{ errGiorni }}</li>
    <li *ngIf="errOrari">• {{ errOrari }}</li>
    <li *ngIf="errTipologia">• {{ errTipologia }}</li>
    <li *ngIf="errNumUtilizzi">• {{ errNumUtilizzi }}</li>
    <li *ngIf="errNumUtilizziPersona">• {{ errNumUtilizziPersona }}</li>
  </ul>
  <button (click)="isError = false">{{ 'Close' | translate }}</button>
</div>



<ion-modal [isOpen]="isConfirmOpen" class="full-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-card-title class="title" *ngIf="!idAttivita">{{ 'SAVE' | translate }}</ion-card-title>
        <ion-card-title class="title" *ngIf="idAttivita">{{ 'EDIT' | translate }}</ion-card-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismissConferma()"><ion-icon name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <div class="container content">
        <ion-spinner *ngIf="isLoadingSalvataggio" name="crescent" color="primary"></ion-spinner>
      </div>
      <div *ngIf="!isLoadingSalvataggio">

      
      <ion-grid style="margin-top: 10px;"  >
        <ion-row>
          <ion-col class="column ion-text-center ion-align-items-center">
            <ion-card-title class="title">{{ 'SUMMARY' | translate }}</ion-card-title>
            <br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger; font-weight: bold;">{{ 'TITLE' | translate }}:</ion-label> <br>
            <ion-label>{{this.requestPromo.titoloPromo}}</ion-label>
            <ion-item-divider style="margin-bottom: 4%;"></ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger; font-weight: bold;">{{ 'PERIOD' | translate }}:</ion-label> <br>
            <ion-label> 
              {{ 'FROM_2' | translate }} {{ datePipe.transform(this.requestPromo.dataDal, 'dd/MM/yyyy') }} 
              - {{ 'TO_2' | translate }} {{ datePipe.transform(this.requestPromo.dataAl, 'dd/MM/yyyy') }}
            </ion-label>
            <ion-item-divider style="margin-bottom: 4%;"></ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger; font-weight: bold;">{{ 'DESCRIPTION' | translate }}</ion-label> <br>
            <ion-label>{{this.requestPromo.descPromo}}</ion-label>
            <ion-item-divider style="margin-bottom: 4%;"></ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger; font-weight: bold;">{{ 'VALID_DAYS' | translate }}:</ion-label> <br>
            <ion-list>
              <ion-item *ngIf="this.requestPromo.days?.includes(0)">
                <ion-label>{{ 'ALL_DAYS' | translate }}</ion-label>
              </ion-item>
              <ion-item *ngIf="this.requestPromo.days?.includes(1)">
                <ion-label>{{ 'MONDAY' | translate }}</ion-label>
              </ion-item>
              <ion-item *ngIf="this.requestPromo.days?.includes(2)">
                <ion-label>{{ 'TUESDAY' | translate }}</ion-label>
              </ion-item>
              <ion-item *ngIf="this.requestPromo.days?.includes(3)">
                <ion-label>{{ 'WEDNESDAY' | translate }}</ion-label>
              </ion-item>
              <ion-item *ngIf="this.requestPromo.days?.includes(4)">
                <ion-label>{{ 'THURSDAY' | translate }}</ion-label>
              </ion-item>
              <ion-item *ngIf="this.requestPromo.days?.includes(5)">
                <ion-label>{{ 'FRIDAY' | translate }}</ion-label>
              </ion-item>
              <ion-item *ngIf="this.requestPromo.days?.includes(6)">
                <ion-label>{{ 'SATURDAY' | translate }}</ion-label>
              </ion-item>
              <ion-item *ngIf="this.requestPromo.days?.includes(7)">
                <ion-label>{{ 'SUNDAY' | translate }}</ion-label>
              </ion-item>
            </ion-list>
            <ion-item-divider style="margin-bottom: 4%;"></ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label style="font-size: larger; font-weight: bold;">{{ 'VALID_TIME' | translate }}:</ion-label> <br>
            <ion-label *ngIf="this.requestPromo.isAllDayValidita">{{ 'ALL_DAY' | translate }}</ion-label>
            <ion-label *ngIf="this.requestPromo?.orarioValiditaDa && this.requestPromo?.orarioValiditaAl">{{ 'FROM' | translate }} {{this.requestPromo.orarioValiditaDa}} - {{ 'TO' | translate }} {{this.requestPromo.orarioValiditaAl}}</ion-label>
            <ion-item-divider style="margin-bottom: 4%;"></ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="margin-bottom: 4%;">
            <ion-label style="font-size: larger; font-weight: bold;">{{ 'OFFER_TYPES' | translate }}:</ion-label> <br>
            <ion-list>
              <ion-item *ngFor="let item of this.requestPromo?.listaTipologie">
                <ion-label>{{item.descrizione}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="margin-bottom: 4%;">
            <ion-label style="font-size: larger; font-weight: bold;">{{ 'MAX_COUPONS_AVAILABLE' | translate }}:</ion-label> <br>
            <ion-list>
              <ion-item *ngIf="!this.requestPromo?.numCouponMax || this.requestPromo.numCouponMax === 0">
                <ion-label>{{ 'NO_LIMIT' | translate }}</ion-label>
              </ion-item>
              <ion-item *ngIf="this.requestPromo?.numCouponMax">
                <ion-label>{{this.requestPromo.numCouponMax}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="margin-bottom: 4%;">
            <ion-label style="font-size: larger; font-weight: bold;">{{ 'MAX_COUPONS_PER_PERSON' | translate }}:</ion-label> <br>
            <ion-list>
              <ion-item *ngIf="!this.requestPromo?.numUtilizziPerPersonaMax || this.requestPromo.numUtilizziPerPersonaMax === 0">
                <ion-label>{{ 'NO_LIMIT' | translate }}</ion-label>
              </ion-item>
              <ion-item *ngIf="this.requestPromo?.numUtilizziPerPersonaMax">
                <ion-label>{{this.requestPromo.numUtilizziPerPersonaMax}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <div class="prosegui" style="display: flex; justify-content: center; align-items: center;">
        <ion-button *ngIf="!this.modificaPromo || !this.modificaPromo.idPromo" (click)="salva()">{{ 'SAVE' | translate }}</ion-button>
        <ion-button *ngIf="this.modificaPromo && modificaPromo.idPromo" (click)="modifica()">{{ 'EDIT' | translate }}</ion-button>
      </div>
    </div>
    </ion-content>
  </ng-template>
</ion-modal>