.formInput{
    max-width: 70%;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  ion-spinner {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }