/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


  ion-card-title.titleHomePage {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 3%;
  }

  ion-card-title.titleModal {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 3%;
  }

  .titleModal {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .titleModalPromo {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    white-space: normal;
    line-height: 1.2;
  }


  ion-card-title.att-title {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #222;
  }

  ion-card-subtitle.att-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    color: #555;
  }

  ion-card.activity-card {
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
  }

  ion-input.promoInput, ion-textarea.promotextArea {
    --border-radius: 12px;
    --padding-start: 16px;
    --padding-end: 16px;
    --color: #000;
    font-size: 16px;
    --border-width: 0;           /* rimuove la linea */
    --highlight-color-focused: transparent; /* rimuove l'effetto blu */
    --box-shadow: none;          /* niente ombra */
  }

  ion-input.promoInputTime {
    --border-radius: 12px;
    --padding-start: 16px;
    --padding-end: 16px;
    --background: #d1c7c7;
    --color: #000;
    font-size: 16px;
  }

  // Etichette
ion-label.promoLabel {
  font-weight: 500;
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}

// Note di errore
ion-note.promoNote[color="danger"] {
  font-size: 13px;
  margin-top: 2px;
  display: block;
}

  // Checkbox container
  .check {
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
  }

  form.form, .data-form {
    padding: 15px;
    border-radius: 12px;
    background: linear-gradient(to top, #ffffff, #fbfafa);
    box-shadow: 0 2px 12px rgba(233, 84, 10, 0.35);
    margin-bottom: 16px;
  }

  .contentListAtt{
    margin-top: 5%;
    min-width: 340px; 
    scrollbar-width: none;
    overflow-x: hidden;
  }
  
  .contentListAtt::-webkit-scrollbar {
    display: none; /* Nasconde la scrollbar nei browser basati su WebKit */
  }

  .att-icon-col ion-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    font-size: 30px;
    color: #007bff;
  }

  ion-card.activity-card:hover {
    transform: scale(1.01);
  }

  ion-title.titleModal {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 3%;
  }

  ion-title.titleModalWhite {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 3%;
    color:white
  }

  ion-card-title.titleList {
    font-family: 'Inter', sans-serif !important;
    font-size: 1.1rem;
    font-weight: 500;
  }

  ion-spinner {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ion-icon.closeBlack {
    width: 30px;
    height: 30px;
    color: black;
  }

  ion-icon.closeWhite {
    width: 30px;
    height: 30px;
    color: white;
  }

  ion-thumbnail img {
    border-radius: 50%;
    object-fit: cover;
    width: 52px;
    height: 52px;
  }

  .gradient-bg {
    margin-left: 5px;
    margin-top: 20px;
  }

  .titleView{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #333;
    font-size: 1.3rem; /* adatta in base al resto */
    letter-spacing: 0.2px;
  }

  .labelView{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #1a1616;
    font-size: 1.1rem; /* adatta in base al resto */
    letter-spacing: 0.2px;
  }

  .card-containerHomePage {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    flex: 1;
  }

  .promo-title-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-left: 2%;
    margin-bottom: 30px;
  }

  .promo-title-icon {
    font-size: 20px;
    min-width: 25px;
    min-height: 25px;
  }

  .card-wrapperHomePage {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 5px;
    width: fit-content; /* Adatta la larghezza del wrapper al contenuto */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .card-wrapperHomePage::-webkit-scrollbar {
    display: none;
  }

  .card-consigliHomePage {
    flex: 0 0 auto;
    width: 90%;
    max-width: 260px;
    flex-wrap: nowrap; /* Impedisce il wrapping del contenuto nella card */
  }

  .NameAttHomePage {
    --font-family: 'Inter', sans-serif !important;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 1rem;
    font-weight: 450;
    max-width: 100%;
  }

  .star {
    color: #f8c034;
    font-size: 14px;
  }

  .label-overlayHomePage {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    background-color: rgb(30, 192, 39);
    color: white;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  }

  .distance-overlay {
    position: absolute;
    top: 170px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 3px 8px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 12px;
    display: flex;
    align-items: center;
    z-index: 100;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
  }

  .promoContainerHomePage {
    position: absolute;
    flex-direction: column; // cambia da row a column per gestire meglio il contenuto
    align-items: flex-start;
    gap: 6px;
    max-width: 90%;
    top: 235px;
    left: 0px;
    padding: 3px 8px;
    font-size: 13px;
    display: flex;
    z-index: 100;
    white-space: normal; // fondamentale per il wrapping
  }

  .rating-overlayHomePage {
    position: absolute;
    top: 170px;
    left: 10px;
    z-index: 99;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 4px 8px;
    border-radius: 12px;
  }

  .rating-countHomePage {
    font-size: 13px;
    color: #333;
    font-weight: 500;
  }

  ion-icon.iconAtt{
    height: 25px;
    width: 25px;
  }

  ion-toolbar.ModalToolbar {
    --background: linear-gradient(to right, #e9540a,  #ffffff)  !important;
    --z-index: 999999;
  }

  ion-toolbar.ModalToolbarAddAtt {
    --background: #ffffff !important;
    --border-radius: 15px !important;
    --z-index: 999999;
  }

  ion-skeleton-text.desc-Skeleton {
    width: 150%;
    height: 200px;
    flex-wrap: nowrap; /* Impedisce il wrapping del contenuto nella card */
    border-radius: 20px;
    margin-top: 10px;
  }
  
  ion-skeleton-text.card-Skeleton {
    flex: 0 0 auto;
    width: 100%;
    max-height: 150px;
    flex-wrap: nowrap; /* Impedisce il wrapping del contenuto nella card */
  }
  
  ion-skeleton-text.Skeletonimage {
    margin-top: -10px;
    width: 400px;
    height: 250px;
    object-fit: cover;
  }
  
  ion-skeleton-text.SkeletonTitle {
    width: 200px;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  ion-skeleton-text.SkeletonSubtitle {
    width: 80px;
    height: 20px;
    border-radius: 10px;
  }
  
  ion-skeleton-text.SkeletonBtn {
    margin-top: 20%;
    width: 40px; 
    height: 40px;
    border-radius: 50%;
  }

  ion-skeleton-text.SkeletonChip {
    margin-top: 10px;
    width: 70px; 
    height: 30px;
    border-radius: 15px;
  }

  ion-segment.my-segment {
    --background: #ffffff;
    --indicator-color: transparent;
    --max-height: 50px !important;
  }
  
  ion-segment-button.my-button {
      --color: #827a7a;
      --color-checked: #fff;
      --background: #ffffff;
      --background-checked: linear-gradient(90deg, #ff8a00, #e9540a);
      border-radius: 30px;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      transition: background 0.3s ease;
  }
  
  ion-segment-button.my-button-left {
      --color: #827a7a;
      --color-checked: #fff;
      --background: #ffffff;
      --background-checked: linear-gradient(90deg, #ff8a00, #e9540a);
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
      transition: background 0.3s ease;
  }
  
  ion-segment-button.my-button-right {
      --color: #827a7a;
      --color-checked: #fff;
      --background: #ffffff;
      --background-checked: linear-gradient(90deg, #ff8a00, #e9540a);
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
      transition: background 0.3s ease;
  }

  ion-modal.full-modal::part(content) {
    height: 100%;
    width: 100%;
  }

  .imgConfirm {
    width: 150px; 
    height: 170px;
  }

  .keyboard-open .footer {
    --display: none !important;
  } 

  ion-item.TitleContent {
    --font-family: 'Inter', sans-serif !important;
    margin-top: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btnContainer {
    display: flex;
    justify-content: center;
    gap: 30px; /* distanza tra i due bottoni */
    margin-top: 10px;
  }

  ion-button.btnConfirm {
    --width: 60px;
    --height: 60px;
    --border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 0;
    min-width: unset;
    min-height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

ion-alert.custom-alert {
  --width: 90%;
  --min-width: 280px;
  --max-width: 320px;
  --border-radius: 40px;
  --background: #ffffff;
  --box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

ion-alert.custom-alert .alert-head {
  justify-content: center;
  text-align: center;
  --border-radius: 40px;
  font-weight: bold;
  font-size: 18px;
}

ion-alert.custom-alert .alert-message {
  text-align: center;
  --border-radius: 40px;
  font-size: 15px;
  color: #444;
}
