/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


  ion-card-title.titleHomePage {
    font-family: Helvetica !important;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 3%;
  }

  ion-card-title.titleModal {
    font-family: Helvetica !important;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 3%;
  }

  ion-title.titleModal {
    font-family: Helvetica !important;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 3%;
  }

  ion-card-title.titleList {
    font-family: Helvetica !important;
    font-size: 1.2rem;
    font-weight: 500;
  }

  ion-spinner {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ion-icon.closeBlack {
    width: 30px;
    height: 30px;
    color: black;
  }

  ion-icon.closeWhite {
    width: 30px;
    height: 30px;
    color: white;
  }

  .card-containerHomePage {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    flex: 1;
  }

  .card-wrapperHomePage {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 5px;
    width: fit-content; /* Adatta la larghezza del wrapper al contenuto */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .card-wrapperHomePage::-webkit-scrollbar {
    display: none;
  }

  .card-consigliHomePage {
    flex: 0 0 auto;
    width: 90%;
    max-width: 260px;
    flex-wrap: nowrap; /* Impedisce il wrapping del contenuto nella card */
  }

  .NameAttHomePage{
    font-family: Helvetica;
    font-size: 1.1rem;
    font-weight: 400;
  }