.img {
    width: 150px;
    height: 150px;
    top: 50px;
}

.lbl {
    margin-top: 50px;
    left: 50%; /* Posiziona l'immagine al centro rispetto al bordo sinistro del contenitore */
    transform: translateX(-50%); /* Trasla l'immagine a sinistra del 50% della sua larghezza per centrarla */
}

.title{
    --font-family: Helvetica !important;
    font-weight: 500;
    font-size: 1.1rem;
  }