.img {
    width: 150px;
    height: 150px;
    top: 50px;
}

.lbl {
    margin-top: 50px;
    left: 50%; /* Posiziona l'immagine al centro rispetto al bordo sinistro del contenitore */
    transform: translateX(-50%); /* Trasla l'immagine a sinistra del 50% della sua larghezza per centrarla */
}

.title{
    --font-family: Helvetica !important;
    font-weight: 500;
    font-size: 1.1rem;
  }

  .button-row {
  margin-top: 10px;
  width: 100%;
}

.btn-col {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 10px;
}