 <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button *ngIf="!this.isEsito" (click)="CloseModalConfirm()"><ion-icon name="close-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    <ion-card>
      <ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>
      <ion-card-content *ngIf="this.isAdd && !this.isEsito && !isLoading" class="column ion-text-center ion-align-items-center" style="margin-top:15px; margin-bottom:15px">
        <ion-card-title *ngIf="isUtilizzabile"> Vuoi utilizzare il coupon?</ion-card-title>
        <ion-card-title *ngIf="!isUtilizzabile"> Coupon non utilizzabile ora </ion-card-title>
      <ion-grid *ngIf="isUtilizzabile" style="margin-top:15px;">
        <ion-row>
          <ion-col size="6" class="column ion-text-center ion-align-items-center">
            <ion-button shape="round" color="light" (click)="CloseModalConfirm()">ANNULLA</ion-button>
          </ion-col>
          <ion-col size="6" class="column ion-text-center ion-align-items-center">
            <ion-button shape="round" color="success" (click)="Confirm(2)">CONFERMA</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="!isUtilizzabile" style="margin-top:15px;">
        <ion-row>
          <ion-col size="6">
            <ion-label>Valido fino al:</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label>{{coupon?.dataAl | date:'dd/MM/yyyy' }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label>Nei giorni:</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label *ngIf="coupon?.days?.includes(0)" class="lbl">Tutti i giorni</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(1)">Lunedì</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(1) && coupon?.days?.includes(2)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(2)">Martedì</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(2) && coupon?.days?.includes(3)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(3)">Mercoledì</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(3) && coupon?.days?.includes(4)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(4)">Giovedì</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(4) && coupon?.days?.includes(5)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(5)">Venerdì</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(5) && coupon?.days?.includes(6)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(6)">Sabato</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(6) && coupon?.days?.includes(7)">-</ion-label>
            <ion-label *ngIf="coupon?.days?.includes(7)">Domenica</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-label>Orario:</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label *ngIf="coupon?.isAllDayValidita">Tutto il giorno</ion-label>
            <ion-label *ngIf="!coupon?.isAllDayValidita">{{coupon?.orarioValiditaDa}} - {{coupon?.orarioValiditaAl}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button shape="round" color="primary" (click)="CloseModalConfirm()">TORNA INDIETRO</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid >
      </ion-card-content>
      
      <ion-card-content *ngIf="!this.isAdd && !this.isEsito && !isLoading" class="column ion-text-center ion-align-items-center" style="margin-top:15px; margin-bottom:15px">
        <ion-card-title> Sicuro di voler eliminare il coupon?</ion-card-title>
      <ion-grid>
        <ion-row style="margin-top:15px;">
          <ion-col size="6" class="column ion-text-center ion-align-items-center">
            <ion-button shape="round" color="light" (click)="CloseModalConfirm()">ANNULLA</ion-button>
          </ion-col>
          <ion-col size="6" class="column ion-text-center ion-align-items-center">
            <ion-button shape="round" color="danger" (click)="Confirm(3)">ELIMINA</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  
      <ion-card-content *ngIf="this.isEsito && !isLoading" class="column ion-text-center ion-align-items-center" style="margin-top:15px; margin-bottom:15px; height: 400px;">
        <ion-card-title *ngIf="this.isConfirmed && this.typeUtilizzo === 2">COUPON UTILIZZATO</ion-card-title>
        <ion-card-title *ngIf="this.isConfirmed && this.typeUtilizzo === 3">COUPON ELIMINATO</ion-card-title>
        <ion-card-title *ngIf="!this.isConfirmed">ATTENZIONE</ion-card-title>
  
        <ion-grid>
          <ion-row class="column ion-text-center ion-align-items-center">
            <ion-col>
              <ion-icon *ngIf="this.isConfirmed" color="success" class="img" name="checkmark-circle-outline"></ion-icon>
              <ion-icon *ngIf="!this.isConfirmed" color="danger" class="img" name="close-circle-outline"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label *ngIf="this.isConfirmed && this.typeUtilizzo === 2" class="lbl"> Il coupon è stato utilizzato con successo </ion-label>
              <ion-label *ngIf="this.isConfirmed && this.typeUtilizzo === 3" class="lbl"> Il coupon è stato eliminato con successo </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
  
        <ion-button *ngIf="this.isConfirmed" shape="round" color="success" (click)="ChiudiWithEsito()">CHIUDI</ion-button>
        <ion-grid *ngIf="!this.isConfirmed">
          <ion-row style="margin-top:15px;">
            <ion-col size="6" class="column ion-text-center ion-align-items-center">
              <ion-button shape="round" color="light" (click)="Chiudi()">CHIUDI</ion-button>
            </ion-col>
            <ion-col size="6" class="column ion-text-center ion-align-items-center">
              <ion-button shape="round" color="light" (click)="Retry()">RIPROVA</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

