
  <div class="container content">
    <ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>
  </div>
  
    <div class="contentListAtt" *ngIf="!isLoading && isVerificato && this.listaAttivita && !this.attivita">
      <ion-toolbar style="background-color: white;">
        <ion-title class="title">Le tue attività</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="addNewAtt()" style="background-color: #007bff; border-radius: 50%; width: 45px; height: 45px;"><ion-icon style="color: white; height: 35px; width: 35px;" name="add-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar> 
          <ion-card *ngFor="let att of listaAttivita" (click)="getAttivita(att.idSoggetto, att.idAttivita)">
            <ion-card-header>
              <ion-card-title class="title">
                {{ att.nome }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>
                {{att.citta}}, {{att.indirizzo}}, {{att.civico}}, {{att.cap}}
              </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
    </div>
  
  
  <div *ngIf="!isLoading && isVerificato && (this.attivita || !listaAttivita)">
  
    <div *ngIf="this.attivita && attivita?.isVerificata" class="ion-alert">
      <div class="column ion-text-center ion-align-items-center">
        <ion-icon *ngIf="attivita?.esitoVerifica" style="color: green; margin-right: 1%; width: 25px; height: 25px;" name="checkmark-outline"></ion-icon>
        <ion-icon *ngIf="!attivita?.esitoVerifica" style="color: red; margin-right: 1%; width: 25px; height: 25px;" name="close-circle-outline"></ion-icon>
        <ion-label *ngIf="attivita?.esitoVerifica" style="color: #008000; font-family:Helvetica; font-size: large;">Attivita verificata</ion-label>
        <ion-label *ngIf="!attivita?.esitoVerifica" style="color: hsl(34, 77%, 46%); font-family:Helvetica; font-size: large;">Verifica non andata a buon fine</ion-label>
      </div> 
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="!attivita?.esitoVerifica">
            <ion-label *ngIf="!attivita?.esitoVerifica" style="color: hsl(34, 77%, 46%); font-weight: bold; font-size: large;">{{this.attivita.motivo}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
   </div>
  
    <div *ngIf="this.attivita && !attivita?.isVerificata" class="ion-alert">
      <ion-grid>
        <ion-row>
          <ion-col size="1" class="column ion-text-center ion-align-items-center">
            <ion-icon style="color: hsl(34, 77%, 46%); margin-right: 5%; width: 30px; height: 30px; margin-top: 1%;" name="information-circle-outline"></ion-icon>
          </ion-col>
          <ion-col size="11" class="column ion-text-center ion-align-items-center">
            <ion-label style="color: hsl(34, 77%, 46%); font-weight: bold; font-size: large;">Stiamo verificando i dati della tua attivita</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> 
  
    <h4 class="ion-title" *ngIf="!this.attivita">Inserisci i dati della tua attività</h4>
    
    <form>
      <div class="row">
        <div class="col-md-6 formInput">
          <app-nome [nome]="this.attivita?.nome" (nomeChange)="handleNomeChange($event)"></app-nome>
          <mat-error *ngIf="this.errorNome && !this.requestAttivita?.nome" class="err">
            {{this.errorNome}}
          </mat-error>
        </div>
        <div class="col-md-6 formInput">
          <app-telefono [telefono]="this.attivita?.telefono" (telefonoChange)="handleTelefonoChange($event)"></app-telefono>
          <mat-error *ngIf="this.errorTel" class="err">
            {{this.errorTel}}
          </mat-error>
        </div>
      </div>
      <div class="row">
      <div class="formInput">
        <ng-container>
          <app-tipo-attivita [listaAttivitaDDL]="listaAttivitaDDL" [listaAttivitaSelezionate]="this.attivita?.listaTipoAttivita" (listaAttivitaChanged)="handleListaTipoAttivitaChange($event)"></app-tipo-attivita>
          <mat-error *ngIf="this.errorTipologia && (!this.requestAttivita?.listaTipoAttivita || this.requestAttivita?.listaTipoAttivita?.length === 0)" class="err">
            {{this.errorTipologia}}
          </mat-error>
        </ng-container>
      </div>
        <div class="formInput">
          <app-cellulare [cellulare]="this.attivita?.cellulare" [isPubblico]="this.attivita?.isCellPubblico" (cellulareChange)="handleCellulareChange($event)" (isCellPubblicoChange)="handleIsCellPubblicoeChange($event)"></app-cellulare>
          <mat-error *ngIf="this.errorCell" class="err">
            {{this.errorCell}}
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 formInput">
          <app-citta [listaComuni]="listaComuni" [citta]="this.attivita?.citta" (cittaChange)="handleCittaChange($event)"></app-citta>
          <mat-error *ngIf="this.errorCitta || !this.requestAttivita?.citta" class="err">
            {{this.errorCitta}}
          </mat-error>
        </div>
        <div class="formInput">
          <app-email [email]="attivita?.email" (emailChange)="handleEmailChange($event)"></app-email>
          <mat-error *ngIf="this.errorEmail && !this.requestAttivita?.email" class="err">
            {{this.errorEmail}}
          </mat-error>
        </div>
        <div class="row">
        <div class="formInput">
          <app-indirizzo [indirizzo]="this.attivita?.indirizzo" (indirizzoChange)="handleIndirizzoChange($event)"></app-indirizzo>
          <mat-error *ngIf="this.errorIndirizzo || !this.requestAttivita?.indirizzo" class="err">
            {{this.errorIndirizzo}}
          </mat-error>
        </div>
        <div class="formInput">
          <app-civico [civico]="this.attivita?.civico" (civicoChange)="handleCivicoChange($event)"></app-civico>
          <mat-error *ngIf="this.errorCivico || !this.requestAttivita?.civico" class="err">
            {{this.errorCivico}}
          </mat-error>
        </div>
        <div class="formInput">
          <app-cap [cap]="this.attivita?.cap" (capChange)="handleCapChange($event)"></app-cap>
          <mat-error *ngIf="this.errorCAP || !this.requestAttivita?.cap" class="err">
            {{this.errorCAP}}
          </mat-error>
        </div>
        <div class="formInput">
          <app-orari-apertura name="orari" [orari]="this.attivita?.orari"  (orariChange)="handleOrariChange($event)"></app-orari-apertura>  
        </div>
          <mat-error *ngIf="this.errorOrari" class="err">
            {{this.errorOrari}}
          </mat-error>
        <div class="row">
          <div class="col-md-16">
            <div class="col-md-16 formInput">
              <app-offerte-struttura 
                [isVegano]="attivita?.isOffertaVegana" 
                [isVegetariano]="attivita?.isOffertaVegetariana" 
                [isNoGlutine]="attivita?.isOffertaNoGlutine"
                (offertaVeganaChange)="handleIsOffertaVeganaChange($any($event))"
                (offertaNoGlutineChange)="handleIsOffertaNoGlutineChange($any($event))"
                (offertaVegetarianaChange)="handleIsOffertaVegetarianaChange($any($event))">
              </app-offerte-struttura>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="this.idAttivita === 0 || this.attivita?.immagini">
      <app-gallery name="gallery" [immagini]="this.attivita?.immagini" (immaginiChange)="handleImmaginiChange($event)"></app-gallery>
      <mat-error *ngIf="this.errorImg" class="err">
        {{this.errorImg}}
      </mat-error>
    </ng-container>
    <div class="col-md-16 formInput">
    <app-menu name="descMenu" [descrizione]="this.attivita?.descrizione" 
                              (descrizioneChange)="handleDescChange($event)"
                              [descrizioneOfferta]="this.attivita?.descrizioneOfferta" 
                              (descrizioneOffertaChange)="handleDescOffertaChange($event)"></app-menu>
    <mat-error *ngIf="this.errorDesc" class="err">
      {{this.errorDesc}}
    </mat-error>                  
    </div>
    </form>
    
    <div class="prosegui" style="display: flex; justify-content: center; align-items: center;">
          <ion-button *ngIf="!this.idAttivita || this.idAttivita === 0" (click)="conferma()">Prosegui</ion-button>
          <ion-button *ngIf="this.idAttivita || (this.idAttivita !== undefined && this.idAttivita > 0)" (click)="conferma()">Modifica</ion-button>
    </div>
    <div class="elimina" style="display: flex; justify-content: center; align-items: center;">
      <ion-button fill="clear" color="danger" *ngIf="this.idAttivita || (this.idAttivita !== undefined && this.idAttivita > 0)" (click)="openEliminaModal()">ELIMINA ATTIVITA</ion-button>
  </div>

  <ion-alert
  [isOpen]="this.isError"
  header="Attenzione"
  subHeader="Sono stati riscontrati i seguenti errori nella compilazione"
  [message]="getErrorMessage()"
  [buttons]="alertButtons"
  cssClass="custom-alert"
  (didDismiss)="this.isError = false">
  </ion-alert>
  </div>
  
  <div *ngIf="!isLoading && !isVerificato">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="subTitle">
            Per poter registrare un'attività, completa la verifica dell' account controllando la tua casella di posta e cliccando sul link che ti abbiamo inviato.
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="column ion-text-center ion-align-items-center">
          <ion-button (click)="reloadHome()">CHIUDI</ion-button>
          <br>
          <br>
          <ion-label *ngIf="!esitoResendVerification">(Non ti è arrivata nessuna mail?)</ion-label>
          <ion-label *ngIf="esitoResendVerification" style="font-weight: bold;">{{esitoResendVerification}}</ion-label>
          <br>
          <br>
          <ion-label color="primary" (click)="resendVerificationEmail()">Reinvia la mail di verifica</ion-label>
        </ion-card-content>
      </ion-card>
  </div>

    <ion-modal [isOpen]="isDetailModalOpen" class="full-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-card-title class="title">Esito</ion-card-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="title" *ngIf="this.isEliminazioneOK"> Attivita eliminata </ion-card-title>
              <ion-card-title class="title" *ngIf="this.isSalvataggioOK"> Salvataggio eseguito correttamente </ion-card-title>
              <ion-card-title class="title" *ngIf="!this.isSalvataggioOK"> OPS qualcosa è andato storto </ion-card-title>
            </ion-card-header>
            <ion-card-content style="display: flex; justify-content: center; align-items: center; margin-top: 1%;">
              <ion-button shape="round" (click)="dismissDetailModal()">CHIUDI</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>
  
    <ion-modal [isOpen]="isConfirmOpen" class="full-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-card-title class="title" *ngIf="!idAttivita">Salva</ion-card-title>
            <ion-card-title class="title" *ngIf="idAttivita">Modifica</ion-card-title>
            <ion-buttons slot="end">
              <ion-button (click)="dismissConferma()"><ion-icon name="close-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
  
          <div class="container content">
            <ion-spinner *ngIf="isLoadingSalvataggio" name="crescent" color="primary"></ion-spinner>
          </div>
          <div *ngIf="!isLoadingSalvataggio">
  
          
          <ion-grid style="margin-top: 10px;"  >
            <ion-row>
              <ion-col class="column ion-text-center ion-align-items-center">
                <ion-card-title class="subTitle" >Riepilogo</ion-card-title>
                <br>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label class="subTitle">Nome:</ion-label> <br><br>
                  <ion-label>{{this.requestAttivita?.nome}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                <ion-label class="subTitle">Indirizzo:</ion-label> <br>
                <ion-label>{{this.requestAttivita?.indirizzo}}, {{this.requestAttivita?.civico}}, {{this.requestAttivita?.cap}}, {{this.requestAttivita?.citta}} </ion-label>
              </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                <ion-label class="subTitle">Email:</ion-label> <br>
                <ion-label>{{this.requestAttivita?.email}}</ion-label>
              </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label class="subTitle">Numero di telefono:</ion-label> <br>
                  <ion-label>{{this.requestAttivita?.telefono}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="this.requestAttivita?.cellulare">
                <ion-item>
                  <ion-label class="subTitle">Numero di cellulare:</ion-label> <br>
                  <ion-label>{{this.requestAttivita?.cellulare}}</ion-label>
                </ion-item>
                <ion-item>
                  <br> <br>
                  <ion-label class="subTitle">Vuoi renderlo visibile sulla pagina:</ion-label> <br>
                  <ion-label *ngIf="this.requestAttivita?.isCellPubblico">SI</ion-label>
                  <ion-label *ngIf="!this.requestAttivita?.isCellPubblico">NO</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="margin-bottom: 4%;">
                <ion-item>
                  <ion-label class="subTitle">Tipo di attività:</ion-label> <br>
                  <ion-list>
                    <ion-item *ngFor="let item of this.requestAttivita?.listaTipoAttivita">
                      <ion-label>{{item.descrizione}}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="margin-bottom: 4%;">
                <ion-item>
                  <ion-label class="subTitle">Offri:</ion-label> <br>
                  <ion-list>
                    <ion-item *ngIf="this.requestAttivita?.isOffertaNoGlutine">
                      <ion-label>Prodotti senza glutine</ion-label>
                    </ion-item>
                    <ion-item *ngIf="this.requestAttivita?.isOffertaVegana">
                      <ion-label>Prodotti vegani</ion-label>
                    </ion-item>
                    <ion-item *ngIf="this.requestAttivita?.isOffertaVegetariana">
                      <ion-label>Prodotti vegetariani</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="2" class="column ion-text-center ion-align-items-center">
                  <ion-label class="subTitle">Orari:</ion-label>
                </ion-col>
                <ion-col size="5" class="column ion-text-center ion-align-items-center">
                  <ion-label>MATTINA</ion-label>
                </ion-col>
                <ion-col size="5" class="column ion-text-center ion-align-items-center">
                  <ion-label>SERA</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" class="column ion-text-center ion-align-items-center">
                <ion-label>LUN.</ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.lunediMatDa && this.requestAttivita?.orari?.lunediMatAl">
                {{this.requestAttivita?.orari?.lunediMatDa}} - {{this.requestAttivita?.orari?.lunediMatAl}}</ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.lunediMatDa && !this.requestAttivita?.orari?.lunediMatAl"> Chiuso </ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.lunediPomDa && this.requestAttivita?.orari?.lunediPomAl">
                  {{this.requestAttivita?.orari?.lunediPomDa}} - {{this.requestAttivita?.orari?.lunediPomAl}}
                </ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.lunediPomDa && !this.requestAttivita?.orari?.lunediPomAl"> Chiuso </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" class="column ion-text-center ion-align-items-center">
                <ion-label>MAR.</ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.martediMatDa && this.requestAttivita?.orari?.martediMatAl">
                {{this.requestAttivita?.orari?.martediMatDa}} - {{this.requestAttivita?.orari?.martediMatAl}}</ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.martediMatDa && !this.requestAttivita?.orari?.martediMatAl"> Chiuso </ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.martediPomDa && this.requestAttivita?.orari?.martediPomAl">
                  {{this.requestAttivita?.orari?.martediPomDa}} - {{this.requestAttivita?.orari?.martediPomAl}}
                </ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.martediPomDa && !this.requestAttivita?.orari?.martediPomAl"> Chiuso </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" class="column ion-text-center ion-align-items-center">
                <ion-label>MER.</ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.mercolediMatDa && this.requestAttivita?.orari?.mercolediMatAl">
                {{this.requestAttivita?.orari?.mercolediMatDa}} - {{this.requestAttivita?.orari?.mercolediMatAl}}</ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.mercolediMatDa && !this.requestAttivita?.orari?.mercolediMatAl"> Chiuso </ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.mercolediPomDa && this.requestAttivita?.orari?.mercolediPomAl">
                  {{this.requestAttivita?.orari?.mercolediPomDa}} - {{this.requestAttivita?.orari?.mercolediPomAl}}
                </ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.mercolediPomDa && !this.requestAttivita?.orari?.mercolediPomAl"> Chiuso </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" class="column ion-text-center ion-align-items-center">
                <ion-label>GIO.</ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.giovediMatDa && this.requestAttivita?.orari?.giovediMatAl">
                {{this.requestAttivita?.orari?.giovediMatDa}} - {{this.requestAttivita?.orari?.giovediMatAl}}</ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.giovediMatDa && !this.requestAttivita?.orari?.giovediMatAl"> Chiuso </ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.giovediPomDa && this.requestAttivita?.orari?.giovediPomAl">
                  {{this.requestAttivita?.orari?.giovediPomDa}} - {{this.requestAttivita?.orari?.giovediPomAl}}
                </ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.giovediPomDa && !this.requestAttivita?.orari?.giovediPomAl"> Chiuso </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" class="column ion-text-center ion-align-items-center">
                <ion-label>VEN.</ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.venerdiMatDa && this.requestAttivita?.orari?.venerdiMatAl">
                {{this.requestAttivita?.orari?.venerdiMatDa}} - {{this.requestAttivita?.orari?.venerdiMatAl}}</ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.venerdiMatDa && !this.requestAttivita?.orari?.venerdiMatAl"> Chiuso </ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.venerdiPomDa && this.requestAttivita?.orari?.venerdiPomAl">
                  {{this.requestAttivita?.orari?.venerdiPomDa}} - {{this.requestAttivita?.orari?.venerdiPomAl}}
                </ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.venerdiPomDa && !this.requestAttivita?.orari?.venerdiPomAl"> Chiuso </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" class="column ion-text-center ion-align-items-center">
                <ion-label>SAB.</ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.sabatoMatDa && this.requestAttivita?.orari?.sabatoMatAl">
                {{this.requestAttivita?.orari?.sabatoMatDa}} - {{this.requestAttivita?.orari?.sabatoMatAl}}</ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.sabatoMatDa && !this.requestAttivita?.orari?.sabatoMatAl"> Chiuso </ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.sabatoPomDa && this.requestAttivita?.orari?.sabatoPomAl">
                  {{this.requestAttivita?.orari?.sabatoPomDa}} - {{this.requestAttivita?.orari?.sabatoPomAl}}
                </ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.sabatoPomDa && !this.requestAttivita?.orari?.sabatoPomAl"> Chiuso </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" class="column ion-text-center ion-align-items-center">
                <ion-label>DOM.</ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.domenicaMatDa && this.requestAttivita?.orari?.domenicaMatAl">
                {{this.requestAttivita?.orari?.domenicaMatDa}} - {{this.requestAttivita?.orari?.domenicaMatAl}}</ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.domenicaMatDa && !this.requestAttivita?.orari?.domenicaMatAl"> Chiuso </ion-label>
              </ion-col>
              <ion-col size="5" class="column ion-text-center ion-align-items-center">
                <ion-label *ngIf="this.requestAttivita?.orari?.domenicaPomDa && this.requestAttivita?.orari?.domenicaPomAl">
                  {{this.requestAttivita?.orari?.domenicaPomDa}} - {{this.requestAttivita?.orari?.domenicaPomAl}}
                </ion-label>
                <ion-label *ngIf="!this.requestAttivita?.orari?.domenicaPomDa && !this.requestAttivita?.orari?.domenicaPomAl"> Chiuso </ion-label>
              </ion-col>
            </ion-row>
            <ion-item style="margin-bottom: 20px;"></ion-item>
            <ion-row>
              <ion-col>
                  <ion-label class="subTitle">Descrizione:</ion-label> <br>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-label>{{this.requestAttivita?.descrizione}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-item style="margin-bottom: 20px;"></ion-item>
            <ion-row>
              <ion-col>
                <ion-label class="subTitle">Descrizione Offerta:</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>{{this.requestAttivita?.descrizioneOfferta}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-item style="margin-bottom: 20px;"></ion-item>
            <ion-row>
              <ion-col>
                <ion-label class="subTitle">Immagine profilo:</ion-label> <br>
                <ion-img [src]="getImmaginePrincipale()" class="photo"></ion-img>
              </ion-col>
            </ion-row>
            <ion-item style="margin-bottom: 20px;"></ion-item>
            <ion-row>
              <ion-col>
                <ion-label class="subTitle">Gallery:</ion-label> <br>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" *ngFor="let img of getGallery()">
                <ion-img [src]="img.upload" class="photo"></ion-img>
            </ion-col>
            </ion-row>
            <ion-item style="margin-bottom: 20px;"></ion-item>
            <ion-row style="flex-wrap: wrap;" *ngIf="!this.idAttivita">
              <ion-card>
                <ion-card-header>
                  <ion-label>Dichiaro di essere consapevole che una volta eseguito il salvataggio dell'attività, questa verrà sottoposta a verifica. Finché questa non verrà validata, non sarà visibile agli utenti.</ion-label>
                </ion-card-header>
                <ion-card-content>
                  <ion-checkbox labelPlacement="end" (ionChange)="onCheckboxChange($event)" style="margin-top: 10px;"> Accetta <ion-label style="color: #007bff;">termini e condizioni</ion-label> </ion-checkbox>
                </ion-card-content>
              </ion-card>
            </ion-row>
          </ion-grid>
          
  
          <div class="prosegui" style="display: flex; justify-content: center; align-items: center;">
            <ion-button *ngIf="!this.idAttivita || this.idAttivita === 0" (click)="prosegui()" [disabled]="!isCheckboxChecked">Salva</ion-button>
            <ion-button *ngIf="this.idAttivita || (this.idAttivita !== undefined && this.idAttivita > 0)" (click)="modifica()">Modifica</ion-button>
          </div>
        </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  
    <ion-modal [isOpen]="isEliminaModalOpen" class="full-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-card-title class="title">Elimina</ion-card-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="container content">
            <ion-spinner *ngIf="isLoadingDelete" name="crescent" color="primary"></ion-spinner>
          </div>
          <ion-card *ngIf="!isLoadingDelete">
            <ion-card-header class="cardContainer">
              <ion-card-title class="title" *ngIf="!this.isEliminazioneOK"> Sicuro di voler eliminare l'attivita? </ion-card-title>
              <ion-card-title class="title" *ngIf="this.isEliminazioneOK"> Attivita eliminata</ion-card-title>
            </ion-card-header>
            <ion-card-content class="cardContainer">
              <ion-card-title class="title2" *ngIf="!this.isEliminazioneOK"> L'eliminazione comporterà anche la rimozione di eventuali promo legate all'attività </ion-card-title>
            </ion-card-content>
            <ion-card-content class="cardContainer">
              <ion-button shape="round" color="danger" *ngIf="!this.isEliminazioneOK" (click)="eliminaAttivita()">ELIMINA</ion-button>
              <ion-button shape="round" *ngIf="!this.isEliminazioneOK" (click)="dismissEliminaModal()">ANNULLA</ion-button>
              <ion-button shape="round" *ngIf="this.isEliminazioneOK" (click)="reloadHome()">CHIUDI</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal>

