
 .ion-title{
  margin-left: 8%;
  margin-top: 8%;
  color:black;
}

.subTitle{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.contentListAtt{
  margin-top: 25px;
}


.att-add{
  background-color: #007bff; 
  border-radius: 50%; 
  width: 45px; 
  height: 45px;
}