
  <div class="container content">
    <ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>
  </div>
  
  <div class="contentListAtt" *ngIf="!isLoading && isVerificato && this.listaAttivita">
      <ion-toolbar style="background-color: white;">
        <ion-title class="title">{{ 'YOUR_ACTIVITIES' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="addNewAtt()" style="background-color: #007bff; border-radius: 50%; width: 45px; height: 45px;"><ion-icon style="color: white; height: 35px; width: 35px;" name="add-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar> 
          <ion-card *ngFor="let att of listaAttivita" (click)="getAttivita(att.idSoggetto, att.idAttivita)">
            <ion-card-header>
              <ion-card-title class="title">
                {{ att.nome }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>
                {{att.citta}}, {{att.indirizzo}}, {{att.civico}}, {{att.cap}}
              </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
  </div>
    
  <ion-modal [isOpen]="isAdd">
    <ng-template>
      <app-ricerca-attivita-autocomplete (closeEvent)="this.isAdd=false"
                                         [listaComuni]="this.listaComuni"
                                         [listaAttivitaDDL]="listaAttivitaDDL">
      </app-ricerca-attivita-autocomplete>
    </ng-template>
  </ion-modal>
  
  <div *ngIf="!isLoading && isVerificato && this.attivita && !isAdd">
    <h4 class="ion-title" *ngIf="!this.attivita">{{ 'ENTER_ACTIVITY_DETAILS' | translate }}</h4>
    <ion-modal [isOpen]="isSelected">
      <ng-template>
        <app-form-riepilogo (backEvent)="this.isSelected=false"
                            [attivita]="this.attivita"
                            [listaComuni]="this.listaComuni"
                            [listaAttivitaDDL]="this.listaAttivitaDDL">
        </app-form-riepilogo>
      </ng-template>
    </ion-modal>
    
    <!-- <div class="prosegui" style="display: flex; justify-content: center; align-items: center;">
      <ion-button *ngIf="!this.idAttivita || this.idAttivita === 0" (click)="conferma()">{{ 'PROCEED' | translate }}</ion-button>
      <ion-button *ngIf="this.idAttivita || (this.idAttivita !== undefined && this.idAttivita > 0)" (click)="conferma()">{{ 'EDIT' | translate }}</ion-button>
    </div>
    <div class="elimina" style="display: flex; justify-content: center; align-items: center;">
      <ion-button fill="clear" color="danger" *ngIf="this.idAttivita || (this.idAttivita !== undefined && this.idAttivita > 0)" (click)="openEliminaModal()">{{ 'DELETE_ACTIVITY' | translate }}</ion-button>
    </div> -->
  </div>

  <ion-alert
    [isOpen]="isError"
    header="{{ 'WARNING' | translate }}"
    subHeader="{{ 'FORM_ERRORS' | translate }}"
    [message]="getErrorMessage()"
    [buttons]="alertButtons"
    cssClass="custom-alert"
    (didDismiss)="isError = false">
  </ion-alert>
  
  <div *ngIf="!isLoading && !isVerificato && !isAdd">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="subTitle">
            {{ 'COMPLETE_VERIFICATION_MESSAGE' | translate }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="column ion-text-center ion-align-items-center">
          <ion-button (click)="reloadHome()">{{ 'Close' | translate }}</ion-button>
          <br>
          <br>
          <ion-label *ngIf="!esitoResendVerification">({{ 'Didnt get the email' | translate }})</ion-label>
          <ion-label *ngIf="esitoResendVerification" style="font-weight: bold;">{{esitoResendVerification}}</ion-label>
          <br>
          <br>
          <ion-label color="primary" (click)="resendVerificationEmail()">{{ 'Resend verification email' | translate }}</ion-label>
        </ion-card-content>
      </ion-card>
  </div>

  <ion-modal [isOpen]="isDetailModalOpen" class="full-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-card-title class="title">{{ 'RESULT' | translate }}</ion-card-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-card>
            <ion-card-header>
              <ion-card-title class="title" *ngIf="this.isEliminazioneOK"> {{ 'ACTIVITY_DELETED' | translate }} </ion-card-title>
              <ion-card-title class="title" *ngIf="this.isSalvataggioOK"> {{ 'SAVE_SUCCESS' | translate }} </ion-card-title>
              <ion-card-title class="title" *ngIf="!this.isSalvataggioOK"> {{ 'SAVE_ERROR' | translate }} </ion-card-title>
            </ion-card-header>
            <ion-card-content style="display: flex; justify-content: center; align-items: center; margin-top: 1%;">
              <ion-button shape="round" (click)="dismissDetailModal()">{{ 'Close' | translate }}</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isConfirmOpen" class="full-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-card-title class="title" style="margin-left: 3%;" *ngIf="!idAttivita">{{ 'SAVE' | translate }}</ion-card-title>
            <ion-card-title class="title" style="margin-left: 3%;" *ngIf="idAttivita">{{ 'EDIT' | translate }}</ion-card-title>
            <ion-buttons slot="end">
              <ion-button (click)="dismissConferma()"><ion-icon name="close-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
  
          <div class="container content">
            <ion-spinner *ngIf="isLoadingSalvataggio" name="crescent" color="primary"></ion-spinner>
          </div>
          <div *ngIf="!isLoadingSalvataggio">
  
        
          <div class="prosegui" style="display: flex; justify-content: center; align-items: center;">
            <ion-button *ngIf="!this.idAttivita || this.idAttivita === 0" (click)="prosegui()" [disabled]="!isCheckboxChecked">{{ 'SAVE' | translate }}</ion-button>
            <ion-button *ngIf="this.idAttivita || (this.idAttivita !== undefined && this.idAttivita > 0)" (click)="modifica()">{{ 'EDIT' | translate }}</ion-button>
          </div>
        </div>
        </ion-content>
      </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isEliminaModalOpen" class="full-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-card-title class="title"style="margin-left: 3%;">{{ 'DELETE' | translate }}</ion-card-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="container content">
            <ion-spinner *ngIf="isLoadingDelete" name="crescent" color="primary"></ion-spinner>
          </div>
          <ion-card *ngIf="!isLoadingDelete">
            <ion-card-header class="cardContainer">
              <ion-card-title class="title" *ngIf="!this.isEliminazioneOK"> {{ 'CONFIRM_DELETE_ACTIVITY' | translate }} </ion-card-title>
              <ion-card-title class="title" *ngIf="this.isEliminazioneOK"> {{ 'ACTIVITY_DELETED' | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="cardContainer">
              <ion-card-title class="title2" *ngIf="!this.isEliminazioneOK"> {{ 'DELETE_WARNING' | translate }} </ion-card-title>
            </ion-card-content>
            <ion-card-content class="cardContainer">
              <ion-button shape="round" color="danger" *ngIf="!this.isEliminazioneOK" (click)="eliminaAttivita()">{{ 'DELETE' | translate }}</ion-button>
              <ion-button shape="round" *ngIf="!this.isEliminazioneOK" (click)="dismissEliminaModal()">{{ 'Cancel' | translate }}</ion-button>
              <ion-button shape="round" *ngIf="this.isEliminazioneOK" (click)="reloadHome()">{{ 'Close' | translate }}</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ng-template>
  </ion-modal>

