
 .ion-title{
  margin-left: 8%;
  margin-top: 8%;
  color:black;
}

.ion-alert{
  margin-left: 8%;
  margin-top: 8%;
  margin-bottom: 4%;
}

.formInput{
  max-width: 70%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.prosegui{
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.elimina{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ion-spinner {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.full-modal::part(content) {
  height: 100%;
  width: 100%;
}

.custom-alert .alert-message {
  white-space: pre-line;
}

.err{
  color: red;
  margin-left: 5%;
}

.title{
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1.4rem;
}

.subTitle{
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1.1rem;
}

.contentListAtt{
  margin-top: 5%;
  min-width: 340px; 
  scrollbar-width: none;
  overflow-x: hidden;
}

.contentListAtt::-webkit-scrollbar {
  display: none; /* Nasconde la scrollbar nei browser basati su WebKit */
}
