
 .ion-title{
  margin-left: 8%;
  margin-top: 8%;
  color:black;
}

.ion-alert{
  margin-top: 8%;
  margin-bottom: 4%;
}

.prosegui{
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.elimina{
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  width: 100%;
}

.err{
  color: red;
  margin-left: 5%;
}

.title{
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1.1rem;
}

.title2{
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1rem;
}


.subTitle{
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1.1rem;
}

.contentListAtt{
  margin-top: 5%;
  min-width: 340px; 
  scrollbar-width: none;
  overflow-x: hidden;
}

.contentListAtt::-webkit-scrollbar {
  display: none; /* Nasconde la scrollbar nei browser basati su WebKit */
}
