  .title {
    --font-family: Helvetica !important;
    font-size: 1.1rem;
    text-align: left;
    margin: 0;
  }

  .btnNav {
    width: 30px;
    height: 30px;
    --background: #ffffff;
    --color: #3880ff;
    border-radius: 50%;
    padding: 0;
    --padding-start: 2;
    --padding-end: 2;
  }

  .titleMod{
    --font-family: Helvetica !important;
    font-size: 1.1rem;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .subtitle {
    font-family: Helvetica;
    font-size: 0.9rem;
    text-align: left;
    margin: 0;
  }

  .allinea-verticale {
    display: flex;
    align-items: center;
  }
  
  .col-testo {
    display: flex;
    align-items: center;
  }

  .modifica-sezione {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .btnClose {
    margin-top: 20px;
    align-self: center;
  }

  .formContentModal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // centra tutto il contenuto nel card
  }

  .col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .titleTypeCase {
    --font-family: Helvetica !important;
    font-size: 1.2rem;
    margin: 0;
  }
  
  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--ion-background-color);
  }

  .scrollable {
    overflow-y: auto;
    height: 100vh; // o calc(100vh - altezza header)
    padding: 16px;
  }

  .switch-segment-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 20px; // per evitare che tocchi i bordi
  }

  .statusModal {
    font-family: Helvetica !important;
    font-size: 1.0rem;
    margin-left: 10px;
  }

  .iconStatus {
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
    margin-left: 5px;
    margin-right: 5px;
  }

  :host ::ng-deep ion-alert::part(header) {
    color: red;
  }
  