<ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>

<!-- Header -->
<ion-header *ngIf="!isLoading" class="sticky-header">
  <ion-toolbar>
    <ion-title *ngIf="!this.attivita.idAttivita" Class="titleModal">
      {{ 'ActivityData' | translate }}
    </ion-title>
    <p *ngIf="this.attivita.idAttivita && !this.attivita.isVerificata" style="color: orange;" Class="statusModal">
      <ion-icon class="iconStatus" name="alert-circle-outline"></ion-icon>
      {{ 'VERIFICATION_IN_PROGRESS' | translate }}
    </p>
    <p *ngIf="this.attivita.idAttivita && this.attivita.isVerificata && !this.attivita.esitoVerifica" style="color: red;" Class="statusModal">
      <ion-icon class="iconStatus" name="close-circle-outline"></ion-icon>
      {{ 'VERIFICATION_FAILED' | translate }}
    </p>
    <p *ngIf="this.attivita.idAttivita && this.attivita.isVerificata && this.attivita.esitoVerifica" style="color: #008000;" Class="statusModal">
      <ion-icon class="iconStatus" name="checkmark-circle-outline"></ion-icon>
      {{ 'ACTIVITY_VERIFIED' | translate }}
    </p>
    <ion-buttons slot="end">
      <ion-button (click)="this.backEvent.emit()"><ion-icon class="closeBlack" name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
 <!-- Toolbar con scelta step --> 
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-between">
        <ion-col size="12">
          <ion-segment [(ngModel)]="segmentValue" scrollable class="my-segment">
            <ion-segment-button value="one" class="my-button-left">
              <ion-icon class="iconAtt" name="information-circle-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="two" class="my-button">
              <ion-icon class="iconAtt" name="images-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="three" class="my-button">
              <ion-icon class="iconAtt" name="checkmark-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="four" class="my-button-right">
              <ion-icon class="iconAtt" name="reorder-four-outline"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-between">
      <ion-col size="2">
        <ion-button shape="round" class="btnNav" (click)="indietro()">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8" class="col-center" [ngSwitch]="segmentValue">
        <h2 *ngSwitchCase="'one'" class="titleTypeCase">{{ 'InfoActivity' | translate }}</h2>
        <h2 *ngSwitchCase="'two'" class="titleTypeCase">{{ 'Gallery' | translate }}</h2>
        <h2 *ngSwitchCase="'three'" class="titleTypeCase">{{ 'TYPEACTIVITY' | translate }}</h2>
        <h2 *ngSwitchCase="'four'" class="titleTypeCase">{{ 'SUMMARY' | translate }}</h2>
      </ion-col>
      <ion-col size="2" class="ion-text-end">
        <ion-button shape="round" class="btnNav" (click)="avanti()">
          <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<!-- Campi Attivita --> 
<ion-content *ngIf="!isLoading" [fullscreen]="true">
  <ng-container [ngSwitch]="segmentValue">
    <div *ngSwitchCase="'one'" class="switch-segment-content">
  <ion-list style="margin-top: 2%;">
    <ion-item>
      <ion-icon slot="start" class="iconAtt" name="business-outline"></ion-icon>
      <ion-label>
        <h2 class="title">{{ this.attivita.nome }}</h2>
      </ion-label>
      <ion-icon slot="end" class="iconAtt" color="primary"  name="create-outline" (click)="modifica(1)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="iconAtt" name="call-outline"></ion-icon>
      <ion-label>
        <h2 class="subtitle">{{ this.attivita.telefono }}</h2>
      </ion-label>
      <ion-icon slot="end" class="iconAtt" color="primary"  name="create-outline" (click)="modifica(2)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="iconAtt" name="mail-outline"></ion-icon>
      <ion-label>
        <h2 class="subtitle">{{ this.attivita.email }}</h2>
      </ion-label>
      <ion-icon slot="end" class="iconAtt" color="primary"  name="create-outline" (click)="modifica(3)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="iconAtt" name="location-outline"></ion-icon>
      <ion-label>
        <h2 class="subtitle">{{this.attivita.indirizzo}}, {{this.attivita.civico}}, {{this.attivita.cap}}, {{this.attivita.citta}}</h2>
      </ion-label>
      <ion-icon slot="end" class="iconAtt" color="primary"  name="create-outline" (click)="modifica(4)"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="iconAtt" name="reader-outline"></ion-icon>
      <ion-label>
        <h2 class="subtitle"> {{ this.attivita.description }} </h2>
      </ion-label>
      <ion-icon slot="end" class="iconAtt" color="primary"  name="create-outline" (click)="modifica(5)"></ion-icon>
    </ion-item>
  </ion-list>
  <div class="col-md-16 formInput">
    <app-offerte-struttura 
      [isVegano]="attivita.isOffertaVegana" 
      [isVegetariano]="attivita.isOffertaVegetariana" 
      [isNoGlutine]="attivita.isOffertaNoGlutine"
      (offertaVeganaChange)="handleIsOffertaVeganaChange($any($event))"
      (offertaNoGlutineChange)="handleIsOffertaNoGlutineChange($any($event))"
      (offertaVegetarianaChange)="handleIsOffertaVegetarianaChange($any($event))">
    </app-offerte-struttura>
  </div>
  <ion-card-content>
    <ion-card class="card-orari" style="margin-top: 5%;">
      <app-orari-dettaglio [attivita]="this.attivita" (click)="modifica(6)" ></app-orari-dettaglio>
    </ion-card>
  </ion-card-content>
    </div>

    <div *ngSwitchCase="'two'" class="switch-segment-content">
      <ion-spinner *ngIf="isLoadIMG" name="crescent" color="primary"></ion-spinner>
      <app-gallery *ngIf="!isLoadIMG" name="gallery" [attivita] = "this.attivita" 
                                                     [immagini]="this.attivita.immagini" 
                                                     (immaginiChange)="handleImmaginiChange($event)"></app-gallery>
    </div>

    <div *ngSwitchCase="'three'" class="switch-segment-content">
    <app-tipo-attivita [listaAttivitaDDL]="listaAttivitaDDL" 
                       [listaAttivitaSelezionate]="listaAttivitaSelezionate" 
                       (listaAttivitaChanged)="handleListaTipoAttivitaChange($event)"></app-tipo-attivita>
    </div>

    <div *ngSwitchCase="'four'" class="switch-segment-content">
      <app-riepilogo [attivita]="this.attivita"
                     (isCheckedEvent)="setChecked($event)"
                     (SalvaEvent)="ControlPreSave($event)"
                     (EliminaEvent)="DeleteAttivita()">
      </app-riepilogo>
    </div>
  </ng-container>
</ion-content>

<!-- Modale modifiche campi --> 
<ion-modal *ngIf="!isLoading" [isOpen]="IsModified" (didDismiss)="chiudi()">
    <ng-template>
      <ion-content>
  
        <ion-card class="formContentModal">
          <div *ngIf="IsModifiedName" class="modifica-sezione">
            <!-- <ion-title class="titleMod">{{'ENTER_EDIT_BUSINESS'|translate}}</ion-title> -->
            <h4 class="titleMod">{{'ENTER_EDIT_BUSINESS'|translate}}</h4>  
            <app-nome [nome]="attivita.nome" (nomeChange)="handleNomeChange($event)"></app-nome>
            <ion-button class="btnClose" shape="round" color="primary" (click)="chiudi()">{{'Close'|translate}}</ion-button>
          </div>
        
          <div *ngIf="IsModifiedPhone" class="modifica-sezione">
            <!-- <ion-title class="titleMod">{{'ENTER_EDIT_PHONE'|translate}}</ion-title> -->
             <h4 class="titleMod">{{'ENTER_EDIT_PHONE'|translate}}</h4> 
            <app-telefono [telefono]="attivita.telefono" (telefonoChange)="handleTelefonoChange($event)"></app-telefono>
            <ion-button class="btnClose" shape="round" color="primary" (click)="chiudi()">{{'Close'|translate}}</ion-button>
          </div>
        
          <div *ngIf="IsModifiedMail" class="modifica-sezione">
            <!-- <ion-title class="titleMod">{{'ENTER_EDIT_EMAIL'|translate}}</ion-title> -->
             <h4 class="titleMod">{{'ENTER_EDIT_EMAIL'|translate}}</h4>
            <app-email [email]="attivita.email" (emailChange)="handleEmailChange($event)"></app-email>
            <ion-button class="btnClose" shape="round" color="primary" (click)="chiudi()">{{'Close'|translate}}</ion-button>
          </div>
        
          <div *ngIf="IsModifiedCitta" class="modifica-sezione">
            <!-- <ion-title class="titleMod">{{'ENTER_EDIT_ADDRESS'|translate}}</ion-title> -->
             <h4 class="title-mod">{{'ENTER_EDIT_ADDRESS'|translate}}</h4>
            <app-indirizzo [indirizzo]="attivita.indirizzo.trim()" (indirizzoChange)="handleIndirizzoChange($event)"></app-indirizzo>
            <app-civico [civico]="attivita.civico.trim()" (civicoChange)="handleCivicoChange($event)"></app-civico>
            <app-cap [cap]="attivita.cap.trim()" (capChange)="handleCapChange($event)"></app-cap>
            <app-citta [listaComuni]="listaComuni" [citta]="attivita.citta.trim()" (cittaChange)="handleCittaChange($event)"></app-citta>
            <ion-button class="btnClose" shape="round" color="primary" (click)="chiudi()">{{'Close'|translate}}</ion-button>
          </div>
        
          <div *ngIf="IsModifiedDesc" class="modifica-sezione">
            <!-- <ion-title class="titleMod">{{'ENTER_EDIT_DESCRIPTION'|translate}}</ion-title> -->
             <h4 class="title-mod">{{'ENTER_EDIT_DESCRIPTION'|translate}}</h4>
            <app-menu [description]="attivita.description" (descrizioneChange)="handleDescChange($event)"></app-menu>
            <ion-button class="btnClose" shape="round" color="primary" (click)="chiudi()">{{'Close'|translate}}</ion-button>
          </div>

          <div *ngIf="IsModifiedOrari" class="modifica-sezione" style="padding-left:0px;">
            <!-- <ion-title class="titleMod">{{'ENTER_EDIT_HOURS'|translate}}</ion-title> -->
             <h4 class="title-mod">{{'ENTER_EDIT_HOURS'|translate}}</h4>
            <app-orari-apertura [orari]="this.attivita.orari" (orariChange)="handleOrariChange($event)"></app-orari-apertura>
            <ion-button class="btnClose" shape="round" color="primary" (click)="chiudi()">{{'Close'|translate}}</ion-button>
          </div>
        </ion-card>
      </ion-content>
    </ng-template>
</ion-modal>

<!-- Modale conferma salvataggio/update/eliminazione --> 
<ion-modal *ngIf="!isLoading" [isOpen]="IsConfirmed" (didDismiss)="closeConfirmModal()">
  <ng-template>
    <app-confirm (CloseEvent)="closeConfirmModal()"
                 [ConfirmEvent]="this.typeConfirmModal"
                 [requestAttivita]="this.requestAttivita"
                 [typeModal]="this.typeConfirmModal"
                 [idAttivitaDelete]="this.attivita.idAttivita">
    </app-confirm>
  </ng-template>
</ion-modal>
