
<ion-segment style="width: 90%; margin-left: 5%;" [(ngModel)]="segmentValue" scrollable>
  <ion-segment-button value="one">
    <ion-icon class="iconAtt" name="information-circle-outline"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="two">
    <ion-icon class="iconAtt" name="images-outline"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="three">
    <ion-icon class="iconAtt" name="checkmark-outline"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="four">
    <ion-icon class="iconAtt" name="reorder-four-outline"></ion-icon>
  </ion-segment-button>
</ion-segment>


<ng-container [ngSwitch]="segmentValue">
  
    <ion-card class="formContent" >

    <div *ngSwitchCase="'one'">
      <ion-list style="margin-top: 2%;">
        <ion-item>
          <ion-icon slot="start" class="iconAtt" name="business-outline"></ion-icon>
          <ion-label>
            <h2 class="title">{{ this.attivita.nome }}</h2>
          </ion-label>
          <ion-icon slot="end" class="iconAtt" color="primary"  name="create-outline" (click)="modifica(1)"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" class="iconAtt" name="call-outline"></ion-icon>
          <ion-label>
            <h2 class="subtitle">{{ this.attivita.telefono }}</h2>
          </ion-label>
          <ion-icon slot="end" class="iconAtt" color="primary"  name="create-outline" (click)="modifica(2)"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" class="iconAtt" name="mail-outline"></ion-icon>
          <ion-label>
            <h2 class="subtitle">{{ this.attivita.email }}</h2>
          </ion-label>
          <ion-icon slot="end" class="iconAtt" color="primary"  name="create-outline" (click)="modifica(3)"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" class="iconAtt" name="location-outline"></ion-icon>
          <ion-label>
            <h2 class="subtitle">{{this.attivita.indirizzo}}, {{this.attivita.civico}}, {{this.attivita.cap}}, {{this.attivita.citta}}</h2>
          </ion-label>
          <ion-icon slot="end" class="iconAtt" color="primary"  name="create-outline" (click)="modifica(4)"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" class="iconAtt" name="reader-outline"></ion-icon>
          <ion-label>
            <h2 class="subtitle"> {{ this.attivita.description }} </h2>
          </ion-label>
          <ion-icon slot="end" class="iconAtt" color="primary"  name="create-outline" (click)="modifica(5)"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-card-content>
        <ion-card class="card-orari" style="margin-top: 5%;">
          <app-orari-dettaglio [attivita]="this.attivita"></app-orari-dettaglio>
        </ion-card>
      </ion-card-content>
      </div>

      <div *ngSwitchCase="'two'">
        <app-gallery name="gallery" [immagini]="this.attivita.immagini" (immaginiChange)="handleImmaginiChange($event)"></app-gallery>
      </div>

      <div *ngSwitchCase="'three'">
        <app-tipo-attivita [listaAttivitaDDL]="listaAttivitaDDL" [listaAttivitaSelezionate]="this.attivita.listaTipoAttivita" (listaAttivitaChanged)="handleListaTipoAttivitaChange($event)"></app-tipo-attivita>
      </div>


      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-text-start">
          <ion-button shape="round" class="btnNav" (click)="indietro()">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button shape="round" class="btnNav" (click)="avanti()">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      
    </ion-card>
</ng-container>



<ion-modal [isOpen]="IsModified" (didDismiss)="chiudi()">
  <ng-template>
    <ion-content>

      <ion-card class="formContentModal">
        <div *ngIf="IsModifiedName" class="modifica-sezione">
          <ion-title class="titleMod">Inserisci o modifica il nome della tua attività</ion-title>
          <app-nome [nome]="attivita.nome" (nomeChange)="handleNomeChange($event)"></app-nome>
          <ion-button class="btnClose" shape="round" color="primary" (click)="chiudi()">Chiudi</ion-button>
        </div>
      
        <div *ngIf="IsModifiedPhone" class="modifica-sezione">
          <ion-title class="titleMod">Inserisci o modifica il numero di telefono</ion-title>
          <app-telefono [telefono]="attivita.telefono" (telefonoChange)="handleTelefonoChange($event)"></app-telefono>
          <ion-button class="btnClose" shape="round" color="primary" (click)="chiudi()">Chiudi</ion-button>
        </div>
      
        <div *ngIf="IsModifiedMail" class="modifica-sezione">
          <ion-title class="titleMod">Inserisci o modifica la tua email</ion-title>
          <app-email [email]="attivita.email" (emailChange)="handleEmailChange($event)"></app-email>
          <ion-button class="btnClose" shape="round" color="primary" (click)="chiudi()">Chiudi</ion-button>
        </div>
      
        <div *ngIf="IsModifiedCitta" class="modifica-sezione">
          <ion-title class="titleMod">Inserisci o modifica i dati relativi all'indirizzo della tua attività</ion-title>
          <app-indirizzo [indirizzo]="attivita.indirizzo" (indirizzoChange)="handleIndirizzoChange($event)"></app-indirizzo>
          <app-civico [civico]="attivita.civico" (civicoChange)="handleCivicoChange($event)"></app-civico>
          <app-cap [cap]="attivita.cap" (capChange)="handleCapChange($event)"></app-cap>
          <app-citta [listaComuni]="listaComuni" [citta]="attivita.citta" (cittaChange)="handleCittaChange($event)"></app-citta>
          <ion-button class="btnClose" shape="round" color="primary" (click)="chiudi()">Chiudi</ion-button>
        </div>
      
        <div *ngIf="IsModifiedDesc" class="modifica-sezione">
          <ion-title class="titleMod">Inserisci o modifica la descrizione della tua attività</ion-title>
          <app-menu [description]="attivita.description" (descrizioneChange)="handleDescChange($event)"></app-menu>
          <ion-button class="btnClose" shape="round" color="primary" (click)="chiudi()">Chiudi</ion-button>
        </div>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>