<ion-card class="formContent" >

  <ion-grid class="gridForm">
    <ion-row class="allinea-verticale">
      <ion-col size="3">
        <ion-icon class="iconAtt" name="business-outline"></ion-icon>
      </ion-col>
      <ion-col class="col-testo" size="9">
        <ion-card-title class="title">{{ attivita.nome }}</ion-card-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="column ion-text-center ion-align-items-center">
      </ion-col>
    </ion-row>

    <ion-row class="allinea-verticale">
      <ion-col size="3">
        <ion-icon class="iconAtt" name="call-outline"></ion-icon>
      </ion-col>
      <ion-col class="col-testo" size="9">
        <ion-card-title class="subtitle">{{this.attivita.telefono}}</ion-card-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-row class="allinea-verticale">
        <ion-col size="3">
          <ion-icon class="iconAtt" name="location-outline"></ion-icon>
        </ion-col>
        <ion-col class="col-testo" size="9">
          <ion-card-title class="subtitle">{{this.attivita.indirizzo}}, {{this.attivita.civico}}, {{this.attivita.cap}}, {{this.attivita.citta}}</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
  

            <br> 
            <br>
            <app-orari-dettaglio [attivita]="this.attivita"></app-orari-dettaglio>
            <!-- <app-orari-apertura name="orari" [orari]="this.attivita?.orari"></app-orari-apertura> -->
            <!-- <ion-item style="margin-bottom: 20px;"></ion-item>
            <ion-row>
              <ion-col>
                <ion-label class="subTitle">{{ 'PROFILE_IMAGE' | translate }}:</ion-label> <br>
                <ion-img [src]="getImmaginePrincipale()" class="photo"></ion-img>
              </ion-col>
            </ion-row>
            <ion-item style="margin-bottom: 20px;"></ion-item>
            <ion-row>
              <ion-col>
                <ion-label class="subTitle">{{ 'GALLERY' | translate }}:</ion-label> <br>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4" *ngFor="let img of getGallery()">
                <ion-img [src]="img.upload" class="photo"></ion-img>
            </ion-col>
            </ion-row> -->

  <!-- <app-citta [listaComuni]="listaComuni"
             (cittaChange)="handleCittaChange($event)" >
  </app-citta>
  <app-indirizzo (indirizzoChange)="handleIndirizzoChange($event)"></app-indirizzo> -->
  <ion-button>Avanti</ion-button>
</ion-card>