<ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>

<div class="contentListAtt" *ngIf="!isLoading && this.listaAttivita && !this.isModifica ">
  <ion-toolbar>
    <ion-card-title class="title">{{ 'SELECT_ACTIVITY' | translate }}</ion-card-title>
  </ion-toolbar> 
      <ion-card *ngFor="let att of listaAttivita" (click)="getPromoAttivita(att)">
        <ion-card-header>
          <ion-card-title class="title">
            {{ att.nome }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>
            {{att.citta}}, {{att.indirizzo}}, {{att.civico}}, {{att.cap}}
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
  </div>

<div *ngIf="!this.isLoading && !this.isModifica && !this.listaAttivita" class="full-width-container">

  <div class="segment">
    <ion-segment [(ngModel)]="segmentValue" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="default">
        <ion-label>{{ 'ACTIVE_PROMOS' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>{{ 'INACTIVE_PROMOS' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  
 <div *ngIf="segmentValue === 'default'">

  <div *ngIf="listaPromoAttive?.length === 0" class="lblAdd">
    <div class="column ion-text-center ion-align-items-center" style="margin-top: 50%;">
      <ion-label>{{ 'NO_ACTIVE_PROMOS' | translate }}</ion-label>
      <ion-button style="margin-top: 5%;" mat-raised-button color="primary" (click)="openPage()">{{ 'ADD_PROMO' | translate }}</ion-button>
    </div>
  </div>
   
 <ion-accordion-group class="full-width-container" style="margin-top: 5%;">
        <ion-accordion *ngFor="let promo of listaPromoAttive" class="full-width-container">
          <ion-item slot="header" color="light" class="full-width-item">
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-card-title class="title2">{{ promo.titoloPromo }}</ion-card-title>
                </ion-col>
                <ion-col>
                  <ion-label>{{ promo.dataInserimento | date:'dd-MM-yyyy' }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;">{{ 'TITLE' | translate }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>{{ promo.titoloPromo }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;">{{ 'DESCRIPTION' | translate }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>{{ promo.descPromo }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'VALIDITY_PERIOD' | translate }} </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-label>{{'FROM_2'|translate}} {{ promo.dataDal | date:'dd-MM-yyyy' }} </ion-label>
                </ion-col>
                <ion-col size="6"> 
                  <ion-label> {{'TO_2'|translate}} {{ promo.dataAl | date:'dd-MM-yyyy' }} </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'ON_DAYS' | translate }} </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(0)"> 
                  <ion-label>{{ 'ALL_DAYS' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(1)">
                  <ion-label>{{ 'MON' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(2)">
                  <ion-label>{{ 'TUE' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(3)">
                  <ion-label>{{ 'WED' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(4)">
                  <ion-label>{{ 'THU' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(5)">
                  <ion-label>{{ 'FRI' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(6)">
                  <ion-label>{{ 'SAT' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(7)">
                  <ion-label>{{ 'SUN' | translate }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'TIME' | translate }}: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col *ngIf="promo.isAllDayValidita"> 
                  <ion-label>{{ 'ALL_DAY' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo.orarioValiditaDa">
                  <ion-label>{{ 'FROM' | translate }} {{promo.orarioValiditaDa}} - </ion-label>
                </ion-col>
                <ion-col *ngIf="promo.orarioValiditaAl">
                  <ion-label style="margin-left: 1%;">{{ 'TO' | translate }} {{promo.orarioValiditaAl}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-chip [outline]="true" *ngFor="let tipologia of promo.listaTipologie">{{tipologia.descrizione}}</ion-chip>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'MAX_COUPONS' | translate }} </ion-label>
                </ion-col>
                <ion-col> 
                  <ion-label *ngIf="promo.numCouponMax && promo.numCouponMax > 0">{{promo.numCouponMax}}</ion-label>
                  <ion-label *ngIf="!promo.numCouponMax || promo.numCouponMax <= 0">{{ 'NO_LIMIT' | translate }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'COUPONS_PER_PERSON' | translate }} </ion-label>
                </ion-col>
                <ion-col> 
                  <ion-label *ngIf="promo.numUtilizziPerPersonaMax && promo.numUtilizziPerPersonaMax > 0">{{promo.numUtilizziPerPersonaMax}}</ion-label>
                  <ion-label *ngIf="!promo.numUtilizziPerPersonaMax || promo.numUtilizziPerPersonaMax <= 0">{{ 'NO_LIMIT' | translate }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'COUPONS_REQUESTED_COUNT' | translate }} </ion-label>
                </ion-col>
                <ion-col> 
                  <ion-label *ngIf="promo.numCouponRichiesti">{{promo.numCouponRichiesti}}</ion-label>
                  <ion-label *ngIf="!promo.numCouponRichiesti">0</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'COUPONS_USED' | translate }} </ion-label>
                </ion-col>
                <ion-col> 
                  <ion-label *ngIf="promo.numCouponUtilizzati">{{promo.numCouponUtilizzati}}</ion-label>
                  <ion-label *ngIf="!promo.numCouponUtilizzati">0</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'COUPONS_REMAINING' | translate }} </ion-label>
                </ion-col>
                <ion-col> 
                  <ion-label *ngIf="promo.numCouponRimanenti">{{promo.numCouponRimanenti}}</ion-label>
                  <ion-label *ngIf="!promo.numCouponMax">{{ 'UNLIMITED' | translate }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <div class="container" style="display: flex; justify-content: center; align-items: center; margin-bottom: 5%; margin-top: 5%;">
              <ion-button shape="round" (click)="ModificaPromo(promo)">{{ 'EDIT' | translate }}</ion-button>
              <ion-button style="margin-left: 1%;" shape="round" color="warning" (click)="openDisattivaPromo(promo.idPromo, promo.idAttivita, promo.numCouponRichiesti)">{{ 'DISABLE' | translate }}</ion-button>
            </div>
          </div>
        </ion-accordion>
 </ion-accordion-group>
 </div>

  
 <div *ngIf="segmentValue === 'segment'">
      <ion-accordion-group class="full-width-container" style="margin-top: 5%;">
        <ion-accordion *ngFor="let promo of listaPromoNonAttive" class="full-width-container">
          <ion-item slot="header" color="light" class="full-width-item">
            <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <ion-card-title class="title2">{{ promo.titoloPromo }}</ion-card-title>
                </ion-col>
                <ion-col>
                  <ion-label>{{ promo.dataInserimento | date:'dd-MM-yyyy' }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;">{{ 'TITLE' | translate }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>{{ promo.titoloPromo }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;">{{ 'DESCRIPTION' | translate }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label>{{ promo.descPromo }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'VALIDITY_PERIOD' | translate }} </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-label> {{ 'FROM' | translate }} {{ promo.dataDal | date:'dd-MM-yyyy' }} </ion-label>
                </ion-col>
                <ion-col size="6"> 
                  <ion-label> {{ 'TO' | translate }} {{ promo.dataAl | date:'dd-MM-yyyy' }} </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'ON_DAYS' | translate }} </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(0)"> 
                  <ion-label>{{ 'ALL_DAYS' | translate }}</ion-label> 
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(1)">
                  <ion-label>{{ 'MON' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(2)">
                  <ion-label>{{ 'TUE' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(3)">
                  <ion-label>{{ 'WED' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(4)">
                  <ion-label>{{ 'THU' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(5)">
                  <ion-label>{{ 'FRI' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(6)">
                  <ion-label>{{ 'SAT' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo !== undefined && promo.days !== undefined && promo.days.includes(7)">
                  <ion-label>{{ 'SUN' | translate }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'TIME' | translate }}: </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col *ngIf="promo.isAllDayValidita"> 
                  <ion-label>{{ 'ALL_DAY' | translate }}</ion-label>
                </ion-col>
                <ion-col *ngIf="promo.orarioValiditaDa">
                  <ion-label>{{ 'FROM' | translate }} {{promo.orarioValiditaDa}} - </ion-label>
                </ion-col>
                <ion-col *ngIf="promo.orarioValiditaAl">
                  <ion-label style="margin-left: 0,5%;">{{ 'TO' | translate }} {{promo.orarioValiditaAl}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-chip [outline]="true" *ngFor="let tipologia of promo.listaTipologie">{{tipologia.descrizione}}</ion-chip>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'MAX_COUPONS' | translate }} </ion-label>
                </ion-col>
                <ion-col> 
                  <ion-label *ngIf="promo.numCouponMax && promo.numCouponMax > 0">{{promo.numCouponMax}}</ion-label>
                  <ion-label *ngIf="!promo.numCouponMax || promo.numCouponMax <= 0">{{ 'NO_LIMIT' | translate }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: bold;"> {{ 'COUPONS_PER_PERSON' | translate }} </ion-label>
                </ion-col>
                <ion-col> 
                  <ion-label *ngIf="promo.numUtilizziPerPersonaMax && promo.numUtilizziPerPersonaMax > 0">{{promo.numUtilizziPerPersonaMax}}</ion-label>
                  <ion-label *ngIf="!promo.numUtilizziPerPersonaMax || promo.numUtilizziPerPersonaMax <= 0">{{ 'NO_LIMIT' | translate }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
            </ion-item>
            <ion-button shape="round" (click)="ModificaPromo(promo)">{{ 'REACTIVATE' | translate }}</ion-button>
          </div>
        </ion-accordion>
      </ion-accordion-group>
</div>
</div>

<div *ngIf="!this.isLoading && this.isModifica">
  <app-gestione-promo [modificaPromo]="this.promoSelezionata"></app-gestione-promo>
</div>


<ion-modal [isOpen]="isConfirmOpen" class="full-modal">
  <ng-template>
    <app-conferma-disattivazione-promo [idPromo]="this.idPromoDisable" 
                                       [idAttivita]="this.idAttivitaDisable"
                                       [couponRichiesti]="this.numCouponRichiesti"
                                       (dismissDisattivazioneEvent)="dismissDisattivaPromo()"></app-conferma-disattivazione-promo>
  </ng-template>
</ion-modal>
