<ion-spinner *ngIf="isLoading" name="crescent" color="primary"></ion-spinner>

<!-- SELEZIONE ATTIVITÀ -->
<div class="full-width-container" *ngIf="!isLoading && listaAttivita && !isModifica">
  <ion-toolbar class="ModalToolbarAddAtt">
    <ion-title >{{ 'SELECT_ACTIVITY' | translate }}</ion-title>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let attivita of listaAttivita">
      <ion-thumbnail slot="start">
        <img [src]="attivita.uploadImgPrincipale" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ attivita.nome }}</h2>
        <p>{{ attivita.citta }}, {{ attivita.indirizzo }}, {{ attivita.civico }}, {{ attivita.cap }}</p>
      </ion-label>
        <ion-icon name="create-outline" color="primary" slot="end" (click)="getPromoAttivita(attivita.idAttivita)"></ion-icon>
    </ion-item>
  </ion-list>
</div>

<!-- LISTA PROMO -->
<div *ngIf="!isLoading && !isModifica && !listaAttivita" class="full-width-container">
  <ion-segment [(ngModel)]="segmentValue" (ionChange)="onSegmentChange($event)" class="my-segment">
    <ion-segment-button value="default" class="my-button-left">
      <ion-label>{{ 'ACTIVE_PROMOS' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" class="my-button-right">
      <ion-label>{{ 'INACTIVE_PROMOS' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- PROMO ATTIVE -->
  <ng-container *ngIf="segmentValue === 'default'">
    <div *ngIf="listaPromoAttive?.length === 0" class="lblAdd ion-text-center" style="margin-top: 30vh;">
      <ion-label>{{ 'NO_ACTIVE_PROMOS' | translate }}</ion-label>
      <ion-button expand="block" style="margin-top: 16px;" (click)="openPage()">{{ 'ADD_PROMO' | translate }}</ion-button>
    </div>

    <ion-accordion-group *ngIf="(listaPromoAttive?.length ?? 0) > 0" style="margin-top: 10px;">
      <ion-accordion *ngFor="let promo of listaPromoAttive">
        <ion-item slot="header" color="light">
          <ion-label class="ion-text-wrap">
            <div style="display: flex; flex-direction: column;">
              <span class="scadenza-label">{{ 'EXPIRES' | translate }}: {{ promo.dataAl | date:'dd-MM-yyyy' }}</span>
              <span class="titlePromo" style="margin-top: 6px;">{{ promo.titoloPromo }}</span>
            </div>
          </ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <ion-list lines="none">
            <ion-item>
              <ion-label><strong>{{ 'DESCRIPTION' | translate }}</strong>: {{ promo.descPromo }}</ion-label>
            </ion-item>
            <ion-item class="riepilogoContainer">
              <ion-label><strong>{{ 'VALIDITY_PERIOD' | translate }}</strong>: {{ promo.dataDal | date:'dd-MM-yyyy' }} - {{ promo.dataAl | date:'dd-MM-yyyy' }}</ion-label>
            </ion-item>
            <ion-item class="riepilogoContainer">
              <div class="days-wrapper">
               <label class="days-label" style="color: #444;;"><strong>{{ 'FOODORDRINKS' | translate }}</strong>:</label>
                <div class="chip-container">
                  <ion-chip *ngIf="promo.codTipoConsumazione === 1">{{ 'FOOD' | translate }}</ion-chip>
                  <ion-chip *ngIf="promo.codTipoConsumazione === 2">{{ 'DRINKS' | translate }}</ion-chip>
                  <ion-chip *ngIf="promo.codTipoConsumazione === 3">{{ 'FOODDRINKS' | translate }}</ion-chip>
                </div>
              </div>
            </ion-item>
            <ion-item class="riepilogoContainer">
             <div class="days-wrapper">
              <label class="days-label" style="color: #444;;"><strong>{{ 'MOMENTDAY' | translate }}</strong>:</label>
              <div class="chip-container">
                <ion-chip *ngIf="promo.periodo?.includes('1')" >{{ 'BREAKFAST' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('2')" >{{ 'BRUNCH' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('3')" >{{ 'LUNCH' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('4')" >{{ 'AFTERNOONTEA' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('5')" >{{ 'HAPPYHOUR' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('6')" >{{ 'DINNER' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('7')" >{{ 'LATENIGHT' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('8')" >{{ 'ANYTIME' | translate }}</ion-chip>
              </div>
            </div>
           </ion-item>
            <ion-item class="riepilogoContainer">
             <div class="days-wrapper">
              <label class="days-label" style="color: #444;;"><strong>{{ 'ON_DAYS' | translate }}</strong>:</label>
              <div class="chip-container">
                <ion-chip *ngFor="let d of promo.days">
                  {{ ('DAY_' + d) | translate }}
                </ion-chip>
              </div>
            </div>
           </ion-item>
            <ion-item class="riepilogoContainer">
              <ion-label><strong>{{ 'TIME' | translate }}</strong>: 
                <ng-container *ngIf="promo.isAllDayValidita">{{ 'ALL_DAY' | translate }}</ng-container>
                <ng-container *ngIf="!promo.isAllDayValidita">{{ 'FROM' | translate }} {{ promo.orarioValiditaDa }} - {{ 'TO' | translate }} {{ promo.orarioValiditaAl }}</ng-container>
              </ion-label>
            </ion-item>
            <ion-item class="riepilogoContainer">
              <ion-label><strong>{{ 'MAX_COUPONS' | translate }}</strong>: {{ promo.numCouponMax || ('NO_LIMIT' | translate) }}</ion-label>
            </ion-item>
            <ion-item class="riepilogoContainer">
              <ion-label><strong>{{ 'COUPONS_PER_PERSON' | translate }}</strong>: {{ promo.numUtilizziPerPersonaMax || ('NO_LIMIT' | translate) }}</ion-label>
            </ion-item>
            <ion-item class="riepilogoContainer">
              <div class="chip-container">
                <ion-chip *ngFor="let tipo of promo.listaTipologie">{{ tipo.descrizione }}</ion-chip>
              </div>
            </ion-item>
            <ion-item class="riepilogoContainer">
              <ion-grid class="gridContainer">
                <ion-row>
                  <ion-col><strong>{{ 'COUPONS_REQUESTED_COUNT' | translate }}</strong></ion-col>
                  <ion-col>{{ promo.numCouponRichiesti || 0 }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><strong>{{ 'COUPONS_USED' | translate }}</strong></ion-col>
                  <ion-col>{{ promo.numCouponUtilizzati || 0 }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><strong>{{ 'COUPONS_REMAINING' | translate }}</strong></ion-col>
                  <ion-col *ngIf="!promo.numCouponRimanenti">{{ 'UNLIMITED' | translate }}</ion-col>
                  <ion-col *ngIf="promo.numCouponRimanenti">{{promo.numCouponRimanenti}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
          <div class="ion-text-center" style="margin-top: 1rem;">
            <ion-button shape="round"  fill="outline" color="danger" (click)="openDisattivaPromo(promo.idPromo, promo.idAttivita, promo.numCouponRichiesti)">{{ 'DISABLE' | translate }}</ion-button>
            <ion-button shape="round" (click)="ModificaPromo(promo,1)">{{ 'EDIT' | translate }}</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>

  <!-- PROMO NON ATTIVE -->
  <ng-container *ngIf="segmentValue === 'segment'">
    <ion-accordion-group *ngIf="(listaPromoNonAttive?.length ?? 0) > 0" style="margin-top: 10px;">
      <ion-accordion *ngFor="let promo of listaPromoNonAttive">

        <ion-item slot="header" color="light">
          <ion-label class="ion-text-wrap">
            <div style="display: flex; flex-direction: column;">
              <span class="scadenza-label">{{ 'ENDED' | translate }}: {{ promo.dataAl | date:'dd-MM-yyyy' }}</span>
              <span class="titlePromo" style="margin-top: 6px;">{{ promo.titoloPromo }}</span>
            </div>
          </ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <ion-list lines="none">
            <ion-item>
              <ion-label><strong>{{ 'DESCRIPTION' | translate }}</strong>: {{ promo.descPromo }}</ion-label>
            </ion-item>
            <ion-item class="riepilogoContainer">
              <ion-label><strong>{{ 'VALIDITY_PERIOD' | translate }}</strong>: {{ promo.dataDal | date:'dd-MM-yyyy' }} → {{ promo.dataAl | date:'dd-MM-yyyy' }}</ion-label>
            </ion-item>
            <ion-item class="riepilogoContainer">
             <div class="days-wrapper">
              <label class="days-label" style="color: #444;;"><strong>{{ 'MOMENTDAY' | translate }}</strong>:</label>
              <div class="chip-container">
                <ion-chip *ngIf="promo.periodo?.includes('1')" >{{ 'BREAKFAST' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('2')" >{{ 'BRUNCH' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('3')" >{{ 'LUNCH' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('4')" >{{ 'AFTERNOONTEA' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('5')" >{{ 'HAPPYHOUR' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('6')" >{{ 'DINNER' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('7')" >{{ 'LATENIGHT' | translate }}</ion-chip>
                <ion-chip *ngIf="promo.periodo?.includes('8')" >{{ 'ANYTIME' | translate }}</ion-chip>
              </div>
            </div>
           </ion-item>
            <ion-item class="riepilogoContainer">
             <div class="days-wrapper">
              <label class="days-label" style="color: #444;;"><strong>{{ 'ON_DAYS' | translate }}</strong>:</label>
              <div class="chip-container">
                <ion-chip *ngFor="let d of promo.days">
                  {{ ('DAY_' + d) | translate }}
                </ion-chip>
              </div>
            </div>
           </ion-item>
           <ion-item class="riepilogoContainer">
              <ion-label><strong>{{ 'TIME' | translate }}</strong>: 
                <ng-container *ngIf="promo.isAllDayValidita">{{ 'ALL_DAY' | translate }}</ng-container>
                <ng-container *ngIf="!promo.isAllDayValidita">{{ 'FROM' | translate }} {{ promo.orarioValiditaDa }} - {{ 'TO' | translate }} {{ promo.orarioValiditaAl }}</ng-container>
              </ion-label>
            </ion-item>
            <ion-item class="riepilogoContainer">
              <ion-label><strong>{{ 'MAX_COUPONS' | translate }}</strong>: {{ promo.numCouponMax || ('NO_LIMIT' | translate) }}</ion-label>
            </ion-item>
            <ion-item class="riepilogoContainer">
              <ion-label><strong>{{ 'COUPONS_PER_PERSON' | translate }}</strong>: {{ promo.numUtilizziPerPersonaMax || ('NO_LIMIT' | translate) }}</ion-label>
            </ion-item>
            <ion-item class="riepilogoContainer">
              <div class="chip-container">
                <ion-chip *ngFor="let tipo of promo.listaTipologie">{{ tipo.descrizione }}</ion-chip>
              </div>
            </ion-item>
            <ion-item class="riepilogoContainer">
              <ion-grid class="gridContainer">
                <ion-row>
                  <ion-col><strong>{{ 'COUPONS_REQUESTED_COUNT' | translate }}</strong></ion-col>
                  <ion-col>{{ promo.numCouponRichiesti || 0 }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><strong>{{ 'COUPONS_USED' | translate }}</strong></ion-col>
                  <ion-col>{{ promo.numCouponUtilizzati || 0 }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col><strong>{{ 'COUPONS_REMAINING' | translate }}</strong></ion-col>
                  <ion-col *ngIf="!promo.numCouponRimanenti">{{ 'UNLIMITED' | translate }}</ion-col>
                  <ion-col *ngIf="promo.numCouponRimanenti">{{promo.numCouponRimanenti}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
          <div class="ion-text-center" style="margin-top: 1rem;">
            <ion-button shape="round" color="success" (click)="ModificaPromo(promo,2)">{{ 'REACTIVATE' | translate }}</ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>
</div>

<!-- MODAL AGGIUNTA/MODIFICA -->
<ion-modal [isOpen]="isModifica" 
(didDismiss)="recoverModificaPromo()" class="full-modal">

  <ng-template>
    <app-form-promo [idAttivita]="idAttivita" 
                    [modificaPromo]="promoSelezionata" 
                    (closeModal)="recoverModificaPromo()"
                    (closeModalAndRefresh)="recoverModificaPromoRefresh()"
                    (closeModalAndGoToPage)="onModalDismissAndGoToPage($event)"></app-form-promo>
  </ng-template>
</ion-modal>

<!-- MODAL CONFERMA DISATTIVAZIONE -->
<ion-modal [isOpen]="isConfirmOpen" class="full-modal">
  <ng-template>
    <app-conferma-disattivazione-promo
      [idPromo]="idPromoDisable"
      [idAttivita]="idAttivitaDisable"
      [couponRichiesti]="numCouponRichiesti"
      (dismissDisattivazioneEvent)="dismissDisattivaPromo($event)"
      (closeModal)="this.isConfirmOpen = false">
    </app-conferma-disattivazione-promo>
  </ng-template>
</ion-modal>


