<!-- <ion-list class="limited-width">
  <ion-item>
    <ion-select [formControl]="listaTipoAttivita" placeholder="{{ 'ACTIVITY_TYPE' | translate }}*" multiple="true" >
      <ion-select-option *ngFor="let decAttivita of listaAttivitaDDL" [value]="decAttivita.codTipoAttivita">
        {{ decAttivita.descrizione }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list> -->

<div>
  <div class="chip-toolbar">
    <ion-chip *ngFor="let chip of selectedAttivita" [outline]="true">
      <ion-label>{{chip.descrizione}}</ion-label>
      <ion-icon name="close" (click)="removeChip(chip)"></ion-icon>
    </ion-chip>
  </div>

  <ion-searchbar [(ngModel)]="filtro" placeholder="Cerca tipo attività"></ion-searchbar>

  <div class = "scrollable-list">
  <ion-list class="limited-width">
    <ion-item *ngFor="let decAttivita of listaAttivitaFiltrate">
      <ion-checkbox
        slot="start"
        [checked]="isSelected(decAttivita.codTipoAttivita)"
        (ionChange)="toggleSelection(decAttivita)">
      </ion-checkbox>
      <ion-label>{{ decAttivita.descrizione }}</ion-label>
    </ion-item>
  </ion-list>
  </div>
  
</div>
