<div *ngIf="this.attivita.immagini">
  <div class="card-container" #widgetsContent>
    <div class="card-wrapper" *ngIf="!isLoading && attivita.immagini && attivita.immagini.length > 0">
      <ion-card class="card-img" *ngFor="let immagine of attivita.immagini.slice(0, 3)" (click)="openDialogImg(attivita.idAttivita)">
        <img class="uniform-image" mat-card-image [src]="immagine.upload" alt="Immagine dell'attività">
      </ion-card>
    </div>
    <div *ngIf="isLoading && attivita.immagini && attivita.immagini.length > 0">
      <ion-card class="card-Skeleton">
        <ion-skeleton-text [animated]="true" class="Skeletonimage"></ion-skeleton-text>
      </ion-card>
    </div>
    <div class="overlayGallery" *ngIf="!isLoading">
      <ion-button class="btnGallery" (click)="openDialogImg(attivita.idAttivita)" [outline]="true"><ion-icon name="images-outline" style="margin-right: 5px; margin-top: 2px;"></ion-icon><ion-label>Gallery</ion-label></ion-button>
    </div>
    <div class="overlayFavourite">
      <ion-button class="btnFavourite" *ngIf="this.idSoggetto && !this.isFavorite" (click)="AddRemoveFavorite(attivita.idAttivita)" shape="round"><ion-icon slot="icon-only" name="heart-outline"></ion-icon></ion-button>
      <ion-button class="btnFavourite" *ngIf="this.idSoggetto && this.isFavorite" (click)="AddRemoveFavorite(attivita.idAttivita)" shape="round"><ion-icon slot="icon-only" name="heart"></ion-icon></ion-button>
    </div>
  </div>
  
  
  <ion-card *ngIf="!isLoading && this.attivita.isPromoPresente && this.listaPromo && this.listaPromo.length > 0" style="margin-top: 5%;" >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-title class="title">Le nostre Promozioni</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-card-content>
      <app-pannello-promo (openPageLogin)="isOpenPageLoginEvent($event)"
                          (redirecEsitoEvent)="redirecEsitoEvent($event)"
                          [listaPromo]="this.listaPromo"
                          [idAttivita]="this.attivitaSelezionata?.idAttivita"></app-pannello-promo>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
  <ion-item>
    <ion-card-header>
      <ion-card-title *ngIf="!isLoading" class="nome">{{attivita.nome}}</ion-card-title>
      <ion-skeleton-text *ngIf="isLoading" [animated]="true" style="height: 25px;"></ion-skeleton-text>
      <ion-card-subtitle style="margin-top: 20px;">
        <ion-button shape="round" class="custom-button" style="width: 40px; height: 40px;" (click)="callPhoneNumber(attivita.telefono)">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button shape="round" class="custom-button" style="width: 40px; height: 40px;" (click)="scrollToMap()">
          <ion-icon name="location-outline"></ion-icon>
        </ion-button>
    </ion-card-subtitle>

    </ion-card-header>
  </ion-item>
  <ion-item>
      <div class="chip-container">
          <ion-chip [outline]="true" *ngFor="let tipo of attivita.listaTipoAttivita">{{tipo.descrizione}}</ion-chip>
      </div>
  </ion-item>
    
  <ion-item>
    <ion-card-content>
      <ion-card-title class="subtitle">Chi siamo</ion-card-title>
      <ion-label style="margin-top:2%;">{{attivita.descrizione}}</ion-label>
    </ion-card-content>
  </ion-item>

    <ion-card-content>
  
      <div class="descOfferta">
        <ion-accordion-group expand="inset">
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <h3 class="lbl-title">Le nostre offerte</h3>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-label>{{attivita.descrizioneOfferta}}</ion-label>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>

      <ion-item *ngIf="attivita.isOffertaNoGlutine || attivita.isOffertaVegana || attivita.isOffertaVegetariana">
            <ion-grid style="margin-top: 15px;">
              <ion-row>
                <ion-col size="12" class="column ion-text-center ion-align-items-center">
                  <ion-card-title class="nome">Da noi potete trovare prodotti</ion-card-title>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="column ion-text-center ion-align-items-center" *ngIf="attivita.isOffertaVegetariana">
                  <img class="imgOffer" src="assets/Img/gluten-free.png">
                </ion-col>
                <ion-col size="4" class="column ion-text-center ion-align-items-center" *ngIf="attivita.isOffertaVegana">
                  <img class="imgOffer" src="assets/Img/vegan.png">
                </ion-col>
                <ion-col size="4" class="column ion-text-center ion-align-items-center" *ngIf="attivita.isOffertaVegetariana">
                  <img class="imgOffer" src="assets/Img/vegetarian.png">
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="column ion-text-center ion-align-items-center" *ngIf="attivita.isOffertaVegetariana">
                  <ion-label style="font-size: 0.6rem;">GLUTEN FREE</ion-label>
                </ion-col>
                <ion-col size="4" class="column ion-text-center ion-align-items-center" *ngIf="attivita.isOffertaVegana">
                  <ion-label style="font-size: 0.6rem;">VEGANI</ion-label>
                </ion-col>
                <ion-col size="4" class="column ion-text-center ion-align-items-center" *ngIf="attivita.isOffertaVegetariana">
                  <ion-label style="font-size: 0.65rem;">VEGETARIANI</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-item>

      <div class="map-container" #mapContainer>
        <google-map [center]="center" 
                    [zoom]="17" id="mapElement" 
                    (mapReady)="onMapReady($event)" 
                    [width]="350" 
                    [height]="280">
          <map-marker [position]="center"></map-marker>
        </google-map>
    </div>
    
      <div style="display: flex; justify-content: center; align-items: center; margin-top: 3%;">
        <ion-button (click)="copyAddress(attivita.indirizzo, attivita.civico, attivita.cap, attivita.citta)" size="small" fill="clear" color="dark"><ion-icon name="copy-outline" style="margin-right: 5px;" ></ion-icon>  COPIA INDIRIZZO</ion-button>
      </div>

      <ion-card class="card-orari" style="margin-top: 5%;">
        <ion-grid style="margin-top: 3%;">
          <ion-row>
            <ion-col>
              <ion-card-title class="nome" style="margin-left: 10%;">Orari</ion-card-title>
            </ion-col>
            <ion-col>
              <ion-card-subtitle>Mattina</ion-card-subtitle>
            </ion-col>
            <ion-col>
              <ion-card-subtitle>Sera</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col><p>Lunedì</p></ion-col>
              <ion-col>
                  <p *ngIf="attivita.orari !== undefined && attivita.orari.lunediMatDa !== undefined && attivita.orari.lunediMatDa.trim() !== '' && attivita.orari.lunediMatAl !== undefined && attivita.orari.lunediMatAl.trim() !== '' ; else chiusoTemplate">
                      {{ attivita.orari.lunediMatDa }} - {{ attivita.orari.lunediMatAl }}
                  </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
                </ion-col>
                <ion-col>
                  <p *ngIf="attivita.orari && attivita.orari.lunediPomDa !== undefined && attivita.orari.lunediPomDa.trim() !== '' && attivita.orari.lunediPomAl !== undefined && attivita.orari.lunediPomAl.trim() !== '' ; else chiusoTemplate">
                      {{ attivita.orari.lunediPomDa }} - {{ attivita.orari.lunediPomAl }}
                  </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col><p>Martedì</p></ion-col>
              <ion-col>
                <p *ngIf="attivita.orari && attivita.orari.martediMatDa !== undefined && attivita.orari.martediMatDa.trim() !== '' && attivita.orari.martediMatAl !== undefined && attivita.orari.martediMatAl.trim() !== '' ; else chiusoTemplate">
                  {{ attivita.orari.martediMatDa }} - {{ attivita.orari.martediMatAl }}
                </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
                </ion-col>
                <ion-col>
                  <p *ngIf="attivita.orari && attivita.orari.martediPomDa !== undefined && attivita.orari.martediPomDa.trim() !== '' && attivita.orari.martediPomAl !== undefined && attivita.orari.martediPomAl.trim() !== '' ; else chiusoTemplate">
                    {{ attivita.orari.martediPomDa }} - {{ attivita.orari.martediPomAl }}
                  </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col><p>Mercoledì</p></ion-col>
              <ion-col>
                <p *ngIf="attivita.orari && attivita.orari.mercolediMatDa !== undefined && attivita.orari.mercolediMatDa.trim() !== '' && attivita.orari.mercolediMatAl !== undefined && attivita.orari.mercolediMatAl.trim() !== '' ; else chiusoTemplate">
                  {{ attivita.orari.mercolediMatDa }} - {{ attivita.orari.mercolediMatAl }}
                </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
                </ion-col>
                <ion-col>
                  <p *ngIf="attivita.orari && attivita.orari.mercolediPomDa !== undefined && attivita.orari.mercolediPomDa.trim() !== '' && attivita.orari.mercolediPomAl !== undefined && attivita.orari.mercolediPomAl.trim() !== '' ; else chiusoTemplate">
                    {{ attivita.orari.mercolediPomDa }} - {{ attivita.orari.mercolediPomAl }}
                  </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col><p>Giovedì</p></ion-col>
              <ion-col>
                <p *ngIf="attivita.orari && attivita.orari.giovediMatDa !== undefined && attivita.orari.giovediMatDa.trim() !== '' && attivita.orari.giovediMatAl !== undefined && attivita.orari.giovediMatAl.trim() !== '' ; else chiusoTemplate">
                  {{ attivita.orari.giovediMatDa }} - {{ attivita.orari.giovediMatAl }}
                </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
                </ion-col>
                <ion-col>
                  <p *ngIf="attivita.orari && attivita.orari.giovediPomDa !== undefined && attivita.orari.giovediPomDa.trim() !== '' && attivita.orari.giovediPomAl !== undefined && attivita.orari.giovediPomAl.trim() !== '' ; else chiusoTemplate">
                    {{ attivita.orari.giovediPomDa }} - {{ attivita.orari.giovediPomAl }}
                  </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col><p>Venerdì</p></ion-col>
              <ion-col>
                <p *ngIf="attivita.orari && attivita.orari.venerdiMatDa !== undefined && attivita.orari.venerdiMatDa.trim() !== '' && attivita.orari.venerdiMatAl !== undefined && attivita.orari.venerdiMatAl.trim() !== '' ; else chiusoTemplate">
                  {{ attivita.orari.venerdiMatDa }} - {{ attivita.orari.venerdiMatAl }}
                </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
                </ion-col>
                <ion-col>
                  <p *ngIf="attivita.orari && attivita.orari.venerdiPomDa !== undefined && attivita.orari.venerdiPomDa.trim() !== '' && attivita.orari.venerdiPomAl !== undefined && attivita.orari.venerdiPomAl.trim() !== '' ; else chiusoTemplate">
                    {{ attivita.orari.venerdiPomDa }} - {{ attivita.orari.venerdiPomAl }}
                  </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col><p>Sabato</p></ion-col>
              <ion-col>
                <p *ngIf="attivita.orari && attivita.orari.sabatoMatDa !== undefined && attivita.orari.sabatoMatDa.trim() !== '' && attivita.orari.sabatoMatAl !== undefined && attivita.orari.sabatoMatAl.trim() !== '' ; else chiusoTemplate">
                  {{ attivita.orari.sabatoMatDa }} - {{ attivita.orari.sabatoMatAl }}
                </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
                </ion-col>
                <ion-col>
                  <p *ngIf="attivita.orari && attivita.orari.sabatoPomDa !== undefined && attivita.orari.sabatoPomDa.trim() !== '' && attivita.orari.sabatoPomAl !== undefined && attivita.orari.sabatoPomAl.trim() !== '' ; else chiusoTemplate">
                    {{ attivita.orari.sabatoPomDa }} - {{ attivita.orari.sabatoPomAl }}
                  </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col><p>Domenica</p></ion-col>
              <ion-col>
                <p *ngIf="attivita.orari && attivita.orari.domenicaMatDa !== undefined && attivita.orari.domenicaMatDa.trim() !== '' && attivita.orari.domenicaMatAl !== undefined && attivita.orari.domenicaMatAl.trim() !== '' ; else chiusoTemplate">
                  {{ attivita.orari.domenicaMatDa }} - {{ attivita.orari.domenicaMatAl }}
                </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
                </ion-col>
                <ion-col>
                  <p *ngIf="attivita.orari && attivita.orari.domenicaPomDa !== undefined && attivita.orari.domenicaPomDa.trim() !== '' && attivita.orari.domenicaPomAl !== undefined && attivita.orari.domenicaPomAl.trim() !== '' ; else chiusoTemplate">
                    {{ attivita.orari.domenicaPomDa }} - {{ attivita.orari.domenicaPomAl }}
                  </p>
                  <ng-template #chiusoTemplate>
                      Chiuso
                  </ng-template>
              </ion-col>
            </ion-row>
  
          </ion-grid>
        </ion-card-content>
      </ion-card>

    </ion-card-content>
  </ion-card>
</div>



