
<ion-card-title class="title">LA TUA PROMO E' ORA ATTIVA</ion-card-title>

<div class="container">
    <img class="img" src="assets/Img/spunta_okay.png">

    <label class="lbl-info">Per poterla utilizzare, presentati presso l'attività e mostragli il coupon nella sezione "PROMO ATTIVE" così che possano confermarne l'utilizzo.
        Per maggiorni informazioni visionare le condizioni di utilizzo nelle info.
    </label>

    <div class="row container-btn">
        <div class="col-md-3">
            <button mat-button (click)="RedirectInfo()">Info</button>
        </div>
        <div class="col-md-1 divider">
            <label>|</label>
        </div>
        <div class="col-md-3">
            <button mat-button>Promo</button>
        </div>
        <div class="col-md-1 divider">
            <label>|</label>
        </div>
        <div class="col-md-3">
            <button mat-button (click)="Home()">Home</button>
        </div>
        <div class="col-md-1 divider">
        </div>
    </div>
</div>



