
<ion-card-title class="title">{{'PROMOISUP'|translate}}</ion-card-title>

<div class="container">
    <img class="img" src="assets/Img/spunta_okay.png">

    <label class="lbl-info">{{'PromoIsUpDetail'|translate'}}
    </label>

    <div class="row container-btn">
        <div class="col-md-3">
            <button mat-button (click)="RedirectInfo()">{{'Info'|translate}}</button>
        </div>
        <div class="col-md-1 divider">
            <label>|</label>
        </div>
        <div class="col-md-3">
            <button mat-button>{{'Promo'|translate}}</button>
        </div>
        <div class="col-md-1 divider">
            <label>|</label>
        </div>
        <div class="col-md-3">
            <button mat-button (click)="Home()">{{'Home'|translate}}</button>
        </div>
        <div class="col-md-1 divider">
        </div>
    </div>
</div>



