<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201102405242-6fn87bpkj8bift1uhdu4f5drp8s6v2mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201102405242-6fn87bpkj8bift1uhdu4f5drp8s6v2mt</string>
	<key>API_KEY</key>
	<string>AIzaSyCx7OSoD0g0rgsMqLWkpdzJwcNouMyuw8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>201102405242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.readeal.app</string>
	<key>PROJECT_ID</key>
	<string>one-more-angular</string>
	<key>STORAGE_BUCKET</key>
	<string>one-more-angular.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201102405242:ios:457111011a5e3c9182d5c3</string>
</dict>
</plist>