<div class="contenitore">
  <ion-accordion-group class="headers-align" multiple="true">
    <ion-accordion *ngFor="let promo of listaPromo" style="margin-bottom: 10px;">
      <ion-item slot="header" color="success" style="border-radius: 50px;">
        <ion-label>{{ promo.titoloPromo }}</ion-label>
      </ion-item>
      
      <div class="ion-padding" slot="content" *ngIf="promo.isAbilitataForUser">
        <ion-card>
          <ion-card-content>
            <ion-note slot="end" style="color: black;">Termina il {{ promo.dataAl | date:'dd-MM-yyyy' }}</ion-note>
            <br>
            <br>
          <ion-label>{{ promo.descPromo }}</ion-label>
        <br>
        <br>
        <ion-chip *ngFor="let tipologia of promo.listaTipologie">
          <ion-label>{{ tipologia.descrizione }}</ion-label>
        </ion-chip>
        <br>
        <br>
          <ion-label >Giorni</ion-label>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-col>
                    <ion-label *ngIf="promo.days?.includes(0)" class="lbl">Tutti i giorni</ion-label>
                    <ion-label *ngIf="promo.days?.includes(1)">LUN</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label *ngIf="promo.days?.includes(2)">MAR</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label *ngIf="promo.days?.includes(3)">MER</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label *ngIf="promo.days?.includes(4)">GIO</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label *ngIf="promo.days?.includes(5)">VEN</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label *ngIf="promo.days?.includes(6)">SAB</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label *ngIf="promo.days?.includes(7)">DOM</ion-label>
                  </ion-col>
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label class="lbl">Orario</ion-label>
                </ion-col>
                <ion-col>
                  <ion-label *ngIf="promo.isAllDayValidita">Tutto il giorno</ion-label>
                  <ion-label *ngIf="promo.orarioValiditaDa">Dalle {{ promo.orarioValiditaDa }} - </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label style="margin-left: 0.5%;" *ngIf="promo.orarioValiditaAl">alle {{ promo.orarioValiditaAl }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
        <div>
          <ion-button expand="block" (click)="openConfirmModal(promo)">Prenota</ion-button>
        </div>
      </ion-card-content>
        </ion-card>
      </div>
      <div class="ion-padding" slot="content" *ngIf="promo.motivazioneDisabilitata" class="lbl-info">
        <ion-card>
          <ion-card-header>
            <ion-label style="color: red;">{{ promo.motivazioneDisabilitata }}</ion-label>
          </ion-card-header>
          <ion-card-content class="column ion-text-center ion-align-items-center" >
            <ion-button (click)="dismissConfirmModal(true, true)" color="primary" shape="round" style="margin-bottom: 5px;">I MIEI COUPON <ion-icon style="margin-left: 5px;" name="ticket-outline"></ion-icon></ion-button>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-item-divider></ion-item-divider>
    </ion-accordion>
    
  </ion-accordion-group>
</div> 

<ion-modal [isOpen]="isModalConfirmOpen" class="full-modal">
  <ng-template>
    <ion-header *ngIf="isLoading">
      <ion-spinner  name="crescent" color="primary"></ion-spinner>
    </ion-header>
    <ion-header *ngIf="!isLoading">
      <ion-toolbar>
        <ion-title>Esito</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismissConfirmModal(false, false)"><ion-icon name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="column ion-text-center ion-align-items-center">
      <ion-card *ngIf="!isLoading && !isConfirmed">
        <ion-card-header class="column ion-text-center ion-align-items-center">
          <ion-title>
            Stai per acquaisire il coupon!!
          </ion-title>
        </ion-card-header>
        <ion-card-content class="column ion-text-center ion-align-items-center" *ngIf="!isLoading && !isError">
          <ion-button shape="round" (click)="Prenota()">CONFERMA</ion-button>
          <ion-button shape="round" color="light" (click)="dismissConfirmModal(false, false)">ANNULLA</ion-button>
        </ion-card-content>
        <ion-card-content class="column ion-text-center ion-align-items-center" *ngIf="!isLoading && isError">
          <ion-label>Ops, qualcosa è andato storto</ion-label>
          <br>
          <ion-button shape="round" color="light" style="margin-left: 10px;" (click)="dismissConfirmModal(false, false)">CHIUDI</ion-button>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="!isLoading && isConfirmed">
        <ion-card-header class="column ion-text-center ion-align-items-center">
          <ion-title style="font-size: medium;">
            LA TUA PROMO È ORA ATTIVA <ion-icon name="alert-circle-outline"></ion-icon>
          </ion-title>
        </ion-card-header>
        <ion-card-content class="column ion-text-center ion-align-items-center">
          <img class="img" src="assets/Img/icons8-ok-480.png">
          <br>
          <ion-label class="lbl-info">Per poterla utilizzare, presentati presso l'attività e mostragli il coupon nella sezione "PROMO ATTIVE" così che possano confermarne l'utilizzo.
            Per maggiorni informazioni visionare le condizioni di utilizzo nelle info.
        </ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button shape="round" (click)="dismissConfirmModal(true, true)"> <ion-icon name="ticket-outline" ></ion-icon> Coupon</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button shape="round" (click)="dismissConfirmModal(true, false)"> <ion-icon name="home-outline" ></ion-icon> Home</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isModalVerifiedOpen" class="full-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Attenzione</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismissisModalVerified()"><ion-icon name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="column ion-text-center ion-align-items-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Per poter richiedere un coupon, completa la verifica controllando la tua casella di posta e cliccando sul link che ti abbiamo inviato.
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="column ion-text-center ion-align-items-center">
          <ion-button (click)="dismissisModalVerified()">CHIUDI</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ng-template>
</ion-modal>